			
                                
				<div class="recipe-detail__cook-wrap">
					<img src="/themes/tastytheme/src/images/prep_time.png" alt="time icon"/>
					<p class="recipe-detail__icon-text">
						{{'Prep Time' | trans }}:<br />
						{{nodeprepartiontime}}
					</p>
				</div>
				<div class="recipe-detail__cook-wrap">
					<img src="/themes/tastytheme/src/images/cook_time.png" alt="cook icon"/>
					<p class="recipe-detail__icon-text">
						{{ 'Cook Time' | trans }}:<br />
						{{nodecookingtime}}
					</p>
				</div>
				<div class="recipe-detail__cook-wrap">
					<img src="/themes/tastytheme/src/images/rating-stars.png" alt="rating icon"/>
					<p class="recipe-detail__icon-text">
						{{ 'Rating' | trans }}:<br />
					<div class="recipe-detail__rate">
						<input type="radio" id="star5" name="rate" value="5" {% if avg_rating == 5 %} checked="checked" {% endif %} />
						<label for="star5" title="text">5 stars</label>
						<input type="radio" id="star4" name="rate" value="4" {% if avg_rating == 4 %} checked="checked" {% endif %}/>
						<label for="star4" title="text">4 stars</label>
						<input type="radio" id="star3" name="rate" value="3" {% if avg_rating == 3 %} checked="checked" {% endif %}/>
						<label for="star3" title="text">3 stars</label>
						<input type="radio" id="star2" name="rate" value="2" {% if avg_rating == 2 %} checked="checked" {% endif %}/>
						<label for="star2" title="text">2 stars</label>
						<input type="radio" id="star1" name="rate" value="1" {% if avg_rating == 1 %} checked="checked" {% endif %}/>
						<label for="star1" title="text">1 star</label>
					</div>
					</p>
				</div>
