<div class="row">
    <div id="" class="container_signup">
        <h1 id="signup_h1" class="pink signika text-center uppercase">{{ 'JOIN TASTY REWARDS FOR MEMBER EXCLUSIVE COUPONS, CONTESTS, AND MORE.'|t }}</h1>
        <p>{{ 'Become a member and dig into the good stuff – instantly access money-saving offers, exclusive contests and more!  All for free and brought to you by your favourite PepsiCo Canada brands. How tasty is that?'|t }}</p>
        <hr class="signup_hr" class="bg-grey" />

        {% if (data.fbid is not defined)  %}
            <div class="fbcontainner"> 
                <button value="Facebook Connect" name="op" type="button" data-drupal-selector="edit-add-button" class=" fbconnect btn">{{ ' '|t }}</button>
            </div>
            <div class="clearfix" ></div>
            <div class="fbcontainner-bottom-line"> 
                <hr id="line-left" class="signup_hr" class="bg-grey" /><strong class="blue">{{ 'Or'|t }}</strong><hr id="line-right" class="signup_hr" class="bg-grey" />
            </div>
        {% endif %}

        <br>
        <br>
        <div class="clearfix" ></div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 pink form-group">
                <label class="formlabel">{{ 'First Name *'|t }} </label>
                <input type="text" name='firstname' id='firstname'  class="form-control" value="{{data.firstname?:''}}">
                <span class="help-block err_firstname"></span>
            </div>
            <div class="col-xs-12 col-sm-6 pink form-group">
                <label  class="formlabel">{{ 'Last Name *'|t }}</label>
                <input type="text" name='lastname' id='lastname' class="form-control" value="{{data.lastname?:''}}">
                <span class="help-block err_lastname"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 pink form-group">
                <label  class="formlabel">{{ 'Email *'|t }}</label>
                <input type="email" name='email' id='email' class="form-control" value="{{data.email?:''}}">
                <span class="help-block err_email"></span>
            </div>	
            <div class="col-xs-12 col-sm-6 pink form-group">
                <label  class="formlabel">{{ 'Confirm Email *'|t }}</label>
                <input type="email" name='confirm_email' id='confirm_email' class="form-control">
                <span class="help-block err_confirm_email"></span>
            </div>	
        </div>        

        <div class="row">
            <div class="col-xs-12 col-sm-6 pink form-group">
                <label  class="formlabel">{{ 'Password *'|t }}</label>
                <input type="password" name='password' id='password' class="form-control">
                <em class="grey"><small>{{ 'Must have a minimum of 8 & maximum of 16 characters containing only numbers and letters. Must include at least one number, one uppercase letter, one lowercase letter.'|t }}</small></em> 
                <span class="help-block err_password"></span>
            </div>	
            <div class="col-xs-12 col-sm-6 pink form-group">
                <label  class="formlabel">{{ 'Confirm Password *'|t }}</label>
                <input type="password" name='confirm_password' id='confirm_password' class="form-control">
                <span class="help-block err_confirm_password"></span>
            </div>	
        </div>           


        <div class="row">
            <div class="col-xs-12 col-sm-6 pink form-group show-selectnav">
                <label id="bday_label" class="formlabel">{{ 'Birthday *'|t }}</label>
                <div class="date-dropdowns">
                    <input type="hidden" id='bday' name='bday' class="form-control"  >
                    <select class="day form-control input-sm" name="bday_day" id="bday_day" >
                        {{ data.bdaydropdown.dayoption | raw }}
                    </select>
                    <select class="day form-control input-sm" name="bday_month" id="bday_month" >
                        {{ data.bdaydropdown.monthoption | raw }}
                    </select>
                    <select class="day form-control input-sm" name="bday_year" id="bday_year" >
                        {{ data.bdaydropdown.yearoption | raw }}
                    </select>
                </div>
                <span class="help-block err_bday pull-left"></span>
                <em class="grey pull-left"><small>{{"You must be at least 13 years of age or older to be a Tasty Rewards Member. <br />Why do we collect your birthday? <br />We use your birthday to send you a birthday greeting each year, and to provide the most relevant content for our members."|t|raw}}</small></em> 
            </div>	
            <div class="col-xs-12 col-sm-6 pink form-group">
                <label  class="formlabel">{{ 'Postal Code *'|t }}</label>
                <input type="text" name='postalcode' id='postalcode' class="form-control">
                <span class="help-block err_postalcode"></span>
            </div>	            
        </div>        


        <div class="row">
            <div class="col-xs-12 col-sm-6 pink form-group">
                <label  class="formlabel">{{ 'Gender'|t }}</label>
                <select id="gender" name="gender" class="form-control input-xlarge">
                    <option value=''>{{ ' '|t }}</option>
                    <option value='M'>{{ 'Male'|t }}</option>
                    <option value='F'>{{ 'Female'|t }}</option>
                    <option value='O'>{{ 'Other'|t }}</option>
                </select>
                <span class="help-block err_gender"></span>
            </div>
            <div class="col-xs-12 col-sm-6 pink form-group">
                <label class="control-label margin10">
                    <div class="g-recaptcha" data-callback="imNotARobot" data-sitekey="6LeZcyQUAAAAAGgYkkysYZ6XWz5oCUVg_2EjP_y8"></div>
                </label>
                <input type="hidden" id="grecaptcharesponse" name="grecaptcharesponse">
                <small class="help-block err_grecaptcharesponse"></small>
            </div>
        </div>
        <em class="pink"><small>*{{ 'Indicates Required Field'|t }}</small></em> 

         <div id="singup_newsletter" class="row">
            <div class="col-sm-4 pull-left form-group">
                    <img id="newsletter-icon" src="https://static.tastyrewards.ca/images/newsletter-icon.png" alt="newsletter" />
            </div>
            <div class="col-sm-8 form-group">
                <h4 class="signika pink bold">
                    {{ "SIGN UP for Tasty Rewards Newsletters"|t }}</h4>
                <p>
                     {{ "Be the first to know about exclusive member offers, contests and more!  Email is Tasty Rewards' primary means of keeping you in the loop regarding our tasty member exclusives - so be sure to sign up and not miss out."|t }}
                </p>      
                <label><input type = "checkbox" name='optin' id ='optin' value="1" >
                    <span class="casl">
                        {{ 'Yes! Keep me up to date on Tasty Rewards by email (and I have the option to unsubscribe at any time).'|t }}                                
                    </span> 
                </label>
                <span class="help-block err_optin"></span>
            </div>  
        </div> 


        <div class="form-group hidden">
            <input type="text" name='fbid' id='fbid' class="form-control" value="{{data.fbid?:''}}">
        </div>	
        <input type="hidden" name='csrfToken' id='csrfToken' value="{{data.csrfToken?:''}}">
        <input type="hidden" name='casl' id='casl'>
        <input type="hidden" name='source' id='source' value="{{data.source?:''}}">




        <div class="row">
            <div class="text-center form-group">
                <button type="button" class="btn btn-primary btnregister tr-signup">{{ 'SIGN UP'|t }} <span class="glyphicon glyphicon-spin"></span></button>
                <div id='form'>
                    <span class="help-block err_form"></span>
                </div>
            </div>	
        </div>        

        <br>

        <img src="{{ 'https://static.tastyrewards.ca/images/account-packshots-inv-update_sm.png'|t}}" alt="Packshots" class="max100" />
        <br>
          <div class="row">
            <div class="form-group">
                <strong><underline>{{ 'Contacting Us:'|t }}</underline></strong><br>
                        {{ 'PepsiCo Canada <br>5550 Explorer Drive, 8th Floor, Mississauga, ON L4W 0C3<br>'|t }}
                <a target="_blank" class="pink" href="{{ path('<front>') }}">{{ 'www.tastyrewards.ca'|t }}</a><br>
                {{ 'Your personal information will be used in accordance with our '|t }}
                <a href="{{"http://pepsico.ca/en/Privacy-Policy.html"|t}}" class="pink" target="_blank">{{ 'Privacy Policy'|t }}</a>
            </div>
        </div>
        
    </div>
</div>
