{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

{% if title %}
  {# <h3>{{ title }}</h3> #}
{% endif %}

<div class="carousel_fullwidth carousel_desktop js-recipe-carousel">
{% for row in rows %}
  {% set theme = row.content["#row"]._entity.getTranslation(language).field_color_theme.getValue().0.value %}
  {% set end_date = row.content["#row"]._entity.getTranslation(language).field_activation_enddate.getValue().0.value %}
  {% set start_date = row.content["#row"]._entity.getTranslation(language).field_activation_startdate.getValue().0.value %}

  {% if (date(end_date) > date('now') and date(start_date) < date('now')) or (end_date is empty and start_date is empty ) %}

    {% set title = row.content["#row"]._entity.getTranslation(language).title.getValue().0.value %}
    {% set subtitle = row.content["#row"]._entity.getTranslation(language).field_subtitle.getValue().0.value %}

    {% set link_url = row.content["#row"]._entity.getTranslation(language).field_cta_text.0.url %}
    {% set link_title = row.content["#row"]._entity.getTranslation(language).field_cta_text.0.title %}


    {% set img = file_url(row.content["#row"]._entity.getTranslation(language).field_carousel_image.0.entity.uri.value) %}
      {% set description = row.content["#row"]._entity.getTranslation(language).body.getValue().0.value %}
      {% set position = row.content["#row"]._entity.getTranslation(language).field_cta_position.getValue().0.value %}
      {% if position == 'C' %}
        {% set class_pos = 'slide-center' %}
      {% elseif position == 'R' %}
        {% set class_pos = 'slide-right' %}
      {% elseif position == 'L' %}
        {% set class_pos = 'slide-left' %}
      {% else %}
        {% set class_pos = 'slide-center' %}
      {% endif %}

    <div class="recipe_slide js-home-recipe" style="background-image: url('{{img}}');">
        <div class="recipe_slide--text banner-desktop {{theme}} {{class_pos}}" >
          <img src="/themes/tastytheme/src/images/restaurant_icon.png" alt="restaurant icon"/>
          <p class="recipe_slide-icon-text">{{ 'Recipes' | t }}</p>

          {% if subtitle %}
          <span>{{ subtitle | raw}}</span>
          {% endif %}

          {% if description %}
          <p>
            {{description|raw}}
          </p>
          {% endif %}

          {% if link_url %}
          <a class="btn_red js-recipe-cta" aria-label="{{ subtitle | raw}}" href="{{link_url}}">
            {{ link_title }}
          </a>
          {% endif %}
        </div>
    </div>

  {% endif %}

{% endfor %}

</div>

<div class="carousel_fullwidth carousel_mobile js-recipe-carousel">
{% for row in rows %}
  {% set thememobile = row.content["#row"]._entity.getTranslation(language).field_mobile_color_theme.getValue().0.value %}
  {% set end_date = row.content["#row"]._entity.getTranslation(language).field_activation_enddate.getValue().0.value %}
  {% set start_date = row.content["#row"]._entity.getTranslation(language).field_activation_startdate.getValue().0.value %}

  {% if (date(end_date) > date('now') and date(start_date) < date('now')) or (end_date is empty and start_date is empty ) %}

    {% set title = row.content["#row"]._entity.getTranslation(language).title.getValue().0.value %}
    {% set subtitle = row.content["#row"]._entity.getTranslation(language).field_subtitle.getValue().0.value %}

    {% set link_url = row.content["#row"]._entity.getTranslation(language).field_cta_text.0.url %}
    {% set link_title = row.content["#row"]._entity.getTranslation(language).field_cta_text.0.title %}


    {% set mobileimg = file_url(row.content["#row"]._entity.getTranslation(language).field_mobile_image.0.entity.uri.value) %}
      {% set description = row.content["#row"]._entity.getTranslation(language).body.getValue().0.value %}
      {% set position = row.content["#row"]._entity.getTranslation(language).field_cta_position.getValue().0.value %}
      {% if position == 'C' %}
        {% set class_pos = 'slide-center' %}
      {% elseif position == 'R' %}
        {% set class_pos = 'slide-right' %}
      {% elseif position == 'L' %}
        {% set class_pos = 'slide-left' %}
      {% else %}
        {% set class_pos = 'slide-center' %}
      {% endif %}

    <div class="recipe_slide mobile_recipe_slide js-home-recipe" style="background-image: url('{{mobileimg}}');">
        <div class="recipe_slide--text banner-mobile {{thememobile}} {{class_pos}}">
          <img src="/themes/tastytheme/src/images/restaurant_icon.png" alt="restaurant icon"/>
          <p class="recipe_slide-icon-text">{{ 'Recipes' | t }}</p>

          {% if subtitle %}
            <span> {{ subtitle | raw}}</span>
          {% endif %}

          {% if description %}
            <p>
              {{description|raw}}
            </p>
          {% endif %}

          {% if link_url %}
            <a class="btn_red js-recipe-cta" href="{{link_url}}">
              {{ link_title }}
            </a>
          {% endif %}
        </div>
    </div>

  {% endif %}

{% endfor %}

</div>