{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{#{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {{ row.content }}
  </div>
{% endfor %}#}

{% for row in rows %}
    
    {% set title = row.content["#row"]._entity.getTranslation(language).title.getValue().0.value %}
    {% set brand = row.content["#row"]._entity.getTranslation(language).field_brand.getValue().0.value %}

    {# {% set nid = row.content["#row"]._entity.nid.getValue().0.value%}
     {% set link = path('entity.node.canonical', {'node': nid}) %}#}
    
    {% set img = file_url(row.content["#row"]._entity.getTranslation(language).field_coupon_image.0.entity.uri.value) %}
    {% set img_alt = row.content["#row"]._entity.getTranslation(language).field_coupon_image.getValue().0.alt %}

    {% set link_uri = (row.content["#row"]._entity.getTranslation(language).field_coupon_link.getValue().0.uri |replace({'internal:': ''})) %}
    {% set link_title = row.content["#row"]._entity.getTranslation(language).field_coupon_link.getValue().0.title %}
     
    <div id="coupons" class="box size-2x1 pattern-white text-center related_content_coupon" onclick="promotionClickTracking(this);">
      
        <a  href="{{link_uri}}" id="mk-coupon-callout">
            <img class="coupon_tracking" src="{{img}}" alt="{{brand}}-{{img_alt}}" style="height:auto;width:100%;">
        </a>
        
    </div>
    {#<div id="coupons" class="box size-2x1 bg-yellow pattern-white text-center">
        <div class="coupon">
            <h2 class="white signika txt-pink-shadow uppercase">{{title}}</h2>
            <img class="second-slide" src="{{img}}" alt="{{img_alt}}" style="height:auto;width:70%;">
            <br><a class="btn btn-primary" href="{{link_uri}}">{{link_title}}</a>
        </div>
    </div>#}

{% endfor %}
