{#{% if is_product_page == 1 %}#}
{#  <span class="hidden"> PRODUCT-PAGE</span>#}
{#{% else %}#}
{#  <span class="hidden"> HOMEPAGE </span>#}
{#{% endif %}#}


<div class="container stacys-featured-recipes-container featured-recipe-position">

  <div class="row">

    <div class="col-md-12 stacys-recipe-header padding-bottom-medium">
      <h1>

        <svg class="stacy-pattern-padding" xmlns="http://www.w3.org/2000/svg" width="39.153" height="47.316" viewBox="0 0 39.153 47.316">
          <g id="Group_1553" data-name="Group 1553" transform="translate(268.829 -391.062)">
            <path id="Path_3972" data-name="Path 3972" d="M-249.611,407.117c10.614,0,19.218,7.6,19.218,7.6s-8.6,7.6-19.218,7.6-19.218-7.6-19.218-7.6S-260.225,407.117-249.611,407.117Z" {% if is_product_page == 1 %}fill="#2A2A2B"{% else %}{% if is_product_page == 1 %}fill="#2A2A2B"{% else %}fill="#ffb711"{% endif %}{% endif %}/>
            <path id="Path_3973" data-name="Path 3973" d="M-237.909,435.332c5.79-3.664,8.233-10.269,8.233-10.269s-6.943-.666-12.733,3-8.233,10.27-8.233,10.27S-243.7,438.995-237.909,435.332Z" {% if is_product_page == 1 %}fill="#2A2A2B"{% else %}{% if is_product_page == 1 %}fill="#2A2A2B"{% else %}fill="#ffb711"{% endif %}{% endif %}/>
            <path id="Path_3974" data-name="Path 3974" d="M-237.909,394.107c5.79,3.663,8.233,10.269,8.233,10.269s-6.943.666-12.733-3-8.233-10.269-8.233-10.269S-243.7,390.443-237.909,394.107Z" {% if is_product_page == 1 %}fill="#2A2A2B"{% else %}{% if is_product_page == 1 %}fill="#2A2A2B"{% else %}fill="#ffb711"{% endif %}{% endif %}/>
            <path id="Path_3975" data-name="Path 3975" d="M-249.611,407.117c10.614,0,19.218,7.6,19.218,7.6s-8.6,7.6-19.218,7.6-19.218-7.6-19.218-7.6S-260.225,407.117-249.611,407.117Z" {% if is_product_page == 1 %}fill="#2A2A2B"{% else %}{% if is_product_page == 1 %}fill="#2A2A2B"{% else %}fill="#ffb711"{% endif %}{% endif %}/>
            <path id="Path_3976" data-name="Path 3976" d="M-237.909,435.332c5.79-3.664,8.233-10.269,8.233-10.269s-6.943-.666-12.733,3-8.233,10.27-8.233,10.27S-243.7,438.995-237.909,435.332Z" {% if is_product_page == 1 %}fill="#2A2A2B"{% else %}{% if is_product_page == 1 %}fill="#2A2A2B"{% else %}fill="#ffb711"{% endif %}{% endif %}/>
            <path id="Path_3977" data-name="Path 3977" d="M-237.909,394.107c5.79,3.663,8.233,10.269,8.233,10.269s-6.943.666-12.733-3-8.233-10.269-8.233-10.269S-243.7,390.443-237.909,394.107Z" {% if is_product_page == 1 %}fill="#2A2A2B"{% else %}{% if is_product_page == 1 %}fill="#2A2A2B"{% else %}fill="#ffb711"{% endif %}{% endif %}/>
          </g>
        </svg>
        {{ 'Recipes'|t }}
        <svg class="stacy-pattern-padding" xmlns="http://www.w3.org/2000/svg" width="39.153" height="47.316" viewBox="0 0 39.153 47.316">
          <g id="Group_1554" data-name="Group 1554" transform="translate(-229.676 438.377) rotate(180)">
            <path id="Path_3972" data-name="Path 3972" d="M-249.611,407.117c10.614,0,19.218,7.6,19.218,7.6s-8.6,7.6-19.218,7.6-19.218-7.6-19.218-7.6S-260.225,407.117-249.611,407.117Z" {% if is_product_page == 1 %}fill="#2A2A2B"{% else %}fill="#ffb711"{% endif %}/>
            <path id="Path_3973" data-name="Path 3973" d="M-237.909,435.332c5.79-3.664,8.233-10.269,8.233-10.269s-6.943-.666-12.733,3-8.233,10.27-8.233,10.27S-243.7,438.995-237.909,435.332Z" {% if is_product_page == 1 %}fill="#2A2A2B"{% else %}fill="#ffb711"{% endif %}/>
            <path id="Path_3974" data-name="Path 3974" d="M-237.909,394.107c5.79,3.663,8.233,10.269,8.233,10.269s-6.943.666-12.733-3-8.233-10.269-8.233-10.269S-243.7,390.443-237.909,394.107Z" {% if is_product_page == 1 %}fill="#2A2A2B"{% else %}fill="#ffb711"{% endif %}/>
            <path id="Path_3975" data-name="Path 3975" d="M-249.611,407.117c10.614,0,19.218,7.6,19.218,7.6s-8.6,7.6-19.218,7.6-19.218-7.6-19.218-7.6S-260.225,407.117-249.611,407.117Z" {% if is_product_page == 1 %}fill="#2A2A2B"{% else %}fill="#ffb711"{% endif %}/>
            <path id="Path_3976" data-name="Path 3976" d="M-237.909,435.332c5.79-3.664,8.233-10.269,8.233-10.269s-6.943-.666-12.733,3-8.233,10.27-8.233,10.27S-243.7,438.995-237.909,435.332Z" {% if is_product_page == 1 %}fill="#2A2A2B"{% else %}fill="#ffb711"{% endif %}/>
            <path id="Path_3977" data-name="Path 3977" d="M-237.909,394.107c5.79,3.663,8.233,10.269,8.233,10.269s-6.943.666-12.733-3-8.233-10.269-8.233-10.269S-243.7,390.443-237.909,394.107Z" {% if is_product_page == 1 %}fill="#2A2A2B"{% else %}fill="#ffb711"{% endif %}/>
          </g>
        </svg>

      </h1>
    </div>

  </div>
</div>

<div id="stacys-feature-recipe" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators featured-carousel-indicators">
    {% for idx, recipe in featured_recipes %}
      <li data-target="#stacys-feature-recipe" data-slide-to="{{ idx }}" class="{{ idx==0 ? 'active' :'' }}"></li>
    {% endfor %}
  </ol>

  <div class="carousel-inner container">
    {% for idx, recipe in featured_recipes %}
      <div class="row carousel-item {{ idx==0 ? 'active' :'' }}">
        <div class="col-md-4 stacys-recipe-col">

          <a href="{{ recipe.link }}" class="stacys-recipe-img-link" aria-label="{{ recipe.title|raw }}">
            <div class="stacys-recipe-thumbnail {% if recipe.img_position is empty %} img-align-center {% else %} img-align-{{ recipe.img_position }} {% endif %}" style="background-image: url('{{ recipe.image_url }}');"></div>
          </a>

          <div class="row featured-recipe-stars stars-flex-end">
            <div class="col-md-6 noMobile-md"></div>
            <div class="stacys-stars-corner">
              <div class="stacys-stars">
                {% for i in 1..5 %}
                  <span {% if i <= recipe.rating %}class="checked"{% endif %}></span>
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="stacys-recipe-copy">

            <h3>
              {{ recipe.title|raw }}
            </h3>

            {# <p class="stacys-product-description"> #}
            {# {{ recipe.body|raw }} #}
            {# </p> #}

          </div>

          {# <div class="stacys-recipe-btn"> #}
          {# <a class="btn_stacys" href="{{ recipe.link }}"> #}
          {# {{ 'View Recipe'|t }} #}
          {# </a> #}
          {# </div> #}

        </div>
      </div>

    {% endfor %}
  </div>

  <a class="carousel-control-prev" href="#stacys-feature-recipe" role="button" data-slide="prev" aria-label="toggle arrow">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a class="carousel-control-next" href="#stacys-feature-recipe" role="button" data-slide="next" aria-label="toggle arrow">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>

</div>

<div class="container text-center">
  <div class="row">

    <div class="col-md-12 m-auto stacys-featured-recipes-view-more">
      <a class="{% if is_product_page == 1 %}btn_stacys-dark{% else %}btn_stacys{% endif %}" href="/{{ lang_prefix }}/brands/{{ brand }}/recipes">
        {{ 'View More Recipes'|t }}
      </a>
    </div>

  </div>

</div>

