{# {% if featured_products|length %} #}
{# <h2>{{ 'Featured products'|t }}</h2> #}
{# {% endif %} #}
{# <div class="carousel_fullwidth carousel_desktop js-main-carousel-sunchips"> #}
{# {% for product in featured_products %} #}
{# <div class="banner_slide home_slide" data-nid="{{ nid }}"> #}
{# <div class="banner-desktop"> #}
{# <div class="sunchips-featured--container"> #}
{# <div class="sunchips-feature--display"> #}
{# <div class="sunchips-feature--leftcol"> #}
{# <img class="product-image" src="{{ product.extra_image_url }}"> #}
{# </div> #}
{# </div> #}
{# <div class="sunchips-coupon--text"> #}
{# <div class="sunchips-banner_slide--text"> #}
{# <span class="product-title"> {{ product.title|raw }}</span> #}
{# {% set trimmed_body = truncateText(product.body|raw, 20) %} #}
{# #}{# <span class="sunchips-product-description"> {{product.body|raw}}</span> #}
{# <br> #}
{# <div class="sunchips-btn"> #}
{# <a href="{{ product.link }}" title="{{ product.title | raw }}"> #}
{# {{ 'View Product'|t }} #}
{# </a> #}
{# </div> #}
{# </div> #}
{# </div> #}
{# </div> #}
{# </div> #}

{# </div> #}
{# {% endfor %} #}
{# </div> #}


<div class="container">
  <div class="row">

    <div class="col-md-12 featured-prod-heading text-center">
      {% if featured_products|length %}
        <h1>{{ 'PRODUCTS'|t }}</h1>
        <img class="w-sunchips-hr" src="/themes/brandstheme/src/images/sunchips/sunchips-hr.svg" alt="Sunchips Heading hr">
      {% endif %}
    </div>

  </div>
</div>

{# Test coment #}
<div id="sunchips-featured-products-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators featured-carousel-indicators">
    {% for idx, product in featured_products %}
      <li data-target="#sunchips-featured-products-carousel" data-slide-to="{{ idx }}" class="{{ idx==0 ? 'active' :'' }}"></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner container">
    {% for idx, product in featured_products %}
      <div class="row carousel-item {{ idx==0 ? 'active' :'' }}">

       <div class="col-md-12">

         <div class="row sunchips-featured-prod-row">
           <div class="col-md-1 noMobile-md"></div>
           <div class="col-md-5 sunchips-featured-prod-img-col text-center">

             <img loading="lazy" class="" src="{{ product.image_url }}" alt="{{ product.title | raw }}">

           </div>

           <div class="col-md-5 sunchips-featured-product-description text-center">
             <h4>
               {{ product.title|raw }}<br>
               {% set trimmed_body = truncateText(product.body|raw, 20) %}
             </h4>

             <div class="sunchips-view-featured-products">
               <a class="btn_sunchips" href="{{ product.link }}" title="{{ product.title | raw }}">
                 {{ 'View Product'|t }}
               </a>
             </div>

           </div>
           <div class="col-md-1 noMobile-md"></div>
         </div>

       </div>


      </div>

    {% endfor %}
  </div>

  <a class="carousel-control-prev" href="#sunchips-featured-products-carousel" role="button" data-slide="prev" aria-label="toggle arrow">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#sunchips-featured-products-carousel" role="button" data-slide="next" aria-label="toggle arrow">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>


<div class="sunchips-featured-prod-parallax">
  <img class="w-featured-product-parallax" src="/themes/brandstheme/src/images/sunchips/sunchips-featured-products-parallax.png" alt="Sunchips featured products parallax">
</div>
