
{% if logged_in %}
    {% set newregister = 0 %}
{% else %}
    {% set newregister = 1 %}
{% endif %}


{% if data.is_snackperk_user == 1 %}
    {% set form_field_status = "disabled" %}
{% else %}
    {% set form_field_status = "" %}
{% endif %}

{% set subtitle = data.subtitle %}
{% set color = data.colorTheme %}
{% set mobileColor = data.mobileColorTheme %}
{# {% set textPosition = data.bannerTextPosition %} #}
{# {% set description = data.body %} #}
{{ data.tag | raw }}
{{ attach_library( 'pepsicontest/signup' ) }}
{{ attach_library( 'pepsicontest/validation' ) }}
{# <section id="banner">
    <div class="banner_slide" style="background-image: url('{{ file_url(data.headerimage) }}');">
    </div>
    <div class="arrow-section-general"></div>
</section> #}

<style>
    .fb-hidden.contest-detail__form-social{
        justify-content: center !important;
    }

    section#contest .contest-detail__sign-up-select-checkbox {
        display: block !important;
    }
</style>
{% include '@pepsicontest/includes/invisible_captcha.html.twig' %}

<script type="text/javascript">
    function submitForm(){
        if (SignUpPopIsActive()) return false; 
        window.submit_contestform();
    }

    function SignUpPopIsActive(){
        var sign_popup = document.getElementsByClassName("modal__container-sign-up");
        if (sign_popup && sign_popup.length == 0) return false;
        const style = getComputedStyle(sign_popup[0]);
        if (style.visibility == "hidden") return false;
        return true;
    }    
</script>
{#
{% if data.error|length > 0 %}
    <script type="text/javascript">
        console.log("reset captcha")
        grecaptcha.reset();
        console.log(grecaptcha);
    </script>
{% endif %}
{% if data.error.grecaptcharesponse %}
    <script type="text/javascript">
        alert("error captcha response");
    </script>
{% endif %}
#}

{% if data.contest_type == 'gameday' %}
    {% include '@pepsicontest/includes/gameday_register.html.twig' %}
{% else %}

{{ attach_library('tastytheme/help_modal') }}
{% if data.contest_type == 'exclusive' %}
    {{ attach_library( 'pepsicontest/exclusive_contest' ) }}
{% endif %}
{% if data.has_error %}
    <script type="text/javascript">
        window.scrollToForm = true;
    </script>
{% endif %}
{{ attach_library('pepsicontest/regularcontest') }}
<section id="banner">
<div class="banner_slide contest-register">
    <div class="banner-desktop"  style="background-image: url('{{ file_url(data.headerimage) }}');">
        <div class="banner_slide--text {{class_pos}} contest-banner-text">
            {# {{ kint(row.content["#row"]._entity.getTranslation(language).field_activation_enddate.getValue().0.value) }} #}
            {# <span class="end_date"> {{ end_date }}</span> #}

            {% if subtitle and color != 'hidden' %}
                 <h1 class="h1 {{color}}"> {{ subtitle | raw}}</h1>
            {% endif %}

            {% if description %}
                <p>
                    {{description|raw}}
                </p>
            {% endif %}

            {% if link_url %}
                <a class="btn_red {{is_signuplink? 'sign-up-link'}}" href="{{link_url}}">
                    {{ link_title }}
                </a>

            {% endif %}

        </div>
    </div>
    {# <div class="banner-mobile"  style="background-image: url('{{mobileimg}}');"> #}
    <div class="banner-mobile"  style="background-image: url('{{ file_url(data.headermobileimage) }}');">
        <div class="banner_slide--text slide-left {{class_pos}}">
            {# {{ kint(row.content["#row"]._entity.getTranslation(language).field_activation_enddate.getValue().0.value) }} #}
            {# <span class="end_date"> {{ end_date }}</span> #}

            {% if subtitle %}
                {# <h1> {{ subtitle }}</h1> #}
               {#  <span class="h1 {{mobileColor}}  {{textPosition}}"> {{ subtitle | raw }} </span> #}
            {% endif %}

            {% if description %}
                <p>
                    {{description|raw}}
                </p>
            {% endif %}

            {% if link_url %}
                <a class="btn_red" href="{{link_url}}">
                    {{ link_title }}
                </a>

            {% endif %}

        </div>
    </div>
    <div class="arrow-section-general"></div>
</div>
</section>

<section id="contest">
    <div class="contest-detail__wrapper">
        <div class="contest-detail__view">
            <h1 class="show_mobile">{{ data.title | raw}}</h1>
            <p class="contest-detail__about">
                {{ data.description | raw }}
            </p>

            <div class="contest-detail__social-media social-share" style="text-align: center; padding-top: 25px">
                <p class="contest-detail__social-media-wrap-paragraph">{{'Share Contest'|t}}</p>
                <input type="hidden" id="socialshareicons" name="socialshareicons" value="crcntest">
                <input type="hidden" id="socialshareiconscontest" name="socialshareiconscontest" value="{{data.contesturi}}">
                <input type="hidden" id="socialshareiconstext" name="socialshareiconstext" value="{{'Check out Tasty Rewards™ for exclusive contests, coupons, recipes, and more!'|t}}">
                <a href="#" id="mk-recipe-fb" aria-label = "icon facebook link"><span class="fa fa-lg fa-facebook"></span></a>
                <a href="#" id="mk-recipe-tw" aria-label = "icon twitter link"><span class="fa fa-lg fa-twitter"></span></a>
                <a href="#" id="mk-recipe-pin" aria-label = "icon pinterest link"><span class="fa fa-lg fa-pinterest"></span></a>
            </div>

        </div>
        <div class="contest-detail__form">

            {% if (data.status == 1) %} {#opened#}
                <form data-toggle="validator" role="form" id='contestsignup-form' method="POST" autocomplete="off">
                {% if data.is_snackperk_user != 1 %}
                    <h2>

                        <a class="blue_h2 sign_in jsModalSignIn" href="{{ path('user.login') }}">{{'Already Have an Account?'|t}}</a>

                    </h2>

                    <div class="contest-detail__form-social fb-hidden">
                        <button type="submit" class="contest-detail__sign-up-fb fbconnect hidden">
                            <img src="/themes/tastytheme/src/images/fb-logo.PNG" alt="facebook" />
                            {{ 'Sign up with Facebook' | trans }}
                        </button>
                        <div id="okta-contest">
                            <div id="okta-contest-container"></div>
                        </div>
                    </div>
                    <p class="contest-detail__or">
                        <span>{{ 'or' | trans }}</span>
                    </p>
                {% endif %}

                    <input type="hidden" name="newregister"  value="{{newregister}}">
                    {% if data.language != 'en-us' and data.language != 'es-us' %}
                        <p class="modal__inquiry">{{ "* Indicates required field."|t }}</p>
                    {% endif %}
                  <label for = "contest-email" class = "visuallyhidden"> Email </label>
                    <input type="text" id="contest-email" class="contest-detail__input {{data.error.email?'has-error':''}}" name="email" placeholder="{{ 'Email *'| t }}" value="{{data.email?:''}}" {{data.email?form_field_status:''}}>

                    <span class="help-block err_email">{{data.error.email| raw?:''  }}</span>
                    <div class="contest-detail__user-name">
                        <div class="contest-detail__user-name-col">
                          <label for="contest-firstname" class = "visuallyhidden"> Firstname </label>
                            <input type="text" id="contest-firstname" class="contest-detail__user-first-name {{data.error.firstname?'has-error':''}}" name='firstname' id="contest-firstname"  placeholder="{{ 'First Name *'|t }}" value="{{data.firstname?:''}}"  {{data.firstname?form_field_status:''}}>

                            <span class="help-block err_firstname">{{data.error.firstname?:''}}</span>
                        </div>

                        <div class="contest-detail__user-name-col">
                          <label for = "contest-lastname" class = "visuallyhidden"> Lastname </label>
                            <input type="text" id="contest-lastname" class="contest-detail__user-last-name {{data.error.lastname?'has-error':''}}" name="lastname" placeholder="{{ 'Last Name *'|t }}" value="{{data.lastname?:''}}"  {{data.lastname?form_field_status:''}}>

                            <span class="help-block err_lastname">{{data.error.lastname?:''}}</span>
                        </div>
                    </div>


                  <label for = "contest-postalcode" class = "visuallyhidden"> Postalcode </label>
                    <input type="text" id="contest-postalcode" class="contest-detail__input {{data.error.postalcode?'has-error':''}}" name="postalcode" placeholder="{{ 'Postal Code'|t }} *" value="{{data.postalcode?:''}}" {{data.postalcode?form_field_status:''}}>

                    <span class="help-block err_email">{{data.error.postalcode| raw?:''  }}</span>

                    <div>
                        <div class="contest-detail__user-password">
                          <label for = "contest-password" class = "visuallyhidden"> Password </label>
                            <input type="password" id = "contest-password" class="contest-detail__input {{data.error.password?'has-error':''}}" name="password" id="contest-password" placeholder="{{ 'Password'|t }} *" value="{{data.password?:''}}">

                            <span toggle="#password-field-signup" class="field-icon toggle-password-signup"></span>
                            <a href="#/" class="contest-detail__user-info-icon tip {{data.language}}">
                                <img src="/themes/tastytheme/src/images/information.png" alt="{{'information'|trans }}" />


                                <p>
                                    {% if data.language == 'en' or data.language == 'fr' %}
                                        {{ 'Must Contain:<br>At least 8 characters<br>A lower case letter<br>An upper case letter<br>A number<br>A symbol<br>No parts of your username' | raw | trans }}
                                    {% else %}
                                        {{ 'Must have a minimum of 8 and a maximum of 16 characters containing only numbers and letters. Must include at least one number, one uppercase letter and one lowercase letter.' | trans }}
                                    {% endif %}
                                </p>
                            </a>
                        </div>

                        <span class="help-block err_password">{{data.error.password?:''}}</span>
                    </div>

{#                    <p class="contest-detail__container-birth">{{ 'Date of Birth'| t}}  *</p>#}


                    <div>
                        <div class="contest-detail__sign-up-birth {{data.error.bday?'has-error':''}}">
                          <label for = "contest-bday" class = "visuallyhidden"> Birthday </label>
                            <input type="hidden" name='bday' id="contest-bday" class="form-control"  >

                            {% if data.language == 'en-us' and data.language == 'es-us' %}
                              <label class = "visuallyhidden"> Month </label>
                                <select id = "contest-bday-month" class="contest-detail__sign-up-select form-control" name="bday_month">
                                    {{ data.bdaydropdown.monthoption | raw }}
                                </select>
                              <label class = "visuallyhidden"> Day </label>
                                <select class="contest-detail__sign-up-select form-control" name="bday_day">
                                    {{ data.bdaydropdown.dayoption | raw }}
                                </select>
                            {% else %}
                              <label class = "visuallyhidden"> Day </label>
                                <select class="contest-detail__sign-up-select form-control" name="bday_day">
                                    {{ data.bdaydropdown.dayoption | raw }}
                                </select>
                              <label class = "visuallyhidden"> Month </label>
                                <select class="contest-detail__sign-up-select form-control" name="bday_month">
                                    {{ data.bdaydropdown.monthoption | raw }}
                                </select>
                            {% endif %}
                          <label class = "visuallyhidden"> Year </label>
                            <select class="contest-detail__sign-up-select form-control" name="bday_year">
                                {{ data.bdaydropdown.yearoption | raw }}
                            </select>

                            <a href="#/" class="contest-detail__user-info-icon tip">
                                <img src="/themes/tastytheme/src/images/information.png" alt="{{'information'|trans }}" />
                                <p>
                                    {{"You must be at least 13 years of age or older to be a Tasty Rewards<sup>TM</sup> Member. <br />Why do we collect your birthday? <br />We use your birthday to send you a birthday greeting each year, and to provide the most relevant content for our members."|t|raw}}
                                </p>
                            </a>
                        </div>

                        <span class="help-block err_email">{{data.error.bday| raw?:''  }}</span>
                    </div>

                    <div>
                        <div class="contest-detail__sign-up-gender">
                          <label for = "contest-gender" class = "visuallyhidden"> Gender </label>
                            <select id="contest-gender" class="form-control contest-detail__sign-up-select-gender {{data.error.gender?'has-error':''}}" name="gender">
                                <option value='' >{{ 'Gender'|t }}</option>
                                <option value='M' {{ data.gender=='M'?'selected':'' }}>{{ 'Male'|t }}</option>
                                <option value='F' {{ data.gender=='F'?'selected':'' }}>{{ 'Female'|t }}</option>
                                <option value='O' {{ data.gender=='O'?'selected':'' }}>{{ 'Other'|t }}</option>
                            </select>
                            {% if data.langcode == 'en-us' or data.langcode == 'es-us' %}
                            <div id="gender_tooltip">
                          <a href="#/" class="contest-detail__user-info-icon tip gender-tooltip">
                            {% include '@pepsicontest/includes/gender_tooltip.html.twig' %}
                          </a>
                        </div>
                          {% endif %}
                        </div>
                        <span class="help-block err_email">{{data.error.gender| raw?:''  }}</span>
                    </div>

                {% if data.langcode == 'en-us' or data.langcode == 'es-us' %}
                    {#
                    <div class="contest-detail__sign-up-select-checkbox" id="news-signup">
                            <div class="contest-detail__checkboxes-wrap">
                                <input type="checkbox" class="contest-detail__checkboxes-color" id="contest_optin3" name='optin3'  {{ data.optin3==1?'checked' }}/>
                                <label for="contest_optin3" class=""></label>
                                <p class="contest-detail__checkbox-text optin3">{{'Sign up for the latest news & offers from Snacks.com, PepsiCo, and its brands'| t }}</p>
                            </div>
                    </div>
                    #}
                    <div class="contest-detail__sign-up-select-checkbox" id="eligible">
                            <div class="contest-detail__checkboxes-wrap">
                                <input type="checkbox" class="contest-detail__checkboxes-color" id="contest_optin_rules" name='optin_rules'  {{ data.optin_rules==1?'checked' }}/>
                                <label for="contest_optin_rules"><p class = "visually-hidden">Agree</p></label>
                                <p class="contest-detail__checkbox-text optin_rules">{{'I agree to the'|t}} <a href="{{data.rules_link}}">{{'official rules'|t}}</a> {{'and  <a href="https://www.pepsico.com/legal/privacy" target="_blank">privacy policy.</a>*'| t | raw}}</p>
                            </div>
                      <span class="help-block err_optin_rules">{{data.error.optin_rules?:''}}</span>
                    </div>
                {% endif %}

                    <div class="contest-detail__sign-up-select-checkbox" id = "signmeup">
                    {% if data.contest_type == 'exclusive' %}
                        <p class="exclusive modal__inquiry"> {{'Please select the option that applies: '|t}}</p>
                        <input type="hidden" name="contest_type"  value="exclusive">
                        <div class="contest-detail__age-check-select-checkbox">
                            <div class="contest-detail__checkboxes-wrap">
                                <input type="checkbox" class="contest-detail__checkboxes-color js-age-checkbox" id="optin_majority" name='optin_majority'  {{ data.optin_majority==1?'checked' }}/>
                              <label for="optin_majority"></label>
                                <p class="contest-detail__checkbox-text optin">{{'I am the age of majority in my province/territory of residence'| t }}</p>
                            </div>
                            <span class="help-block err_email">{{data.error.optin_majority| raw?:''  }}</span>
                        </div>
                        <div class="contest-detail__age-check-select-checkbox">
                            <div class="contest-detail__checkboxes-wrap">
                                <input type="checkbox" class="contest-detail__checkboxes-color js-age-checkbox" id="optin_parental" name='optin_parental'  {{ data.optin_parental==1?'checked' }}/>
                              <label for="optin_parental"></label>
                                <p class="contest-detail__checkbox-text optin">{{'I am between the age of 13 and the age of majority in my province/territory of residence, and have parental permission to participate'| t }}</p>
                            </div>
                            <span class="help-block err_email">{{data.error.optin_parental| raw?:''  }}</span>
                        </div>
                    {% endif %}
                    <div class="contest-detail__sign-up-select-checkbox">

                        <div class="contest-detail__checkboxes-wrap">
                            <input type="checkbox" class="contest-detail__checkboxes-color" id="contest_optin" name='optin'  {{ data.optin==1?'checked' }}/>
                            <label for="contest_optin"><p class = "visually-hidden">Sign Up</p></label>
                            <p class="contest-detail__checkbox-text optin">{{'Yes! Sign me up to Tasty Rewards<sup>TM</sup> by email so I never miss out on exciting updates, offers or contests (and I have the option to unsubscribe at any time).'| t }}</p>
                        </div>
                    </div>


                    {% for question in data.questions %}
                        {% set questionid = question.questionid %}


                        <div class="contest-detail__checkboxes-flavour">

                            <div class="col-xs-12 form-group no-padding contest-detail__checkboxes-flavour-wrap{{attribute(data.error.q, questionid)?'has-error':''}}">
                                <p class="contest-detail__container-birth">{{ question.subject|raw }} *</p>
                                <input type="hidden" name="questiontype[{{questionid}}]" value ="{{question.type}}">
                                <input type="hidden" name="questionid[{{questionid}}]" value="{{questionid}}">
                                <div class="contestsignup_checkbox_container">
                                    {% if question.type == 'SingleChoice' or question.type == 'TrueFalse'  %}
                                        {% for answer in question.answers %}
                                            {% set answ = attribute(data.answ, questionid) %}
                                            {% set chked = ''%}
                                            {% if loop.index0 in answ %}
                                                {% set chked = 'checked'%}
                                            {% endif %}

                                            <div class="contest-detail__select-checkbox">
                                                <div class="contest-detail__checkboxes-wrap">
                                                    <input type="radio" class="contest-detail__checkboxes-color" id="checkbox{{ loop.index}}" name="answ[{{questionid}}][]" value="{{ loop.index}}" />
                                                    <label for="checkbox{{ loop.index}}">
                                                        <p class="contest-detail__checkbox-text-flavour">{{ answer.value}}</p>
                                                    </label>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% elseif question.type == 'MultipleChoice' %}
                                        {% for answer in question.answers %}
                                            {% set answ = attribute(data.answ, questionid) %}
                                            {% set chked = ''%}
                                            {% if loop.index0 in answ %}
                                                {% set chked = 'checked'%}
                                            {% endif %}
                                            <div class="contest-detail__select-checkbox">
                                                <div class="contest-detail__checkboxes-wrap">
                                                    <input type="checkbox" class="contest-detail__checkboxes-color" id="checkbox1{{ loop.index}}" name="answ[{{questionid}}][{{ loop.index}}]"  />
                                                    <label for="checkbox1{{loop.index}}">
                                                        <p class="contest-detail__checkbox-text-flavour">{{ answer.value}}</p>
                                                    </label>
                                                </div>
                                            </div>

                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <span class="help-block err_q">{{  attribute(data.error.q, questionid) }}</span>
                            </div>

                        </div>

                    {% endfor %}


                    <div class="contest-detail__sign-up-select-button">
                        <input type="hidden" id="grecaptcharesponse_contest" name="grecaptcharesponse_contest">
                        <input type="hidden" name='socialsource' id='contest-socialsource'>
                        {# <input id="submitcontest" class="contest-detail__sign-up-button" type="button" value="{{'Enter Contest' | t}}"> #}
                        <button class="g-recaptcha contest-detail__sign-up-button js-contestsubmit" data-sitekey="6LfHi6QUAAAAAOmu4l357IDLsLFuhXLbeKpHG9XZ" data-callback='submitForm'>{{'Enter Contest' | t}}</button>

                    </div>
                     {# <div id='recaptcha' class="g-recaptcha" data-bind="submitcontest" data-sitekey="6LcR57IUAAAAAHueW8P4hBoYdQAi1HJ0mrUIZXeB" data-callback="submitForm" data-size="invisible"></div> #}

                    <div class="contest-detail__sign-up-select-button">
                        <span class="help-block err_form">{{data.error.form| raw?:''  }}</span>
                    </div>
                    <div class="contest-detail__sign-up-select-button">
                        <span class="help-block err_captcha">{{data.error.grecaptcharesponse| raw?:''  }}</span>
                    </div>
                {% if data.language != 'en-us' and data.language != 'es-us'%}
                    <div class="contact-us">

                       <span >{{ 'Contacting Us:'|t}} </span>
                        <br>
                        {{'PepsiCo Canada <br> 2095 Matheson Boulevard East<br> Mississauga, ON L4W 0G2<br> www.tastyrewards.ca'|t}}
                        <br>
                        <br>
                        {{ 'Your personal information will be collected and used in accordance with our <a class="privacy-policy" target="_blank" href="http://www.pepsico.ca/en/Privacy-Policy.html"> Privacy Policy</a>.'|t}}

                    </div>
                {% else %}
                        <br>
                        <p style="align-content: center">
                        {{"To learn more about how we use your information, please read PepsiCo's"|t}}

                       <a class="privacy-policy" target="_blank" href="{{'https://www.pepsico.com/legal/privacy'|t}}"> {{"Privacy Policy"|t}}</a>,
                       <a class="privacy-policy" target="_blank" href="{{'https://www.pepsico.com/legal/terms-of-use'|t}}">{{"Terms & Conditions"|t}}</a>
                       {{"and"|t}} <a class="privacy-policy" target="_blank" href="{{'https://policy.pepsico.com/aboutads.htm'|t}}">{{"About our Ads"|t}}</a>.

                        </p>

                {% endif %}
                </form>

            {% else %}

                <div class="row">
                    <hr class="signup_hr" class="bg-grey" />
                    <div class="col-sm-12 text-center form-group">

                        {% if (data.status == 2) %} {#comming soon#}
                            <h4 class="pink signika">{{ 'Contests is not available at the moment. Please check back soon.' | t  }}</h4>
                        {% elseif (data.status == 3) %} {#closed #}
                            <h4 class="pink signika">{{ 'Thank you for your interest. The contest is now closed.' | t  }}</h4>
                        {% elseif (data.status == 4) %} {#already participate #}
                            <h4 class="pink signika">{{ 'You have already entered this contest. You can only participate once for the duration of the Contest.' | t  }}</h4>
                        {% else %} {#already participate #}

                        {% endif %}

                        <a class="btn btn-primary" href="{{ url('pepsicontest.landing') }}">{{ 'Return to contest' | t }}</a>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>

</section>

<section id="brands">
    <!--brand carousel -->
    {% include '@tastytheme/includes/brands.html.twig' %}
    <!--brand carousel end -->

</section>



{% endif %}
