<script type="text/javascript">
</script>

{{ attach_library( 'pepsibrands/realjoy_export' ) }}

<h2 class=""> {{data.title}} </h2>

{% include '@pepsicontest/includes/contest_stats_filters.html.twig' %}

<div class="container">
	<table class="views-table views-view-table cols-9 responsive-enabled sticky-enabled">
   <thead>
      <tr>
         <th id="view-title-table-column" class="views-field views-field-title" scope="col">{{'Contest Name'|t}}</th>
         <th id="view-title-table-column" class="views-field views-field-title" scope="col">{{'Total entries'|t}}</th>
         <th id="view-title-table-column" class="views-field views-field-title" scope="col">{{'Unique entries'|t}}</th>
         <th id="view-title-table-column" class="views-field views-field-title" scope="col">{{'Optin'|t}}</th>
      </tr>
   </thead>
   <tbody>
	{# {% for entry in data.stats %} #}
      <tr>
         <td headers="view-title-table-column" class="views-field views-field-title">{{data.stats.contest_name}} </td>
         <td headers="view-title-table-column" class="views-field views-field-title">{{data.stats.total}} </td>
         <td headers="view-title-table-column" class="views-field views-field-title">{{data.stats.unique}} </td>
         <td headers="view-title-table-column" class="views-field views-field-title">{{data.stats.optin}} </td>
      </tr>
	{# {% endfor %} #}
   </tbody>
</table>

{# <input data-drupal-selector="edit-clear" type="submit" id="edit-download" name="op" value="Export Csv" class="button js-export-csv  form-submit" data-link="{{data.csv_link}}"> #}


</div>
