<div class="panel">
   <h3 class="panel__title">{{'Contests'|t}}</h3>
   <div class="panel__content">
      <ul class="admin-list">
         <li>
            <a href="/en-ca/admin/contests/draw-winner">
               <span class="label">{{'Pick contest winner'|t}}</span>
               <div class="description">{{'Randomly generates a list of winner'|t}}</div>
            </a>
         </li>
         <li>
            <a href="/en-ca/admin/contests/stats">
               <span class="label">{{'Contests Stats'|t}}</span>
               <div class="description">{{'All statistics per contests'|t}}</div>
            </a>
         </li>
         <li>
            <a href="/en-ca/admin/contests/entries">
               <span class="label">{{'Contest Entries'}}</span>
               <div class="description">{{'All contest entries'}}</div>
            </a>
         </li>
         <li>
            <a href="/en-ca/admin/quaker/receipts/entries">
               <span class="label">{{'Quaker Feed Canada '}}</span>
               <div class="description">{{'All entries and receipts'}}</div>
            </a>
         </li>
         <li>
            <a href="/en-ca/admin/users/source-id">
               <span class="label">{{'SourceID Report'}}</span>
               <div class="description">{{'User numbers per source ID'}}</div>
            </a>
         </li>
         
      </ul>
   </div>
</div>