{# <nav role="navigation" aria-label="main navigation"> #}
{# #}
{# <!-- LOGO --> #}
{# <a href="https://www.tostitos.ca" class="logo"> #}
{# <h1> #}
{# <img src="https://www.fritolay.com/sites/fritolay.com/themes/fritolay/img/logo.png" alt="FRITOLAY.ca logo"> #}
{# </h1> #}
{# </a> #}

{# <!-- MENU OPTIONS --> #}
{# <ul> #}
{# <li class=""> #}
{# <a href="{{ brand_basepath }}/products" id="products-submenu">Products</a> #}
{# </li> #}
{# <li class=""> #}
{# <a href="http://www.tostitos.ca/#newsletter_signup" id="http://www.tostitos.ca/#newsletter_signup-submenu">Tasty Rewards</a> #}
{# </li> #}
{# </ul> #}

{# <!-- TO SEARCH POPOVER --> #}
{# <div id="to-open-close-search-popover-container"> #}
{# <input type="text" id="to-open-close-search-popover-input" title="Search..."> #}
{# <a href="#" id="to-open-close-search-popover-button"> #}
{# <span class="srt">Search</span> </a> #}
{# </div> #}
{# </nav> #}

<nav id="brands_navigation" class="smartfood-navbar__vertical-align" role="navigation" aria-label="main navigation">

  <div class="brands-navbar__mobile-topnav">
    <span class="brands-navbar__top-bar"></span>
    <span class="brands-navbar__middle-bar"></span>
    <span class="brands-navbar__bottom-bar"></span>
  </div>

  <!-- LOGO MOBILE-->
  <a href="{{ language == 'fr'?'/fr-ca/marques/smartfood':'/en-ca/brands/smartfood' }}" class="smartfood-logo-mobile top-logo noDesktop">
    <img class="smartfood-logo" src="/themes/brandstheme/src/images/smartfood/smartfood-logo.png?v=1" alt="smartfood Canada logo">
  </a>

  <hr class="noDesktop hr-navbar d-none">

  <!-- MENU OPTIONS -->

  <ul class="brands-navbar__ul brands-navbar__center-align">

    <li class="brands-navbar__item-first-border">
      <a class="" href="{{ brand_basepath }}/products" id="products-submenu">{{'Products'|t}}</a>
    </li>


    <li class="brands-navbar__item-border">
      <a href="{{ brand_basepath }}/about-us" id="about-us-submenu">{{'About Us'|t}}</a>
    </li>

    <li class="brands-navbar__item-border">

      {%if ( language == 'en') %}
        <a class="smartfood-contact-us" href="https://contact.pepsico.com/fritolayca" id="" target="_blank">{{'Contact Us'|t}}</a>
      {% endif %}

      {%if ( language == 'fr') %}
        <a class="smartfood-contact-us" href="https://contact.pepsico.com/fritolaycafr" id="" target="_blank">{{'Nous joindre'|t}}</a>
      {% endif %}

    </li>

  </ul>

  <!-- LOGO DESKTOP-->
  <a href="{{ language == 'fr'?'/fr-ca/marques/smartfood':'/en-ca/brands/smartfood' }}" class="logo noMobile">
    <img class="smartfood-logo" src="/themes/brandstheme/src/images/smartfood/smartfood-logo.png?v=1" alt="smartfood Canada logo">
  </a>

  <!-- Social Icons -->
  <div id="to-open-close-search-popover-container" class="brands-navbar__center-align brands-navbar__social justify-end brands-navbar__item-border ">

    <a class="brands-navbar__social-icons" href="https://www.facebook.com/smartfoodcanada" id="nav-facebook" target="_blank" aria-label="facebook">
      <i class="fa fa-facebook fa-navbar fa-facebook-nav"></i>
    </a>

    <a class="brands-navbar__social-icons" href="https://twitter.com/smartfoodca?lang=en" id="nav-twitter" target="_blank" aria-label="twitter">
      <i class="fa fa-twitter fa-navbar"></i>
    </a>

    <a class="brands-navbar__social-icons" href="https://www.instagram.com/smartfoodca/" id="nav-instagram" target="_blank" aria-label="instagram">
      <i class="fa fa-instagram fa-navbar"></i>
    </a>

    <a class="brands-navbar__social-icons" href="https://www.youtube.com/channel/UCBoWXtmyvzBA4zoJDvi1NEA/featured" id="nav-youtube" target="_blank" aria-label="youtube">
      <i class="fa fa-youtube-play fa-navbar"></i>
    </a>

  </div>

  <div class="brands-navbar_accounts-mbl" style="display: none;">


    {%if ( language == 'en') %}
      <a href="/fr-ca/marques/smartfood" id="" class="choose-lang_fr">
        FR
      </a>
    {% endif %}

    {%if ( language == 'fr') %}
      <a href="/en-ca/brands/smartfood" id="" class="choose-lang_fr">
        EN
      </a>
    {% endif %}

    <div class="brands-navbar_accout-options">
      {% include '@brandstheme/includes/login-out.html.twig' %}
    </div>

    <a class="tr-navbar-trigger-mobile" href="#">

      <div class="flex-1-center">
        <img class="brands-tr-navbar_image-mbl" src="/themes/brandstheme/src/images/logo-{{language}}.png" alt="Tasty Rewards">

        <span class="brands-tr-navbar_copy-mbl">
          {{'Tasty Rewards'|t}}
        </span>

      </div>

      <div class="arrow-float_right">
        <i class="arrow right"></i>
      </div>

    </a>
  </div>

</nav>
