{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{{ attach_library('brandstheme/cheetos') }}
{{ attach_library('brandstheme/recipe_script') }}
<section id="banner" class="cheetos-banner-nocarousel" style="background-image:url({{nodeimgurl}});padding:150px;">
  {# <div class="cheetos-banner-nocarousel-overlay"></div>
  <h1>{{subtitle}}</h1> #}
</section>
{# @TODO get the madewith image from the brandstheme.theme file  #}
{# {% set img_madewith = file_url(content.field_extra_image1['#items'].entity.uri.value)  ?: '' %} #}
{# {% set img_madewith2 = file_url(content.field_extra_image2['#items'].entity.uri.value)  ?: '' %} #}

<section id="header-top" class="single-recipe-header-top" style="background-image:url({{nodeimgurl}})">

	<!-- SCHEMA.ORG -->
	<meta itemprop="image" content="{{nodeimgurl}}">
	<meta itemprop="author" content="cheetos.ca">
	<meta itemprop="recipeCuisine" content="Canadian">
	<meta itemprop="keywords" content="">
</section>

<div class="cheetos-content-background-container-recipesdetails">
  <section id="recipe" class="cheetos-recipe-block">
    <div class="cheetos-section-recipe-container">
        <h2 itemprop="name" class="p-name">{{subtitle|raw}}</h2>

        <p class="cheetos-subtitle">
            {% if node.body.0.value|striptags is not empty %}
              {{node.body.0.value | raw}}
            {% endif %}
          </p>





        <div class="cheetos-recipe-container">
            <div class="cheetos-recipe-intro">
                <div class="cheetos-recipe-icons {{ video|length ? '' : 'cheetos-recipe-icons-full' }}">
                    <div class="cheetos-recipe-packshot-wrap">
                        {% if img_madewith is not empty and img_madewith != '/' %}
                            <p> {{'Made With'|t}}: </p>
                            <div class="cheetos-recipe-packshot-made">
                               <a class="made-with" href="{{product_madewith}}" aria-label="product link">
                                <img src="{{img_madewith}}" alt="cheetos">
                               </a> 
                                {% if img_madewith2 is not empty and img_madewith2 != '/' %}
                                   <a href="{{product_madewith2}}" aria-label="product link">
                                      <img src="{{img_madewith2}}" alt="cheetos">
                                   </a>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="cheetos-recipe-icons-box-wrap">
                        {% if prep_time is not empty %}
                            <div class="cheetos-recipe-icons-box">
                                <div class="cheetos-recipe-icons-box-img">
                                    <img src="/themes/brandstheme/src/images/cheetos/icon-prep.png" alt="{{'Prep Time'|t}}">
                                </div>

                                <h4>{{'Prep Time'|t}}: </h4>

                                <p><time datetime="PT20M" itemprop="prepTime">{{prep_time}}</time></p>
                            </div>
                        {% endif %}

                        {% if cook_time is not empty %}
                            <div class="cheetos-recipe-icons-box">
                                <div class="cheetos-recipe-icons-box-img">
                                    <img src="/themes/brandstheme/src/images/cheetos/icon-cook.png" alt="{{'Cook Time'|t}}">
                                </div>

                                <h4>{{'Cook Time'|t}}: </h4>

                                <p><time datetime="PT20M" itemprop="cookTime">{{ cook_time }}</time></p>
                            </div>
                        {% endif %}

                        <div class="cheetos-recipe-icons-box">
                            <div class="cheetos-recipe-icons-box-img">
                                <img src="/themes/brandstheme/src/images/cheetos/icon-rating.png" alt="{{'Rating'|t}}">
                            </div>

                            <h4>{{'Rating'|t}}</h4>
                            {% set rating = avg_rating %}

                            <div class="cheetos-stars recipe-stars" data-nid="{{nid}}">
                                {% for i in 1..5 %}
                                    <span {% if i <= rating %}class="checked"{% endif %} data-star="{{i}}"></span>


                                    <input type="radio" id="star-{{i}}" name="rate" value="{{i}}" {% if i == avg_rating %}checked="checked"{% endif %}>
                                    <label for="star-{{i}}" title="text">{{i}}</label>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>







        <div class="cheetos-recipe-info">
          <div class="cheetos-recipe-info-ingredients">

{#              <div class="cheetos-recipe-container">#}
{#                  <div class="cheetos-recipe-intro">#}
{#                      <div class="cheetos-recipe-icons {{ video|length ? '' : 'cheetos-recipe-icons-full' }}">#}
{#                          <div class="cheetos-recipe-packshot-wrap">#}
{#                            {% if img_madewith is not empty and img_madewith != '/' %}#}
{#                              <p> {{'Made With'|t}}: </p>#}
{#                              <div class="cheetos-recipe-packshot-made">#}
{#                                      <img src="{{img_madewith}}">#}
{#                                    {% if img_madewith2 is not empty and img_madewith2 != '/' %}#}
{#                                      <img src="{{img_madewith2}}">#}
{#                                    {% endif %}#}
{#                              </div>#}
{#                            {% endif %}#}
{#                          </div>#}
{#                          <div class="cheetos-recipe-icons-box-wrap">#}
{#                              {% if prep_time is not empty %}#}
{#                                  <div class="cheetos-recipe-icons-box">#}
{#                                      <div class="cheetos-recipe-icons-box-img">#}
{#                                          <img src="/themes/brandstheme/src/images/cheetos/icon-prep.png">#}
{#                                      </div>#}

{#                                      <h4>{{'Prep Time'|t}}: </h4>#}

{#                                      <p><time datetime="PT20M" itemprop="prepTime">{{prep_time}}</time></p>#}
{#                                  </div>#}
{#                              {% endif %}#}

{#                              {% if cook_time is not empty %}#}
{#                                  <div class="cheetos-recipe-icons-box">#}
{#                                      <div class="cheetos-recipe-icons-box-img">#}
{#                                          <img src="/themes/brandstheme/src/images/cheetos/icon-cook.png">#}
{#                                      </div>#}

{#                                      <h4>{{'Cook Time'|t}}: </h4>#}

{#                                      <p><time datetime="PT20M" itemprop="cookTime">{{ cook_time }}</time></p>#}
{#                                  </div>#}
{#                              {% endif %}#}

{#                              <div class="cheetos-recipe-icons-box">#}
{#                                  <div class="cheetos-recipe-icons-box-img">#}
{#                                      <img src="/themes/brandstheme/src/images/cheetos/icon-rating.png">#}
{#                                  </div>#}

{#                                  <h4>{{'Rating'|t}}</h4>#}
{#                                   For Daud  #}
{#                                  {% set rating = avg_rating %}#}

{#                                  <div class="cheetos-stars recipe-stars" data-nid="{{nid}}">#}
{#                                      {% for i in 1..5 %}#}
{#                                          <span {% if i <= rating %}class="checked"{% endif %} data-star="{{i}}"></span>#}


{#                                          <input type="radio" id="star-{{i}}" name="rate" value="{{i}}" {% if i == avg_rating %}checked="checked"{% endif %}>#}
{#                                          <label for="star-{{i}}" title="text">{{i}}</label>#}
{#                                      {% endfor %}#}
{#                                  </div>#}
{#                              </div>#}
{#                          </div>#}
{#                      </div>#}

{#                  </div>#}
{#              </div>#}




            <h3>{{'Ingredients'|t}} </h3>
            {# ul gets added automaticaly #}
              {{ingredients|raw}}
            {# <ul>
              <li><span class="cheetos-yellow">2</span> tbsp extra-virgin olive oil</li>
            </ul> #}
          </div>

          <div class="cheetos-recipe-info-instructions">
              {% if video|length %}
                  <div class="cheetos-recipe-video">
                      <div class="cheetos-video-iframe-container">
                          <iframe allowfullscreen frameborder="0" src="{{video}}"></iframe>
                      </div>
                  </div>
              {% endif %}

            <h3>{{'How to make it'|t}}</h3>
            {{how_to_make|raw}}
            {# <ol>
              <li>First test</li>
            </ol> #}
          </div>
        </div>

        <input type="hidden" name='node_url' id='node_url' value="{{ current_uri }}">
        <input type="hidden" name='node_title' id='node_title' value="{{ subtitle|striptags }}">
        <input type="hidden" name='node_image' id='node_image' value="{{ nodeimgurl }}">

        <div class="cheetos-socials cheetos-socials-recipes">
          <p>
            {{ 'Share this recipe'|t }}
          </p>

          <a class="cheetos-social-link social-share-trigger" data-platform="twitter">
            <img src="/themes/brandstheme/src/images/cheetos/twitter.png" alt="twitter">
          </a>
          {# <a class="cheetos-social-link" href="https://www.instagram.com/cheetoscanada/" target="_blank">
            <img src="/themes/brandstheme/src/images/cheetos/social/instagram.png">
          </a> #}
{#          <a class="cheetos-social-link social-share-trigger" data-platform="facebook" href="#">#}
{#            <img src="/themes/brandstheme/src/images/cheetos/instagram.png">#}
{#          </a>#}
          {# <a class="cheetos-social-link" href="https://www.youtube.com/channel/UCu4vZs-2w-Jc15luzze8FvA" target="_blank">
            <img src="/themes/brandstheme/src/images/cheetos/social/youtube.png">
          </a> #}
          <a class="cheetos-social-link social-share-trigger" data-platform="facebook">
            <img src="/themes/brandstheme/src/images/cheetos/facebook.png" alt="facebook">
          </a>
{#          <a class="cheetos-social-link" href="mailto:?subject={{subtitle|raw}}&body={{ current_uri }}">#}
{#             <img src="/themes/brandstheme/src/images/cheetos/youtube.png">#}
{#          </a>#}
          <a class="cheetos-social-link" href="javascript:window.print()">
            <img src="/themes/brandstheme/src/images/cheetos/pinterest.png" alt="pinterest">
          </a>
        </div>
    </div>
  </section>
</div>

<section class="cheetos-nocarousel-block">
  <div class="cheetos-section-container">
    <h2> {{'Related Recipes'|t}} </h2>

    <div class="cheetos-related-product-wrapper cheetos-nocarousel-container">
      {% for recipe in related_recipes %}
        <div class="cheetos-related-product cheetos-nocarousel-box">
          <div class="img">
            <a class="" href="{{recipe.link}}">
              <img src="{{recipe.image_url}}" alt="cheetos">
            </a>
          </div>

          <h3 class="recipe-category-title">
            <a href="{{recipe.link}}" hreflang="en">{{recipe.title|raw}}</a>
          </h3>

          <a class="cheetos-btn-black" href="{{recipe.link}}">{{'View Recipe'|t}}</a>

        </div>
      {% endfor %}

    </div>

  </div>
</section>

{#<section class="cheetos-related-block cheetos-nocarousel-block">#}
{#  <div class="cheetos-section-container">#}
{#    {% if featured_on  %}#}
{#      <h2> {{'Featured On'|t}} </h2>#}
{#    {% endif %}#}

{#    <div class="cheetos-related-product-wrapper cheetos-nocarousel-container">#}
{#      {% for recipe in featured_on %}#}
{#        <div class="cheetos-related-product cheetos-nocarousel-box">#}
{#          <div class="img">#}
{#            <a class="" href="{{recipe.link}}">#}
{#              <img src="{{recipe.image_url}}" alt="lays">#}
{#            </a>#}
{#          </div>#}

{#          <h3 class="products-category-title">#}
{#            <a href="{{recipe.link}}" hreflang="en">{{recipe.title|raw}}</a>#}
{#          </h3>#}

{#          <a class="cheetos-btn cheetos-btn-yellow" href="{{recipe.link}}">{{'View Occasion'|t}}</a>#}
{#        </div>#}
{#      {% endfor %}#}

{#    </div>#}

{#  </div>#}
{#</section>#}

<section id="coupon" class="cheetos-coupon-block">
    <div class="cheetos-coupon--container-bg-desktop">
        {{ coupon_block|t|raw }}
    </div>
</section>

{# <section class="social-video">
	{{block_video|raw}}
</section> #}
