{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

{% set order = node.field_order.value %}

{{ attach_library('brandstheme/stacys') }}
{{ attach_library('brandstheme/recipe_script') }}

<section class="stacys-top-banner bg-white">

  <img class="w-100 noMobile-md" src="{{ nodeimgurl }}" alt="Product Recipe Banner">
  <img class="w-100 noDesktop-md" src="{{ nodeimgurl }}" alt="Product Recipe Banner">

  <div class="stacys-banner-overlay">
    <img class="w-100 noMobile-md" src='/themes/brandstheme/src/images/stacys/stacys-banner-white-overlay-dsk.png' alt="Stacys recipe overlay">
    <img class="w-100 noDesktop-md" src='/themes/brandstheme/src/images/stacys/stacys-banner-white-overlay-mbl.png' alt="Stacys recipe overlay">
  </div>

  <div class="container stacys-banner-copy">
    <div class="row">
      <div class="col-md-12 col-lg-5 center-align-dsk-stacys">
        <div class="noMobile-md">
          <img class="w-banner-pattern" src="/themes/brandstheme/src/images/stacys/stacy-top-banner-heading-pattern.svg" alt="Stacys banner heading pattern">
        </div>
        <div>
          <h1 class="text-dark">
            <img class="w-banner-pattern-mbl" src="/themes/brandstheme/src/images/stacys/stacy-top-banner-heading-pattern.svg" alt="Stacys banner heading pattern">
            {{ subtitle|raw }}
          </h1>
          <p class="text-dark">
            {% if node.body.0.value|striptags is not empty %}
              {{ node.body.0.value | raw }}
            {% endif %}
            {# {{ 'Stacy’s snacks are crafted without compromise, using only quality ingredients. Check out our delicious flavour varieties below.'|t }} #}
          </p>
        </div>
      </div>
    </div>
  </div>

</section>

<section id="header-top" class="single-recipe-header-top" style="background-image:url({{ nodeimgurl }})">
  <!-- SCHEMA.ORG -->
  <meta itemprop="image" content="{{ nodeimgurl }}">
  <meta itemprop="author" content="stacys.ca">
  <meta itemprop="recipeCuisine" content="Canadian">
  <meta itemprop="keywords" content="">
</section>

<section class="stacys-navigation-recipesdetails">
  <div class="container-fluid padding-none">

    <div class="row">

      <div class="col-6">
        {% if prev_recipe|length %}
          <div class="prev-recipe noMobile-md">
            <a href="{{ prev_recipe }}" class="btn_navigation">
              <span class="stacys-navigation-recipe-arrow-prev">&#8249;</span> {{ 'Previous Recipe'|t }}
            </a>
          </div>

          <div class="prev-recipe-mbl noDesktop-md">
            <a href="{{ prev_recipe }}">
              <i class="fa fa-angle-left"></i>
              <span class="quaker-navigation-recipe-mbl-copy">{{ 'Previous Recipe'|t }}</span>
            </a>
          </div>
        {% endif %}
      </div>

      <div class="col-6">
        {% if next_recipe|length %}
          <div class="next-recipe">
            <a href="{{ next_recipe }}" class="btn_navigation">
              {{ 'Next Recipe'|t }} <span class="stacys-navigation-recipe-arrow-next">&#8250;</span>
            </a>
          </div>

          <div class="next-recipe-mbl">
            <a href="{{ next_recipe }}">
              <span class="quaker-navigation-recipe-mbl-copy">{{ 'Next Recipe'|t }}</span>
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
        {% endif %}
      </div>
    </div>

  </div>
</section>

<section id="recipe" class="stacys-recipe-details-block">

  <div class="container">

    <div class="row">

      <div class="col-md-4 col-lg-3 stacys-recipe-info-icons-col">

        {% if prep_time is not empty %}
          <div class="row stacys-prep-time-row center-align">

            <div class="col-5 col-md-3 stacys-prep-time-icon">
              <img class="w-recipe-icons" src="/themes/brandstheme/src/images/stacys/prep-time-icon.svg" alt="Prep Time Icon">
            </div>

            <div class="col-7 col-md-9 stacys-prep-time-info">
              <p>
                {{ 'Prep Time'|t }}:<br>
                <time datetime="PT20M" itemprop="prepTime">{{ prep_time }}</time>
              </p>
            </div>
          </div>
        {% endif %}

        {% if cook_time is not empty %}
          <div class="row stacys-cook-time-row center-align">

            <div class="col-5 col-md-3 stacys-cook-time-icon">
              <img class="w-recipe-icons" src="/themes/brandstheme/src/images/stacys/cook-time-icon.svg" alt="Cook Time Icon">
            </div>

            <div class="col-7 col-md-9 stacys-cook-time-info">
              <p>
                {{ 'Cook Time'|t }}:<br>
                <time datetime="PT20M" itemprop="cookTime">{{ cook_time }}</time>
              </p>
            </div>
          </div>
        {% endif %}

        <div class="row stacys-rate-recipe-row center-align">

          <div class="col-5 col-md-3 stacys-rating-icon">
            <img class="w-recipe-icons" src="/themes/brandstheme/src/images/stacys/rating-stars-icon.svg" alt="Rating Icon">
          </div>

          <div class="col-7 col-md-9 stacys-rating-info">
            <p>
              {{ 'Rate'|t }}<br>
            </p>
            {% set rating = avg_rating %}

            <div class="stacys-stars recipe-stars" data-nid="{{ nid }}">
              {% for i in 1..5 %}
                <span {% if i <= rating %}class="checked"{% endif %} data-star="{{ i }}"></span>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="row stacys-recipe-share-block {% if related_recipes is not empty %} {% else %} stacys-recipe-share-block-pb {% endif %}">

          <div class="col-md-12 text-left stacys-recipe-share-col">

            <input type="hidden" name='node_url' id='node_url' value="{{ current_uri }}">
            <input type="hidden" name='node_title' id='node_title' value="{{ subtitle|striptags }}">
            <input type="hidden" name='node_image' id='node_image' value="{{ nodeimgurl }}">


            <p class="padding-bottom">
              {{ 'Share this recipe'|t }}
            </p>

            <div class="stacys-recipe-share-icons center-align">

              <a class="stacys-social-link social-share-trigger" data-platform="twitter" aria-label="twitter">
                <i class="fa fa-twitter fa-social-share"></i>
              </a>

              <a class="stacys-social-link social-share-trigger" data-platform="facebook" aria-label="facebook">
                <i class="fa fa-facebook fa-facebook-recipes fa-social-share"></i>
              </a>

              <a class="stacys-social-link" href="mailto:?subject={{ subtitle|raw }}&body={{ current_uri }}" aria-label="mail">
                <i class="fa fa-envelope fa-social-share"></i>
              </a>

              <a class="stacys-social-link" href="javascript:window.print()" aria-label="print">
                <i class='fa fa-print fa-social-share'></i>
              </a>

            </div>

          </div>

        </div>

      </div>

      <div class="col-md-4 stacys-recipe-ingredients-col">
        <h3>{{ 'Ingredients'|t }} </h3>
        <hr class="stacy-recipe-hr">
        <div class="padding-top">
          {{ ingredients|raw }}
        </div>
      </div>


      <div class="col-md-4 col-lg-5 stacys-recipe-how-to-make-col">
        <h3>{{ 'How to make it'|t }}</h3>
        <hr class="stacy-recipe-hr">
        <div class="padding-top">
          {{ how_to_make|raw }}
        </div>
      </div>

    </div>

  </div>

</section>

{% if related_products is not empty %}
  <section class="stacys-related-product-block">

    <div class="container">

      <div class="row">

        <div class="col-md-12 stacys-recipe-header text-center padding-bottom">
          <h1>
            <svg class="stacy-pattern-padding" xmlns="http://www.w3.org/2000/svg" width="39.153" height="47.316" viewBox="0 0 39.153 47.316">
              <g id="Group_1553" data-name="Group 1553" transform="translate(268.829 -391.062)">
                <path id="Path_3972" data-name="Path 3972" d="M-249.611,407.117c10.614,0,19.218,7.6,19.218,7.6s-8.6,7.6-19.218,7.6-19.218-7.6-19.218-7.6S-260.225,407.117-249.611,407.117Z" fill="#ffb711"/>
                <path id="Path_3973" data-name="Path 3973" d="M-237.909,435.332c5.79-3.664,8.233-10.269,8.233-10.269s-6.943-.666-12.733,3-8.233,10.27-8.233,10.27S-243.7,438.995-237.909,435.332Z" fill="#ffb711"/>
                <path id="Path_3974" data-name="Path 3974" d="M-237.909,394.107c5.79,3.663,8.233,10.269,8.233,10.269s-6.943.666-12.733-3-8.233-10.269-8.233-10.269S-243.7,390.443-237.909,394.107Z" fill="#ffb711"/>
                <path id="Path_3975" data-name="Path 3975" d="M-249.611,407.117c10.614,0,19.218,7.6,19.218,7.6s-8.6,7.6-19.218,7.6-19.218-7.6-19.218-7.6S-260.225,407.117-249.611,407.117Z" fill="#ffb711"/>
                <path id="Path_3976" data-name="Path 3976" d="M-237.909,435.332c5.79-3.664,8.233-10.269,8.233-10.269s-6.943-.666-12.733,3-8.233,10.27-8.233,10.27S-243.7,438.995-237.909,435.332Z" fill="#ffb711"/>
                <path id="Path_3977" data-name="Path 3977" d="M-237.909,394.107c5.79,3.663,8.233,10.269,8.233,10.269s-6.943.666-12.733-3-8.233-10.269-8.233-10.269S-243.7,390.443-237.909,394.107Z" fill="#ffb711"/>
              </g>
            </svg>
            {{ 'Related Products'|t }}
            <svg class="stacy-pattern-padding" xmlns="http://www.w3.org/2000/svg" width="39.153" height="47.316" viewBox="0 0 39.153 47.316">
              <g id="Group_1554" data-name="Group 1554" transform="translate(-229.676 438.377) rotate(180)">
                <path id="Path_3972" data-name="Path 3972" d="M-249.611,407.117c10.614,0,19.218,7.6,19.218,7.6s-8.6,7.6-19.218,7.6-19.218-7.6-19.218-7.6S-260.225,407.117-249.611,407.117Z" fill="#ffb711"/>
                <path id="Path_3973" data-name="Path 3973" d="M-237.909,435.332c5.79-3.664,8.233-10.269,8.233-10.269s-6.943-.666-12.733,3-8.233,10.27-8.233,10.27S-243.7,438.995-237.909,435.332Z" fill="#ffb711"/>
                <path id="Path_3974" data-name="Path 3974" d="M-237.909,394.107c5.79,3.663,8.233,10.269,8.233,10.269s-6.943.666-12.733-3-8.233-10.269-8.233-10.269S-243.7,390.443-237.909,394.107Z" fill="#ffb711"/>
                <path id="Path_3975" data-name="Path 3975" d="M-249.611,407.117c10.614,0,19.218,7.6,19.218,7.6s-8.6,7.6-19.218,7.6-19.218-7.6-19.218-7.6S-260.225,407.117-249.611,407.117Z" fill="#ffb711"/>
                <path id="Path_3976" data-name="Path 3976" d="M-237.909,435.332c5.79-3.664,8.233-10.269,8.233-10.269s-6.943-.666-12.733,3-8.233,10.27-8.233,10.27S-243.7,438.995-237.909,435.332Z" fill="#ffb711"/>
                <path id="Path_3977" data-name="Path 3977" d="M-237.909,394.107c5.79,3.663,8.233,10.269,8.233,10.269s-6.943.666-12.733-3-8.233-10.269-8.233-10.269S-243.7,390.443-237.909,394.107Z" fill="#ffb711"/>
              </g>
            </svg>
          </h1>
        </div>

      </div>

      <div class="row center-align-md-dsk">

        {% for product in related_products %}
          <div class="stacys-prod-col text-center col-12 col-md-6 col-lg-3">

            <a href="{{ product.link }}" hreflang="en" target="_self">
              <img class="w-75-mbl w-100" src="{{ product.image_url }}" border="0" alt="{{ product.title|raw }}"/>
            </a>

            <div class="stacys-product-description">
              <h4>
                {{ product.title|raw }}
              </h4>

              <div class="product-btn-div">
                <a class="btn_stacys" href="{{ product.link }}">{{ 'View Product'|t }}</a>
              </div>

            </div>

          </div>
        {% endfor %}

      </div>
    </div>

  </section>
{% endif %}


<section id="our-recipes" class="margin-top">
  <div class="stacys-related-recipes-block">

    <div class="container stacys-featured-recipes-container featured-recipe-position">

      <div class="row">

        <div class="col-md-12 stacys-recipe-header padding-bottom-medium">
          <h1>
            <svg class="stacy-pattern-padding" xmlns="http://www.w3.org/2000/svg" width="39.153" height="47.316" viewBox="0 0 39.153 47.316">
              <g id="Group_1553" data-name="Group 1553" transform="translate(268.829 -391.062)">
                <path id="Path_3972" data-name="Path 3972" d="M-249.611,407.117c10.614,0,19.218,7.6,19.218,7.6s-8.6,7.6-19.218,7.6-19.218-7.6-19.218-7.6S-260.225,407.117-249.611,407.117Z" fill="#2A2A2B"/>
                <path id="Path_3973" data-name="Path 3973" d="M-237.909,435.332c5.79-3.664,8.233-10.269,8.233-10.269s-6.943-.666-12.733,3-8.233,10.27-8.233,10.27S-243.7,438.995-237.909,435.332Z" fill="#2A2A2B"/>
                <path id="Path_3974" data-name="Path 3974" d="M-237.909,394.107c5.79,3.663,8.233,10.269,8.233,10.269s-6.943.666-12.733-3-8.233-10.269-8.233-10.269S-243.7,390.443-237.909,394.107Z" fill="#2A2A2B"/>
                <path id="Path_3975" data-name="Path 3975" d="M-249.611,407.117c10.614,0,19.218,7.6,19.218,7.6s-8.6,7.6-19.218,7.6-19.218-7.6-19.218-7.6S-260.225,407.117-249.611,407.117Z" fill="#2A2A2B"/>
                <path id="Path_3976" data-name="Path 3976" d="M-237.909,435.332c5.79-3.664,8.233-10.269,8.233-10.269s-6.943-.666-12.733,3-8.233,10.27-8.233,10.27S-243.7,438.995-237.909,435.332Z" fill="#2A2A2B"/>
                <path id="Path_3977" data-name="Path 3977" d="M-237.909,394.107c5.79,3.663,8.233,10.269,8.233,10.269s-6.943.666-12.733-3-8.233-10.269-8.233-10.269S-243.7,390.443-237.909,394.107Z" fill="#2A2A2B"/>
              </g>
            </svg>
            {{ 'Related Recipes'|t }}
            <svg class="stacy-pattern-padding" xmlns="http://www.w3.org/2000/svg" width="39.153" height="47.316" viewBox="0 0 39.153 47.316">
              <g id="Group_1554" data-name="Group 1554" transform="translate(-229.676 438.377) rotate(180)">
                <path id="Path_3972" data-name="Path 3972" d="M-249.611,407.117c10.614,0,19.218,7.6,19.218,7.6s-8.6,7.6-19.218,7.6-19.218-7.6-19.218-7.6S-260.225,407.117-249.611,407.117Z" fill="#2A2A2B"/>
                <path id="Path_3973" data-name="Path 3973" d="M-237.909,435.332c5.79-3.664,8.233-10.269,8.233-10.269s-6.943-.666-12.733,3-8.233,10.27-8.233,10.27S-243.7,438.995-237.909,435.332Z" fill="#2A2A2B"/>
                <path id="Path_3974" data-name="Path 3974" d="M-237.909,394.107c5.79,3.663,8.233,10.269,8.233,10.269s-6.943.666-12.733-3-8.233-10.269-8.233-10.269S-243.7,390.443-237.909,394.107Z" fill="#2A2A2B"/>
                <path id="Path_3975" data-name="Path 3975" d="M-249.611,407.117c10.614,0,19.218,7.6,19.218,7.6s-8.6,7.6-19.218,7.6-19.218-7.6-19.218-7.6S-260.225,407.117-249.611,407.117Z" fill="#2A2A2B"/>
                <path id="Path_3976" data-name="Path 3976" d="M-237.909,435.332c5.79-3.664,8.233-10.269,8.233-10.269s-6.943-.666-12.733,3-8.233,10.27-8.233,10.27S-243.7,438.995-237.909,435.332Z" fill="#2A2A2B"/>
                <path id="Path_3977" data-name="Path 3977" d="M-237.909,394.107c5.79,3.663,8.233,10.269,8.233,10.269s-6.943.666-12.733-3-8.233-10.269-8.233-10.269S-243.7,390.443-237.909,394.107Z" fill="#2A2A2B"/>
              </g>
            </svg>
          </h1>
        </div>

      </div>
    </div>

    <div id="stacys-related-recipe" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators featured-carousel-indicators">
        {% for idx, recipe in related_recipes %}
          <li data-target="#stacys-related-recipe" data-slide-to="{{ idx }}" class="{{ idx==0 ? 'active' :'' }}"></li>
        {% endfor %}
      </ol>

      <div class="carousel-inner container">
        {% for idx, recipe in related_recipes %}
          <div class="row carousel-item {{ idx==0 ? 'active' :'' }}">
            <div class="col-md-4 stacys-recipe-col">

              <a href="{{ recipe.link }}" class="stacys-recipe-img-link" aria-label="{{ recipe.title|raw }}">
                <div class="stacys-recipe-thumbnail {% if recipe.img_position is empty %} img-align-center {% else %} img-align-{{ recipe.img_position }} {% endif %}" style="background-image: url('{{ recipe.image_url }}');"></div>
              </a>

              <div class="row featured-recipe-stars stars-flex-end">
                <div class="col-md-6 noMobile-md"></div>
                <div class="stacys-stars-corner">
                  <div class="stacys-stars">
                    {% for i in 1..5 %}
                      <span {% if i <= recipe.rating %}class="checked"{% endif %}></span>
                    {% endfor %}
                  </div>
                </div>
              </div>

              <div class="stacys-recipe-copy">

                <h3>
                  {{ recipe.title|raw }}
                </h3>

              </div>

            </div>
          </div>

        {% endfor %}
      </div>

      <a class='carousel-control-prev' href="#stacys-related-recipe" role="button" data-slide="prev" aria-label="toggle arrow">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class='carousel-control-next' href="#stacys-related-recipe" role="button" data-slide="next" aria-label="toggle arrow">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>

    </div>

    <div class="container text-center">
      <div class="row">

        <div class="col-md-12 m-auto stacys-featured-recipes-view-more">
          <a class="btn_stacys-dark" href="/{{ lang_prefix }}/brands/{{ brand }}/recipes">
            {{ 'View More Recipes'|t }}
          </a>
        </div>

      </div>

    </div>
  </div>
</section>

<section id="coupon" class="stacys-coupon-block">
  <div class="stacys-section-container two-panel-block">
    {{ coupon_block|t|raw }}
  </div>
</section>
