{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{{ attach_library('brandstheme/stacys') }}

{% if is_signature %}
  {# SIGNATURE #}
  {% include '@brandstheme/includes/node-product-stacys-signatures.html.twig' %}
{% else %}
  {# NOT SIGNATURE #}


  <section id="stacys-productdetails" class="stacys-products-details-main-block">

    <div class="container">
      <div class="row ">

        <div class="col-md-6 text-center">

            <div class="stacys-product-img-col">
              <div class="stacys-product-img-pattern-left">
                <img class="w-product-pattern" src="/themes/brandstheme/src/images/stacys/stacys-yellow-pattern-left.svg" alt="pattern">
              </div>

              <img class="w-product-img" itemprop="image" src="{{ nodeimgurl }}" alt="{{ nodeimgalt }}">

              <div class="stacys-product-img-pattern-right">
                <img class="w-product-pattern" src="/themes/brandstheme/src/images/stacys/stacys-yellow-pattern-right.svg" alt="pattern">
              </div>
            </div>

        </div>

        <div class="col-md-6">

          <div class="stacys-product-intro-copy">
            <h3 class="stacys-product-details-heading">
              {% if title1 %}
                <span>{{ title1|raw }}</span>
                <br>
                {# {{title2|raw}} #}
                {{ title2|raw|trim(" \t\n\r\0\x0B\xC2\xA0") }}
              {% else %}
                {{ subtitle|raw }}
              {% endif %}
            </h3>

            <div class="stacys-product-subtitle-copy padding-top-half">
              {% if node.body.0.value|striptags is not empty %}
                {{ node.body.0.value | raw }}
              {% endif %}
              {% if node.field_pairing.0.value is not empty %}
              <div class="stacys-wine-pairing">
                  <h3 class="wine-pairing-heading">{{ 'Wine Pairing'|t }}:</h3>
                  <p>{{ node.field_pairing.0.value | raw }}</p>
              </div>
              {% endif %}
            </div>
          </div>

          	<div class="product-buy-now">
            {% if show_product_buynow %} 
             <button class="btn_stacys stacys-product-btn js-buynow" id = "stacys-buy" data-target="#stacysModal" data-toggle="modal">
									{{'Buy Now'|t|raw}}
								</button>
            {% endif %}
              <div class="modal bootstrap-modal bg-transparent stacys-buynow-modal" id="stacysModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button type="button" class="close" id = "closeModal" data-dismiss="modal">×</button>
                      {# <p>Content goes here</p> #}
                      {% if iframe_url %}
                      <iframe id="snack-shop" src="{{iframe_url}}"></iframe>
                    {% endif %}
                    </div>
                  </div>
                </div>
              </div>
             </div>

          {% if noderecipeingredients is not empty and nutrition is not empty %}

            <div class="stacys-products-nutrition">
              <div class="fa-nutrition">
                <div class="stacys-productdetails-nutrition-info">
                  <h4>{{ 'Nutrition'|t }}</h4>
                </div>
                <div class="fa-nutrition-icon">
                  <div class="fa-swap stacys-fa-cirle-up"></div>
                </div>
              </div>
              <div class="nutrition-copy animate__animated">
                <div class="stacys-productdetails-nutrition-header-row">
                  <div class="stacys-productdetails-nutrition-cell stacys-productdetails-headercell bold">
                    {{ 'Amount'|t }} {{ portion }}
                  </div>

                  <div class="stacys-productdetails-nutrition-cell stacys-productdetails-headercell bold">
                    {{ '% Daily Value'|t }}
                  </div>
                </div>

                {{ nutrition | raw }}
              </div>
            </div>

{#            <div class="stacys-productdetails-nutrition-info">#}
{#              <h4>{{ 'Nutrition'|t }}</h4>#}


{#              <div class="stacys-productdetails-nutrition-header-row">#}
{#                <div class="stacys-productdetails-nutrition-cell stacys-productdetails-headercell bold">#}
{#                  {{ 'Amount'|t }} {{ portion }}#}
{#                </div>#}

{#                <div class="stacys-productdetails-nutrition-cell stacys-productdetails-headercell bold">#}
{#                  {{ '% Daily Value'|t }}#}
{#                </div>#}
{#              </div>#}

{#              {{ nutrition | raw }}#}

{#            </div>#}

            <div class="stacys-products-ingredients">
              <div class="fa-ingredients">
                <div class="stacys-productdetails-ingredients-info">
                  <h4>{{ 'Ingredients'|t }}</h4>
                </div>
                <div class="fa-ingredients-icon">
                  <div class="fa-swap stacys-fa-cirle-up"></div>
                </div>
              </div>
              <div class="ingredients-copy animate__animated">
                <p>
                  {{ noderecipeingredients | raw }}
                </p>
              </div>
            </div>

{#            <div class="stacys-productdetails-ingredients-info">#}

{#              <h4>{{ 'Ingredients'|t }}</h4>#}

{#              <p>#}
{#                {{ noderecipeingredients | raw }}#}
{#              </p>#}

{#            </div>#}

          {% endif %}

        </div>

      </div>
    </div>



    {# {% if noderecipeingredients is not empty and nutrition is not empty %} #}

    {# <div id="stacys-productdetails-info-block" class=""> #}

    {# <div class="container"> #}
    {# <div class="row"> #}


    {# <div class="col-md-6 stacys-productdetails-nutrition-info"> #}
    {# <h3>{{ 'Nutrition'|t }}</h3> #}


    {# <div class="stacys-productdetails-nutrition-header-row"> #}
    {# <div class="stacys-productdetails-nutrition-cell stacys-productdetails-headercell bold"> #}
    {# {{ 'Amount'|t }}  {{ portion }} #}
    {# </div> #}

    {# <div class="stacys-productdetails-nutrition-cell stacys-productdetails-headercell bold"> #}
    {# {{ '% Daily Value'|t }} #}
    {# </div> #}
    {# </div> #}

    {# {{ nutrition | raw }} #}

    {# </div> #}


    {# <div class="col-md-6 stacys-productdetails-ingredients-info"> #}

    {# <h3>{{ 'Ingredients'|t }}</h3> #}

    {# <p> #}
    {# {{ noderecipeingredients | raw }} #}
    {# </p> #}

    {# </div> #}

    {# </div> #}
    {# </div> #}

    {# </div> #}

    {# {% endif %} #}

  </section>
{% endif %}

<section id="our-recipes">
  <div class="stacys-featured-recipes-block-products">
    {% include '@brandstheme/includes/featured/featured-recipes-stacys.html.twig' %}
  </div>
</section>

{# <section id="featured-products" class="stacys-prod-detail-carousel-block"> #}

{# <div class="container"> #}
{# <div class="row"> #}
{# <div class="col-md-12 text-center padding-bottom"> #}
{# {% if featured_products|length %} #}
{# <h1 class="featured-prod-heading">{{ 'Featured products'|t }}</h1> #}
{# {% endif %} #}
{# </div> #}
{# </div> #}
{# </div> #}

{# <div id="stacys-product-details-featured-products-carousel" class="carousel slide" data-ride="carousel"> #}

{# <ol class="carousel-indicators featured-carousel-indicators"> #}
{# {% for idx, product in featured_products %} #}
{# <li data-target="#stacys-product-details-featured-products-carousel" data-slide-to="{{ idx }}" class="{{ idx==0 ? 'active' :'' }}"></li> #}
{# {% endfor %} #}
{# </ol> #}

{# <div class="carousel-inner container"> #}
{# {% for idx, product in featured_products %} #}
{# <div class="carousel-item row {{ idx==0 ? 'active' :'' }}"> #}
{# <div class='col-md-12 featured-prod-col-bg'> #}
{# <div class="row center-align-md-dsk featured-prod-bag-bg"> #}
{# <div class="col-md-12 featured-carousel-inner-border"> #}
{# <div class="row"> #}
{# <div class='col-md-5 featured-product-image-col'> #}
{# <div class="featured-product-image-div"> #}
{# <img class='featured-product-image' src='{{ product.image_url }}' alt="Featured Product"> #}
{# </div> #}
{# </div> #}
{# <div class='col-md-7 featured-prod-copy'> #}

{# <div class="featured-prod-copy-div"> #}
{# <h3 class='featured-product-title'> {{ product.title|raw }}</h3> #}
{# #}{# <p class='stacys-product-description'> {{ product.body|raw }}</p> #}
{# <div class='stacys-btn'> #}
{# <a href='{{ product.link }}' class='btn_stacys'> #}
{# {{ 'View Product'|t }} #}
{# </a> #}
{# </div> #}
{# </div> #}

{# </div> #}
{# </div> #}
{# </div> #}
{# </div> #}
{# </div> #}
{# </div> #}
{# {% endfor %} #}


{# </div> #}


{# <!-- Left and right controls --> #}
{# <a class="carousel-control-prev stacys-d-md-flex" href="#stacys-product-details-featured-products-carousel" data-slide="prev"> #}
{# <span class="carousel-control-prev-icon"></span> #}
{# </a> #}
{# <a class="carousel-control-next stacys-d-md-flex" href="#stacys-product-details-featured-products-carousel" data-slide="next"> #}
{# <span class="carousel-control-next-icon"></span> #}
{# </a> #}

{# </div> #}

{# </section> #}


<section id='coupon' class="stacys-coupon-block">
  <div class="stacys-section-container two-panel-block">
    {{ coupon_block|t|raw }}
  </div>
</section>


