{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

{# {% if title %}
  <h3>{{ title }}</h3>
{% endif %} #}


{#
/**
 * Main view-name: Recipes
 * View Display machine-name: block_tostitos_recipes_carousel
 *
 */
 #}
  {{ attach_library('brandstheme/slickLibrary') }}
 <div class="tostitos-section-container">
    <h2 class="title tostitos-recipe tostitos-recipe__heading">{{ 'Recipes'|t }}</h2>
    <div class="js-recipe-carousel tostitos-carousel-container">
    {% for row in rows %}
      {%
        set row_classes = [
          default_row_class ? 'views-row',
        ]
      %}
      <div{{ row.attributes.addClass(row_classes) }}>
        {{ row.content }}
      </div>
    {% endfor %}
    </div>

    <div class="tostitos-button-row">
      <a href="/brands/tostitos/recipes" class="tostitos-btn tostitos-btn-white">{{'View More Recipes'|t}}</a>
    </div>
  </div>
