{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

{# {% if title %}
  <h3>{{ title }}</h3>
{% endif %} #}
<div class="tostitos-section-container">
  <h2 class="title tostitos-occasion">{{'Occasions'|t}}</h2>

  <div class="js-occasion-carousel occasions-taxonomy tostitos-carousel-container">
  {% for row in rows %}
    {%
      set row_classes = [
        default_row_class ? 'views-row tostitos-occasion-row',
      ]
    %}
    <div{{ row.attributes.addClass(row_classes) }}>
      {{ row.content }}
    </div>
  {% endfor %}
  </div>

  <div class="tostitos-button-row">
    <a href="/brands/tostitos/occasions" class="tostitos-btn tostitos-btn-white">{{'View More Occasions'|t}}</a>
  </div>
</div>
