{{ attach_library('brandstheme/stacys') }}
{# <section id="banner" class="stacys-banner-nocarousel" style="background: url('{{ image_url }}');"> #}
{# <div class="stacys-banner-nocarousel-overlay"></div> #}
{# <h1>{{ 'Occasions'|t }}</h1> #}
{# </section> #}

<section class="stacys-top-banner bg-white">

  <img class="w-100 noMobile-md" src="{{ image_url }}" alt="Product Recipe Banner">
  <img class="w-100 noDesktop-md" src="{{ image_url }}" alt="Product Recipe Banner">

  <div class="stacys-banner-overlay">
    <img class="w-100 noMobile-md" src='/themes/brandstheme/src/images/stacys/stacys-banner-white-overlay-dsk.png' alt="Stacys recipe overlay">
    <img class="w-100 noDesktop-md" src='/themes/brandstheme/src/images/stacys/stacys-banner-white-overlay-mbl.png' alt="Stacys recipe overlay">
  </div>

  <div class="container stacys-banner-copy">
    <div class="row">
      <div class="col-md-12 col-lg-5 center-align-dsk-stacys">
        <div class="noMobile-md">
          <img class="w-banner-pattern" src="/themes/brandstheme/src/images/stacys/stacy-top-banner-heading-pattern.svg" alt="Stacys banner heading pattern">
        </div>
        <div>
          <h1 class="text-dark">
            <img class="w-banner-pattern-mbl" src="/themes/brandstheme/src/images/stacys/stacy-top-banner-heading-pattern.svg" alt="Stacys banner heading pattern">
            {{ 'Occasions'|t }}
          </h1>
        </div>
      </div>
    </div>
  </div>

</section>


<section class="stacys-occassions-details-block">

  <div class="container">
    <div class="row">
      <div class="col-md-12 stacys-occasions-main-heading text-center">
        <div class="stacys-heading-pattern-left">
          <svg class="stacy-pattern-padding" xmlns="http://www.w3.org/2000/svg" width="39.153" height="47.316" viewBox="0 0 39.153 47.316">
            <g id="Group_1553" data-name="Group 1553" transform="translate(268.829 -391.062)">
              <path id="Path_3972" data-name="Path 3972" d="M-249.611,407.117c10.614,0,19.218,7.6,19.218,7.6s-8.6,7.6-19.218,7.6-19.218-7.6-19.218-7.6S-260.225,407.117-249.611,407.117Z" fill="#ffb711"/>
              <path id="Path_3973" data-name="Path 3973" d="M-237.909,435.332c5.79-3.664,8.233-10.269,8.233-10.269s-6.943-.666-12.733,3-8.233,10.27-8.233,10.27S-243.7,438.995-237.909,435.332Z" fill="#ffb711"/>
              <path id="Path_3974" data-name="Path 3974" d="M-237.909,394.107c5.79,3.663,8.233,10.269,8.233,10.269s-6.943.666-12.733-3-8.233-10.269-8.233-10.269S-243.7,390.443-237.909,394.107Z" fill="#ffb711"/>
              <path id="Path_3975" data-name="Path 3975" d="M-249.611,407.117c10.614,0,19.218,7.6,19.218,7.6s-8.6,7.6-19.218,7.6-19.218-7.6-19.218-7.6S-260.225,407.117-249.611,407.117Z" fill="#ffb711"/>
              <path id="Path_3976" data-name="Path 3976" d="M-237.909,435.332c5.79-3.664,8.233-10.269,8.233-10.269s-6.943-.666-12.733,3-8.233,10.27-8.233,10.27S-243.7,438.995-237.909,435.332Z" fill="#ffb711"/>
              <path id="Path_3977" data-name="Path 3977" d="M-237.909,394.107c5.79,3.663,8.233,10.269,8.233,10.269s-6.943.666-12.733-3-8.233-10.269-8.233-10.269S-243.7,390.443-237.909,394.107Z" fill="#ffb711"/>
            </g>
          </svg>
        </div>
        <h1>{{ subtitle }}</h1>
        <div class="stacys-heading-pattern-right">
          <svg class="stacy-pattern-padding" xmlns="http://www.w3.org/2000/svg" width="39.153" height="47.316" viewBox="0 0 39.153 47.316">
            <g id="Group_1554" data-name="Group 1554" transform="translate(-229.676 438.377) rotate(180)">
              <path id="Path_3972" data-name="Path 3972" d="M-249.611,407.117c10.614,0,19.218,7.6,19.218,7.6s-8.6,7.6-19.218,7.6-19.218-7.6-19.218-7.6S-260.225,407.117-249.611,407.117Z" fill="#ffb711"/>
              <path id="Path_3973" data-name="Path 3973" d="M-237.909,435.332c5.79-3.664,8.233-10.269,8.233-10.269s-6.943-.666-12.733,3-8.233,10.27-8.233,10.27S-243.7,438.995-237.909,435.332Z" fill="#ffb711"/>
              <path id="Path_3974" data-name="Path 3974" d="M-237.909,394.107c5.79,3.663,8.233,10.269,8.233,10.269s-6.943.666-12.733-3-8.233-10.269-8.233-10.269S-243.7,390.443-237.909,394.107Z" fill="#ffb711"/>
              <path id="Path_3975" data-name="Path 3975" d="M-249.611,407.117c10.614,0,19.218,7.6,19.218,7.6s-8.6,7.6-19.218,7.6-19.218-7.6-19.218-7.6S-260.225,407.117-249.611,407.117Z" fill="#ffb711"/>
              <path id="Path_3976" data-name="Path 3976" d="M-237.909,435.332c5.79-3.664,8.233-10.269,8.233-10.269s-6.943-.666-12.733,3-8.233,10.27-8.233,10.27S-243.7,438.995-237.909,435.332Z" fill="#ffb711"/>
              <path id="Path_3977" data-name="Path 3977" d="M-237.909,394.107c5.79,3.663,8.233,10.269,8.233,10.269s-6.943.666-12.733-3-8.233-10.269-8.233-10.269S-243.7,390.443-237.909,394.107Z" fill="#ffb711"/>
            </g>
          </svg>
        </div>

      </div>

      <div class="col-md-12 text-center">
        <div class="occasion-description">
          {{ body|raw }}
        </div>
      </div>

    {#This section is built using same template as recipe page#}
      <div class="col-md-12 padding-top-medium">
        <div class="row js-recipe-container" data-count="{{ recipe_count }}">

          {% for recipe in recipes %}
            <div class="col-md-4 stacys-recipes-col text-center">

              <div class="row">
                <div class="col-md-12 stacys-recipes-img-block">
                  <a href="{{ recipe.link }}" aria-label="{{ recipe.title|raw }}">
                    <div class="stacys-recipes-img {% if recipe.img_position is empty %} img-align-center {% else %} img-align-{{recipe.img_position}} {% endif %}" style="background-image: url('{{ recipe.image_url }}')">
                    </div>
                  </a>
                </div>
              </div>

              <div class="stars-flex-end">
                <div class="stacys-stars stacys-stars-corner">
                  {% for i in 1..5 %}
                    <span {% if i <= recipe.rating %}class="checked"{% endif %}></span>
                  {% endfor %}
                </div>
              </div>

              <div class='stacys-recipes-description text-center'>

                <a href="{{ recipe.link }}">
                  <h4>
                    {{ recipe.title|raw }}
                  </h4>
                </a>

              </div>

              <div class="stacys-recipes-btn">
                <a href="{{ recipe.link }}" class="btn_stacys">
                  {{ 'View Recipe'|t }}
                </a>
              </div>

            </div>
          {% endfor %}

        </div>
      </div>

    </div>
  </div>

</section>

<section id="coupon" class="stacys-coupon-block">
  <div class="stacys-section-container two-panel-block">
    {{ coupon_block|t|raw }}
  </div>
</section>
