
<div class="quaker-hockey-banner noMobile-sm">
  <div class="banner_slide--text {{class_pos}} contest-banner-text hockey-canada-faq-text">
{#    <img class="hockey-hungry" src="/themes/brandstheme/src/images/quaker/hockey-contest/hockey-hungry.png" alt="hockey hungry logo tag" />#}
    <h1>{{ "FAQ" |t }}</h1>
    <p>{{ "Have a question about the contest? Take a look through our list of frequently asked questions for answers. Can’t find the answer you’re looking for? <a href='https://contact.pepsico.com/tastyrewards'>Click here</a> to contact us directly! <br><br> We’ll be happy to take care of you." |t }}</p>

  </div>

  <img class = "hockey-banner-faq-img en" src="/themes/brandstheme/src/images/quaker/hockey-contest/Quaker-Hockey_Top-Banner-2.png" alt="quaker products" />
  <img class="hockey-banner-faq-img fr" src="/themes/brandstheme/src/images/quaker/hockey-contest/Top-Banner-Big_FR.png" alt="quaker products" />
</div>
</div>

<div class="quaker-hockey-banner noDesktop-sm">
  <div class="banner_slide--text {{class_pos}} contest-banner-text hockey-canada-faq-text">
    {#    <img class="hockey-hungry" src="/themes/brandstheme/src/images/quaker/hockey-contest/hockey-hungry.png" alt="hockey hungry logo tag" />#}
    <h1>{{ "FAQ" |t }}</h1>
    <p>{{ "Have a question about the contest? Take a look through our list of frequently asked questions for answers. Can’t find the answer you’re looking for? <a href='https://contact.pepsico.com/tastyrewards'>Click here</a> to contact us directly! <br><br> We’ll be happy to take care of you." |t }}</p>

  </div>

  <img class = "hockey-banner-faq-img en" src="/themes/brandstheme/src/images/quaker/hockey-contest/banner-lose-mobile.jpg" alt="quaker products" />
  <img class="hockey-banner-faq-img fr" src="/themes/brandstheme/src/images/quaker/hockey-contest/banner-lose-mobile-fr.png" alt="quaker products" />
</div>
</div>


<section id="hockey-faq">
{#  <section class="hockey-contest-faq">#}
{#    <div class="container faq-banner-spacing">#}
{#      <div class = "row">#}
{#        <div class = "col-md-6 faq-text">#}
{#          <div class = "m-auto">#}
{#          <h1 class = "color-lightblue montserrat-black">{{ "FAQ" | t}}</h1>#}

{#          <p class = "opensans-semibold">{{ "Have a question about the contest? Take a look through our list of frequently asked questions for answers. Can’t find the answer you’re looking for? Click <a href='https://contact.pepsico.com/tastyrewards' target='_blank'>here</a> to contact us directly! We’ll be happy to take care of you." | t | raw }}</p>#}
{#          </div>#}
{#        </div>#}



{#        <div class = "col-md-6">#}
{#          <img class = "mw-100" src="/themes/tastytheme/src/images/grab-snack/Tiles-Prizes-3.png" alt = "prizes"/>#}

{#          <p class="faq-banner-disclaimer">#}
{#          {{"Prizes not exactly as shown"|t}}#}
{#          </p>#}

{#        </div>#}

{#      </div>#}
{#    </div>#}
{#  </section>#}

  <div class="container faq-spacing">
    <div class="col-md-12 back-btn">
    {# {{ how to get language? }}/contest/hockeyswinswag/landing #}
      <a class="contest-back-btn" href="{{data.back_button}}">
        {{'Back'|t}}
      </a>
    </div>

    <div class="col-sm-12">
      <div class="panel-group faq-border" id="accordion1">
        <div class="panel panel-default">
          <div class="faq-panel">
            <div class="faq-panel-title-container">
              <h4 class="panel-title faq-title">
                <a class="collapsed faq-plus-minus" data-target="#collapseOne" data-toggle="collapse" href="#collapseOne">
                  {{ "1. What is a valid UPC? Where can I find it on the packaging?" | t}}
                </a>
              </h4>
            </div>
            <div class="panel-collapse collapse" id="collapseOne">
              <div class="panel-body faq-body">
                <p class="faq-paragraph">
                  {{ "You can find your 12-digit UPC on the bottom of participating Quaker<sup>®</sup> Instant Oatmeal products.  For a full list of participating products, please see the <a href='/en-ca/contest/quakerhockeyhungry/officialrules'>Official Rules.</a>  " | t}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-group faq-border" id="accordion2">
        <div class="panel panel-default">
          <div class="faq-panel">


            <div class="faq-panel-title-container">
              <h4 class="panel-title faq-title">
                <a class="collapsed faq-plus-minus" data-target="#collapseTwo" data-toggle="collapse" href="#collapseTwo">
                  {{ "2. What are the participating products that are part of this contest?" | t}}
                </a>
              </h4>
            </div>

            <div class="panel-collapse collapse" id="collapseTwo">
              <div class="panel-body faq-body">
                <p class="faq-paragraph">
                  {{ "For a full list of participating products, please see the <a href='/en-ca/contest/quakerhockeyhungry/officialrules'>Official Rules.</a>  "|t}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-group faq-border" id="accordion3">
        <div class="panel panel-default">
          <div class="faq-panel">


            <div class="faq-panel-title-container">
              <h4 class="panel-title faq-title">
                <a class="collapsed faq-plus-minus" data-target="#collapseThree" data-toggle="collapse" href="#collapseThree">
                  {{ "3. Do I have to purchase a product in order to participate in the contest?" | t}}
                </a>
              </h4>
            </div>

            <div class="panel-collapse collapse" id="collapseThree">
              <div class="panel-body faq-body">
                <p class="faq-paragraph">
                  {{ "No purchase is necessary to enter this Contest. Please see the"|t}}
                  <a href='{{"/en-ca/contest/hockeyswinswag/officialrules"|t}}' target='_blank'>
                    {{"Official Rules"|t}}</a> {{"for details on how to enter without purchase."|t|raw }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-group faq-border" id="accordion4">
        <div class="panel panel-default">
          <div class="faq-panel">


            <div class="faq-panel-title-container">
              <h4 class="panel-title faq-title">
                <a class="collapsed faq-plus-minus" data-target="#collapseFour" data-toggle="collapse" href="#collapseFour">
                  {{ "4. How many times can I enter?" | t}}
                </a>
              </h4>
            </div>

            <div class="panel-collapse collapse" id="collapseFour">
              <div class="panel-body faq-body">
                <p class="faq-paragraph">
                  {{ "You can enter one UPC per person per email per day." | t}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-group faq-border" id="accordion5">
        <div class="panel panel-default">
          <div class="faq-panel">


            <div class="faq-panel-title-container">
              <h4 class="panel-title faq-title">
                <a class="collapsed faq-plus-minus" data-target="#collapseFive" data-toggle="collapse" href="#collapseFive">
                  {{ "5. My UPC wasn’t accepted. What do I do?" | t}}
                </a>
              </h4>
            </div>

            <div class="panel-collapse collapse" id="collapseFive">
              <p class="faq-paragraph">
                {{ "Please double check that you’ve entered each character correctly. If you’re still having difficulties with your code, please <a href='https://contact.pepsico.com/tastyrewards' target='_blank'>contact us</a> and describe the issue you are experiencing and provide the code that is not working. Please allow 2 business days to receive and respond to inquiries." | t}}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-group faq-border" id="accordion6">
        <div class="panel panel-default">
          <div class="faq-panel">


            <div class="faq-panel-title-container">
              <h4 class="panel-title faq-title">
                <a class="collapsed faq-plus-minus" data-target="#collapseSix" data-toggle="collapse" href="#collapseSix">
                  {{ "6. I don’t have a computer and/or internet access. How can I participate?" | t}}
                </a>
              </h4>
            </div>

            <div class="panel-collapse collapse" id="collapseSix">
              <div class="panel-body faq-body">
                <p class="faq-paragraph">
                  {{ "Internet access is required to participate in the Quaker<sup>®</sup> Hockey Hungry Contest.  You can access the contest website from any public computer with internet access, such as those available for use at the library or an internet café." | t}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-group faq-border" id="accordion7">
        <div class="panel panel-default">
          <div class="faq-panel">

            <div class="faq-panel-title-container">
              <h4 class="panel-title faq-title">
                <a class="collapsed faq-plus-minus" data-target="#collapseEight" data-toggle="collapse" href="#collapseEight">
                  {{ "7. How will you use and/or share my information?" | t}}
                </a>
              </h4>
            </div>

            <div class="panel-collapse collapse" id="collapseEight">
              <div class="panel-body faq-body">
                <p class="faq-paragraph">
                  {{ "To view PepsiCo Canada’s Privacy Policy, please visit <a href='http://pepsico.ca/en/Privacy-Policy.html' target='_blank'>www.pepsico.ca</a>" | t}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="quaker-hockey-official-rules">
    <div class="container">
      {{'† No purchase necessary. Open to Canadian residents only, age of majority or older. Mathematical skill-testing question required. Contest Period: September 27 at 12:00pm (noon) ET to December 5, 2021 at 11:59:59pm ET. Instant Prizes available: (i) 9,000 Free Product Coupons (ARV $5.99 each); (ii) 1,000 Quaker<sup>®</sup> Oatmeal Travelers (ARV $20 each). Grand Prizes available: (i) 10 Hockey Canada<sup>®</sup> Prize Packs (1 per week/ARV $1,500 each). Chances of winning: (i) Instant Prize, depend on when entry played; (ii) Grand Prize, depend on entries received. Max 1 UPC per day. Prizes diminish as awarded. Details & Official Rules,'|t}}
      <a style = "font-size: 17px" href = "{{data.rules_link}}"> {{ 'click here.'|t }}</a>


      <div class="quaker-hockey-official-rules-links">
        <a class="quaker-hockey-contest-rules-button" href="{{data.rules_link}}">{{'OFFICIAL RULES'|t}}</a>
        <a class="quaker-hockey-contest-rules-button" href="{{data.prize_link}}">{{'PRIZES'|t}}</a>
        <a class="quaker-hockey-contest-rules-button" href="{{data.faq_link}}">{{'FAQ'|t}}</a>
      </div>
    </div>
  </div>

</section>
