<section id="quaker-hockey-contest">

  <div class="noDesktop-sm hockey-banner-mobile">
    <div class="banner_slide--text {{class_pos}} contest-banner-text rules-mobile-banner-text ">
      <h1>{{ "Prizes" |t }}</h1>

    </div>
  </div>

  <div class="noMobile-sm quaker-hockey-banner">
    <div class="banner_slide--text {{class_pos}} contest-banner-text prizes-banner-text">
      <h1>{{ "Prizes" |t }}</h1>
    </div>

    <img class="hockey-banner-item prize hockey-banner en" src="/themes/brandstheme/src/images/quaker/hockey-contest/Top-Banner-Small_ENG.png" alt="quaker products" />
    <img class="hockey-banner-item hockey-banner prize fr" src="/themes/brandstheme/src/images/quaker/hockey-contest/Top-Banner-Small_FR.png" alt="quaker products" />
  </div>

  <div class="quaker-hockey-block-container">
    <div class="container">
      <a class="contest-back-btn" href="{{data.back_button}}">
        {{'Back'|t}}
      </a>

      <p class="quaker-hockey-prize-title font-chuckfive">
        {{'Enter today for a chance to WIN<sup>†</sup> one of thousands of Instant Win prizes - 9,000 Free Product Coupons available (ARV:$6.99 each), and 1,000 Quaker<sup>®</sup> Oatmeal Travelers available (ARV: $20 each) - plus a total of 10 Grand Prize Hockey Canada<sup>®</sup> Prize Packs available (one awarded each week), including one (1) signed Hockey Canada<sup>®</sup> replica jersey,one (1) $500Hockey Canada<sup>®</sup> gift card , and one (1) $500 Sport Chek<sup>®</sup> / Sports Experts<sup>®</sup> gift card (total ARV of $1,500 each).<br><br>
          Just enter the UPC from a participating Quaker<sup>®</sup> Instant Oatmeal product for a chance to win<sup>†</sup>.'|t}}
      </p>
    </div>

    <div class="quaker-hockey-block container">
      <img class = "en" src="/themes/brandstheme/src/images/quaker/hockey-contest/grand-prize-en.png" alt="sportchek canada prize" />
      <img class = "fr" src="/themes/brandstheme/src/images/quaker/hockey-contest/grand-prize-fr.png" alt="sportchek canada prize" />

      <div class="quaker-barcode-text-wrap">
        <h3>{{'x 10 GRAND PRIZE HOCKEY CANADA<sup>®</sup> PRIZE PACKS'|t}}</h3>
      </div>
    </div>
  </div>

  <div class="quaker-recipe-coupon">
    <div class="container">
      <div class="quaker-recipe-coupon-goalie-prize">

        <div class="quaker-recipe-coupon-col">

          <img class="quaker-oatmeal-custom" src="/themes/brandstheme/src/images/quaker/hockey-contest/quaker-oatmeal-traveler.png" alt="quaker-oatmeal-traveler.png" />

          <h3>{{'x 1,000 QUAKER<sup>®</sup> OATMEAL TRAVELERS'|t}}</h3>

{#          <a class="quaker-hockey-contest-button" href="">{{'VIEW COUPONS'|t}}</a>#}
        </div>
        <div class="quaker-recipe-coupon-col">
          <img class="quaker-oatmeal-free en" src="/themes/brandstheme/src/images/quaker/hockey-contest/free-quaker-product.png" alt="Logo of Tasty Rewards" />
          <img class="quaker-oatmeal-free fr" src="/themes/brandstheme/src/images/quaker/hockey-contest/free-quaker-product-fr.png" alt="Logo of Tasty Rewards" />
          <h3 id="prizes-text">{{'x 9,000 FREE PRODUCT COUPONS'|t}}</h3>
        </div>

      </div>

      <p class="quaker-recipe-coupon-goalie-prize-sub">{{'Prizes not exactly as shown'|t}}</p>
    </div>
  </div>

  <div class="quaker-hockey-official-rules">
    <div class="container">
      {{'† No purchase necessary. Open to Canadian residents only, age of majority or older. Mathematical skill-testing question required. Contest Period: September 27 at 12:00pm (noon) ET to December 5, 2021 at 11:59:59pm ET. Instant Prizes available: (i) 9,000 Free Product Coupons (ARV $5.99 each); (ii) 1,000 Quaker<sup>®</sup> Oatmeal Travelers (ARV $20 each). Grand Prizes available: (i) 10 Hockey Canada<sup>®</sup> Prize Packs (1 per week/ARV $1,500 each). Chances of winning: (i) Instant Prize, depend on when entry played; (ii) Grand Prize, depend on entries received. Max 1 UPC per day. Prizes diminish as awarded. Details & Official Rules,'|t}}
      <a style = "font-size: 17px" href = "{{data.rules_link}}"> {{ 'click here.'|t }}</a>


      <div class="quaker-hockey-official-rules-links">
        <a class="quaker-hockey-contest-rules-button" href="{{data.rules_link}}">{{'OFFICIAL RULES'|t}}</a>
        <a class="quaker-hockey-contest-rules-button" href="{{data.prize_link}}">{{'PRIZES'|t}}</a>
        <a class="quaker-hockey-contest-rules-button" href="{{data.faq_link}}">{{'FAQ'|t}}</a>
      </div>
    </div>
  </div>

</section>
