<script type="text/javascript">
window.popup_contest = 1;
</script>
{{ attach_library( 'quaker_contest/landing' ) }}
{{ attach_library( 'quaker_contest/cheetos' ) }}

{% if data.langcode == 'fr' %}
    {% include '@quaker_contest/include/contest_rules_cheetos_fr.html.twig' %}
{% else %}

<section class="cheetos" id="cheetos-contestrules">
        <div class="cheetos-banner">
            <div class="cheetos-banner-content">
                <h1>
                    Official rules
                </h1>
            </div>
        </div>


        <div class="cheetos-contestrules-body">
            <div class="cheetos-contestrules-back">
                <a href="{{data.back_button}}">< Back</a>
            </div>

            <div class="cheetos-contestrules-text-container">
                <div class="cheetos-contestrules-text"> 
                    <div class="cheetos-contestrules-body-header">
                        <h2>
                            Cheetos<sup>&reg;</sup> Carnival Contest<br>
                            Official Rules
                        </h2>
                    </div>

                    <p>
                        <strong>
                        THIS CONTEST IS INTENDED FOR PARTICIPATION IN CANADA ONLY AND WILL BE 
                        GOVERNED BY CANADIAN LAW. DO NOT ENTER UNLESS YOU ARE ELIGIBLE AND RESIDE
                        IN CANADA AT THE TIME OF PARTICIPATION.
                        </strong>
                    </p>

                    <p>
                        <strong>
                        NO PURCHASE OR PAYMENT OF ANY KIND IS NECESSARY TO ENTER OR WIN. A PURCHASE
                        WILL NOT INCREASE YOUR CHANCE OF WINNING. VOID WHERE PROHIBITED. BY PARTICIPATING
                        IN THE CONTEST, PARTICIPANT AGREES TO BE BOUND BY THESE RULES AND THE DECISIONS OF 
                        THE SPONSOR, WHICH SHALL BE FINAL AND BINDING IN ALL RESPECTS.
                        </strong>
                    </p>

                    <p class="cheetos-contestrules-section">
                        <strong>ELIGIBILITY</strong>: The Contest is only open to residents of Canada, who are nineteen
                        (19) years of age or older at the time of entry. The following persons are not 
                        eligible to participate: employees, contractors, directors and officers of PepsiCo 
                        Canada ULC (“<strong>Sponsor</strong>”), BAM Strategy (the “<strong>Administrator</strong>”), and their respective 
                        parent, subsidiary and affiliated companies, participating retailers, distributors, 
                        Web design, advertising, fulfillment, judging and promotion agencies involved in the 
                        administration, development, fulfillment and execution of this Contest (collectively, 
                        “<strong>Contest Parties</strong>”), and the immediate family members (spouse, parent, child, sibling, 
                        grandparent, and/or “step”) of each and those living in their same households (those 
                        persons whether related or not who live in the same residence).
                    </p>

                    <p class="cheetos-contestrules-section">
                        <strong>CONTEST PERIOD</strong>: The Contest begins at 12:00 pm (noon) Eastern Time (“<strong>ET</strong>”) on 
                        June 28, 2021 and ends at 11:59:59 pm ET on September 5, 2021 (“<strong>Contest Parties</strong>”).  
                        The computer of the Sponsor's Administrator is the official time-keeping device of 
                        the Contest.
                    </p>

                    <p class="cheetos-contestrules-section">
                        <strong>HOW TO ENTER</strong>: During the Contest Period, visit <a href="https://www.CheetosCarnival.ca" target="_blank">www.CheetosCarnival.ca</a> (the “<b>Contest Website</b>”) 
                        on your desktop or mobile device and follow the instructions to enter the site.  To enter the 
                        Contest, you will need a 12-digit UPC from specially marked participating CHEETOS<sup>&reg;</sup> products 
                        (“<strong>Participating Products</strong>”), as provided below, available while supplies last.
                    </p> 

                    <div class="cheetos-contestrules-howtoenter-table">
                        <table>
                            <tr> 
                                <th><strong>Participating Product</strong></th>
                                <th><strong>Bag Size</strong></th>
                            </tr>

                            <tr>
                                <td>CHEETOS Puffs cheese flavoured snacks</td>
                                <td>260&nbsp;g</td>
                            </tr>

                            <tr>
                                <td>CHEETOS CRUNCHY cheese flavoured snacks</td>
                                <td>285&nbsp;g</td>
                            </tr>

                            <tr>
                                <td>CHEETOS CRUNCHY Cheddar Jalapeño cheese flavoured snacks</td>
                                <td>285&nbsp;g</td>
                            </tr>

                            <tr>
                                <td>CHEETOS CRUNCHY FLAMIN’ HOT cheese flavoured snacks</td>
                                <td>285&nbsp;g</td>
                            </tr>

                            <tr>
                                <td>CHEETOS Puffs White Cheddar flavour cheese flavoured snacks</td>
                                <td>240&nbsp;g</td>
                            </tr>

                            <tr>
                                <td>CHEETOS Puffs FLAMIN’ HOT cheese flavoured snacks</td>
                                <td>230&nbsp;g</td>
                            </tr>
                        </table>
                    </div>

                    <p>
                      With your UPC, follow the instructions below:
                    </p>

                    <ul class="custom-roman-lower">
                        <li>
                            <u><strong>CANADA (excluding Quebec):</strong></u> Using your mobile device, follow the instructions 
                            on each screen to provide the following: Participating Product UPC, email address, first 
                            name, last name, province, postal code. Before you can play the game and determine if you 
                            are eligible to win an instant prize, you will be required to confirm that you have read, 
                            understood and are eligible to and will participate according to these Rules. Once you have 
                            completed the above, you will be redirected to the game where you will tap the buttons and aim 
                            to hit the targets with Cheetos snacks while avoiding hitting Chester Cheetah. Your score has 
                            no bearing on whether you are eligible to win any Prize. You will need to complete or end 
                            the game to determine if you are eligible to win an Instant Prize (see Rule 5). You will 
                            automatically receive one (1) entry into the Grand Prize draw (see Rule 4).
                        </li>

                        <li>
                            <u><strong>Quebec only:</strong></u> Using your mobile device, follow the instructions on each screen to 
                            provide the following: Participating Product UPC, email address, first name, last name, province, 
                            postal code. Before submitting your entry and to determine if you are eligible to win an instant 
                            prize, you will be required to confirm that you have read, understood and are eligible to and will 
                            participate according to these Rules. Once you have completed the above, click “submit” to be taken 
                            to the next screen to determine if you are eligible to win an Instant Prize (see Rule 5). You will 
                            automatically receive one (1) entry into the Grand Prize draw (see Rule 4).
                        </li>
                    </ul>

                    <p>
                        <u><strong>No purchase:</strong></u> Purchase is not required and does not enhance a person’s chances of winning.  
                        If you wish to enter the Contest without purchase, please use the following Bag Code: 904174631847.  
                        Although online access and an email account are required in order to participate in the Contest, no 
                        purchase is required; many public libraries, Internet cafés, retail businesses and others offer access 
                        to the Internet and a number of Internet service providers and other companies offer free email accounts.
                    </p>

                    <p> 
                        <strong>Limit one (1) UPC per person per email address per day.</strong> A UPC may be used more than once, but may be entered 
                        by the same person only once per day during the Contest Period. A “day” is defined as a twenty-four (24) hour 
                        time period between 12:00 am ET and 11:59:59 pm ET of the same day, with the exception of the first day of the 
                        Contest which shall begin at 12:00 pm (noon) ET and end at 11:59:59 p.m. ET of the same day. All entries must 
                        be properly received and recorded by the Administrator’s computer within the Contest Period in order to be eligible 
                        to win a prize.
                    </p>

                    <p>
                        No other form of submitting an entry is valid other than as stated above. <strong> Only one (1) email address may be used 
                        by any person to participate in the Contest.</strong> Multiple participants may not share the same email address. A potential 
                        winner may be requested to provide the Sponsor and/or Administrator with proof that he/she is the authorized account 
                        holder of the email address associated with the winning account and/or an eligible participant. Participants may not 
                        register/enter with multiple email addresses, nor may participants use any other device to register/enter under multiple 
                        identities. Any participant who attempts to enter with multiple email addresses or accounts under multiple identities 
                        will be disqualified and forfeits any prize won, in the Sponsor's sole discretion.
                    </p>

                    <p>
                        If you participate via a mobile device, you may incur standard data charges from your wireless service provider. Check 
                        with your wireless service provider for details about these and other applicable charges. Entrants are solely responsible 
                        for any such data charges. If you do not have internet access via a personal computer, your local library or Internet café 
                        may be able to provide access to the Internet and a number of Internet service providers and other companies offer free 
                        e-mail accounts.
                    </p>

                    <p class="cheetos-contestrules-section">
                        <strong>HOW TO WIN:</strong> There are two (2) ways you could be selected as eligible to win a prize:
                    </p>
                </div>

                <div class="cheetos-contestrules-list">
                    <ul class="custom-roman-lower">
                        <li>
                            <p>
                                <strong>Instant-Win:</strong> By submitting an entry as outlined in Rule 3. Randomly selected dates and times during 
                                the Contest Period will be chosen by the Administrator, and the first participant who completes an entry in accordance 
                                with these Rules (whose entry is properly received and recorded by the Administrator’s computer on or immediately after 
                                a randomly selected time during the Contest Period) will potentially win an Instant Win prize (subject to verification).
                            </p>

                            <p>
                                If your device displays a prize-winning message, you are a potential winner of the indicated Instant Win prize (subject 
                                to verification). If your device does not display a prize-winning message, you are not a winner of an Instant Win prize.  
                                Potential Instant Win prize winners will also receive an email at the email address provided with your entry. All entries 
                                must be properly received and recorded within the Contest Period in order to be eligible to win a prize. Odds of winning an 
                                Instant Win prize depend on the order in which entries are received.
                            </p>

                            <p>
                                If you are notified on-screen that you are eligible to win an Instant Win Prize based on your entry you will be sent an email 
                                to the email address associated with your account that contains a link (the “<strong>Notification</strong>”). Upon clicking the link, you must 
                                enter the email address associated with your account. You will then be prompted to correctly answer a time-limited mathematical 
                                skill-testing question to be provided on-screen without assistance of any kind, whether mechanical or otherwise. If the potential 
                                winner correctly answers the mathematical skill-testing question, they will be asked to complete a prize claim form which includes 
                                confirming / providing their name, province and email, and to agree to a declaration of compliance and release. Once these steps 
                                have been completed, the Sponsor’s designated agent will confirm the potential winner as a winner, and their Instant-Win Prize will 
                                be delivered by mail. Please allow up to two (2) weeks for verification and delivery of prize. Prizes will only be delivered to 
                                winners who have been verified and have complied with these Rules.
                            </p>

                            <p>
                                If the potential Prize winner does not respond to the Notification within three (3) business days, is found to be ineligible for any 
                                reason, declines to accept the prize, or incorrectly answers the required mathematical-skill testing question, the potential winner 
                                will be disqualified and will forfeit the prize. The Contest Parties will not be responsible for failed attempts to notify any potential winner.
                            </p>
                        </li>

                        <li>
                            <p>
                                <strong>Random Draw:</strong> A random draw will be conducted on Wednesday, September 8, 2021 at 2:00 pm ET at 4810 Jean-Talon Street West, Suite 203, 
                                Montreal, QC H4P 2N5 from among all eligible entries received for the Grand Prize Draw during the Contest Period to select an entrant 
                                eligible to win the Grand Prize as described in Rule 5. Odds of winning depend on the total number of eligible entries received.  The 
                                entrant selected as eligible to win the Grand Prize will be notified by email within three (3) business days following the draw (the "<strong>Notification</strong>").  
                                Please see the "<strong>Additional Prize Conditions</strong>" in Rule 5 for conditions applicable to the Grand Prize Draw.
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="cheetos-contestrules-text"> 
                    <p class="cheetos-contestrules-section">
                    <strong>PRIZES:</strong> The following prizes are available to be won in the Contest:</p>
                </div>

                <div class="cheetos-contestrules-list">
                    <ul class="custom-roman-lower">
                        <li>
                            <strong>Instant-Win</strong>:<br>

                            <ul class="custom-alpha-lower">
                                <li>
                                    <p>
                                        <strong>Free Product Coupons:</strong> There are a total of four thousand and one hundred (4,100) Free Product Coupon prizes available to be won during the Contest Period. Each Free Product Coupon prize consists of one (1) Cheetos<sup>&reg;</sup> Free Product Coupon and one (1) Cheetos<sup>&reg;</sup> Mac ‘n Cheese Free Product Coupon (collectively, a "<strong>Free Product Coupon Prize </strong>"). The total approximate retail value of each Free Product Coupon Prize is CAD $7.98. The number of Free Product Coupon Prizes available to be won will diminish as they are claimed throughout the Contest Period. <strong>Limit two (2) Free Product Coupon Prizes per person during the Contest. </strong>
                                    </p>
                                </li>
                            </ul>
                            
                            <p>
                                Instant-Win Prizes must be accepted as awarded, and cannot be substituted, transferred, exchanged or surrendered for cash, except at the sole and absolute discretion 
                                of the Sponsor, which may award a substitute prize of equal or greater value.
                            </p>
                        </li>
                    

                        <li>
                            <p><strong>Grand Prize Draw:</strong> There is one (1) Grand Prize available to be won, consisting of ten thousand dollars 
                            ($10,000 CAD) (the “<strong>Grand Prize</strong>”), to be awarded in the form of a cheque payable to the Grand Prize winner.
                            </p>

                            <p><strong>Additional Prize Conditions:</strong> If you are selected as eligible to win the Grand Prize, to be declared a winner, the selected entrant must:</p>

                            
                            <ul class="custom-roman-lower">
                                <li>
                                respond to the Notification from the Sponsor’s designated agent within five (5) business days and provide the information requested;
                                </li>
                                <li>
                                correctly answer, without assistance of any kind, whether mechanical, electronic or otherwise, a required time-limited mathematical skill-testing question to be administered by the Sponsor’s designated agent at a mutually agreeable time;
                                </li>
                                <li>
                                sign a form of declaration of compliance and release of liability, confirming that the selected entrant is an eligible participant, releasing the Contest Parties from any and all liability in connection with this Contest, his/her participation therein and/or the awarding and use/misuse of any Prize or any portion thereof and return to the Sponsor’s designated agent by fax or email within five (5) business days of receipt of the declaration of compliance and release of liability;
                                </li>
                                <li>
                                and otherwise comply with these Rules.
                                </li>
                            </ul>  

                            <p>
                                If the potential winner fails to meet any of these requirements, he/she will be disqualified and 
                                forfeit the Grand Prize.  The Sponsor may then, at its sole and absolute discretion, select by 
                                random draw another eligible entrant whom the Sponsor or its representatives will attempt to contact, 
                                and who will be subject to disqualification in the same manner.  The potential winner may be required 
                                to furnish proof of identification that may include a driver’s license or other form of photo 
                                identification as part of the verification process.  The Sponsor will not be responsible for 
                                failed attempts to notify the potential Grand Prize winner.
                            </p>

                            <p>
                                The Grand Prize must be accepted as awarded and cannot be substituted, transferred or exchanged, 
                                except at the sole and absolute discretion of the Sponsor, which may award a substitute prize of 
                                equal or greater value.  
                            </p>

                            <p>
                                The Grand Prize winner acknowledges that the Contest Parties have not made or are not in any manner 
                                responsible or liable for any warranty, condition, representation, or guarantee, express or implied, 
                                in fact or in law, relative to any prize, including but not limited to its quality, mechanical condition 
                                or fitness for a particular purpose.
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="cheetos-contestrules-text"> 

                    <p><strong>ADDITIONAL CONDITION OF PARTICIPATION</strong></p>
                    
                    <p class="cheetos-contestrules-section">
                    The Sponsor reserves the right, in its sole discretion, to reschedule any prize draw. The Sponsor is not responsible for late, lost, damaged, misdirected, mutilated, garbled, illegible or incomplete No Purchase Requests or entries. Proof of transmission (e.g. screenshots) does not constitute proof of receipt. No responsibility is assumed by the Contest Parties for any inability of a potential entrant to successfully enter the Contest for any reason, or for prizes that remain unclaimed or unawarded.
                    </p>
                    <p class="cheetos-contestrules-section">
                    By entering, entrants (i) acknowledge compliance with these Rules including all eligibility requirements and, (ii) agree to be bound by these Rules and the decisions of the Sponsor, made in its sole discretion, which shall be final and binding in all matters relating to this Contest, without right of appeal, including without limitation eligibility, validity, contents, and/or disqualification of an entry. Entrants who have not complied with these Rules are subject to disqualification.
                    </p>
                    <p class="cheetos-contestrules-section">
                    By accepting a prize, each winner consents to the use of his/her name, city/province of residence, voice, and statements relating to the Contest or the Sponsor, and photographs or other likenesses, without further compensation, notification or permission in any publicity or advertising carried out by the Sponsor or any related entities in any and all media now known or hereinafter developed without territorial or time limitation, except where prohibited by law.
                    </p>
                    <p class="cheetos-contestrules-section">
                    Any attempt by an entrant or other individual, to deliberately damage any website or undermine the legitimate operation of this Contest, including but not limited to any fraudulent claims, is a violation of criminal and civil laws. Should such an attempt be made, the Sponsor reserves the right to seek remedies and damages from any such individual, to the fullest extent permitted by law, including criminal prosecution. Participants engaging in any of these activities may be disqualified and will forfeit any prize won.
                    </p>
                    <p class="cheetos-contestrules-section">
                    All entries become the property of the Sponsor and will not be returned. Entries generated by script, macro, robotic, programmed, or any other automated means are prohibited and will be disqualified.
                    </p>
                    <p class="cheetos-contestrules-section">
                    If a dispute arises regarding who submitted any entry, the entry will be deemed to be submitted by the authorized account holder of the email address or phone number provided at time of entry. Authorized account holder is defined as the natural person who is assigned to an email address or phone number by an Internet access or online service provider, or other organization responsible for assigning email addresses for the domain associated with the submitted email address, or wireless carrier.
                    </p>
                    <p class="cheetos-contestrules-section">
                    Entrants and/or winners assume liability for injuries caused, or claimed to be caused by participating in the Contest, by the acceptance, possession, use or misuse of any prize awarded, including but not limited to claims/damages for personal injury, or property damage. Moreover, as a condition of entering, entrants agree: (a) to release, indemnify and hold harmless the Contest Parties, and each of their officers, directors, employees and agents, from any and all liability, loss or damage incurred with respect to participating in the Contest or the awarding, receipt, possession, and/or use or misuse of any prize, (b) that under no circumstances will entrant be permitted to obtain awards for punitive, incidental, consequential, or any other damages and entrant hereby waives all rights to claim for all such damages; (c) all causes of action arising out of or connected with this Contest, or any prize awarded, shall be resolved individually, without resort to any form of class action; and (d) any and all claims, judgments, and awards shall be limited to actual out-of-pocket costs incurred, excluding legal fees and court costs. This exclusion or limitation of liability will not apply to the extent that any applicable statue prohibits such exclusion or limitation of liability.
                    </p>

                    <p class="cheetos-contestrules-section"><strong>EVENTS INTERFERING WITH CONTEST ADMINISTRATION: </strong></p>
                </div>

                <div class="cheetos-contestrules-list">
                    <ul class="custom-roman-lower">
                        <li>
                        <u>Termination, Modification or Suspension</u>: The Sponsor may, at its sole discretion and without liability to Contest entrants, terminate the Contest in whole or in part, or modify or suspend the Contest at any time without notice, subject to the approval of the Régie des alcools, des courses et des jeux, if required with respect to the province of Quebec, in the event any of the following situations arise in the Sponsor’s sole opinion: any impedence or prevention of the Sponsor’s ability to administer the Contest as planned or intended by an event beyond the Sponsor’s control, including but not limited to an act of God, fire, flood, natural or manmade epidemic or crisis, earthquake, explosion, labour dispute or strike, telecommunications equipment failure, utility-related disruptions, software viruses, software bugs, computer programming errors, terrorist threat or activity, war (declared or undeclared), any federal, provincial, territorial or local government law, order or regulation, public health crisis, pandemic, the order of any court or jurisdiction, or by any other cause not reasonably within the Sponsor’s control. Without restricting the generality of the foregoing, and subject to the approval of the Régie des alcools, des courses et des jeux, if required, if for any reason more entrants receive notification of eligibility to win a prize than the number of prizes stated herein, the Sponsor reserves the right, in its sole discretion, to terminate the Contest in whole or in part, or amend or suspend it and award only the number of prizes stated in these Rules via a random drawing for the prizes not yet distributed at the time the Contest is terminated, suspended or amended.
                        </li>
                        <li>
                        <u>Procedure upon Early Termination</u>: In the event of early termination of the Contest, a notice will be posted online and a random drawing to award the prize(s) will be conducted from among all eligible entries received prior to the time of termination. In no event will the number of prizes awarded exceed the available number of prizes as specified in these Rules.
                        </li>
                    </ul>
                </div>    

                <div class="cheetos-contestrules-text"> 
                    <p class="cheetos-contestrules-section">
                        The Contest Parties do not make any warranties that access to the Contest Website will be uninterrupted or error-free. The Contest Parties are not responsible for any problems that may arise, including but not limited to; (a) lost, interrupted, inaccessible or unavailable networks, servers, satellites, Internet Service Providers, websites, or other connection, availability or accessibility problems arising in connection with or over the course of the Contest; or (b) communications failed, jumbled, scrambled, delayed, or misdirected computer, telephone or cable transmissions or hardware or software malfunctions, failures or difficulties; or (c) failure of personal computers and/or software and hardware configurations, any technical malfunctions, failures, or difficulties, printing errors, clerical, typographical or other error in the offering or announcement of any prize or in any prize notification documents; or (d) for any other errors of any kind relating to or in connection with the Contest, whether human, mechanical, clerical, electronic, or technical in nature; or (e) the incorrect or inaccurate capture of information, or the failure to capture any information in connection with the Contest; or (f) damage to a user’s system occasioned by participation in this Contest or downloading any information necessary to participate in this Contest.
                    </p>

                    <p class="cheetos-contestrules-section"><strong>DISPUTES:</strong></p>
                </div>  

                <div class="cheetos-contestrules-list">
                    <ul class="custom-alpha-lower">
                        <li>
                        <strong>RESIDENTS OF QUÉBEC</strong>: Any litigation respecting the conduct or organization of a publicity Contest may be submitted to the Régie des alcools des courses et des jeux for a ruling. Any litigation respecting the awarding of a prize may be submitted to the Régie only for the purpose of helping the parties reach a settlement.
                        </li>
                        <li>
                        <strong>RESIDENTS OF CANADA, EXCLUDING QUEBEC</strong>: All issues and questions concerning the construction, validity, interpretation and enforceability of these Rules, or the rights and obligations of entrant and the Sponsor in connection with the Contest, shall be governed by, and construed in accordance with, the substantive laws of the Province of Ontario without regard to conflicts of law principles. All entrants consent to the jurisdiction and venue of the Province of Ontario.
                        </li>
                    </ul>
                </div>


                <div class="cheetos-contestrules-text"> 
                    <p class="cheetos-contestrules-section">
                    <strong>CONFLICTS/DISCREPANCIES</strong>: In the event of any discrepancies between the English language Rules and the non-English language Rules, the English Rules shall prevail. In the event of a conflict between any Contest details contained in these Rules and any Contest details contained in Contest advertising materials (including, but not limited to, online, point of sale, television, and print advertising, promotional packaging, and other promotion media), the details of the Contest as set forth in these Rules shall prevail.
                    </p>

                    <p class="cheetos-contestrules-section">
                    <strong>INVALIDITY</strong>: The invalidity or unenforceability of any provision of these Rules shall not affect the validity or enforceability of any other provision.  In the event that any provision is determined to be invalid or otherwise unenforceable or illegal, these Rules shall otherwise remain in effect and shall be construed in accordance with their terms as if the invalid or illegal provision were not contained herein.
                    </p>

                    <p class="cheetos-contestrules-section">
                        <strong>PERSONAL INFORMATION</strong>: Personal information may be collected, used or disclosed in jurisdictions other than Canada.  Personal information that resides in jurisdictions other than Canada will be subject to the general laws of application in those jurisdictions. The personal information gathered about entrants in the course of this Contest will be used solely by the Sponsor for the administration of the Contest and in connection with any publicity relating to the Contest. For more information about how the Sponsor manages your personal information, see the Sponsor’s Privacy Policy available 
                        at <a href="https://www.pepsico.ca/" target="_blank">www.pepsico.ca</a>.
                    </p>
                </div>
            </div>

            <img class="cheetos-bottom-border" src="/themes/tastytheme/src/images/contest-cheetos/cheetos-bottom-border.png" />
        </div>

        <div class="cheetos-disclaimer">
            <p>
                <sup>&dagger;</sup>No purchase necessary. Open to Canadian residents, 19+. Mathematical skill-testing question required. Contest period: June 28 @ 12:00 pm (noon) ET to September 5, 2021 @ 11:59:59 pm ET. Enter UPC for a chance to win (i) Instant Prizes: Cheetos® Free Product Coupon and Cheetos® Mac ’n Cheese Free Product Coupon (4,100 available/ARV $7.98 ea); (ii) Grand Prize: $10,000 cash (awarded in the form of a cheque). Chances of winning: (i) Instant Prize, depend on when entry played; (ii) Grand Prize, depend on entries received. Max 1 UPC per day. Prizes diminish as awarded. Details & Official Rules, <a href="/en-ca/contest/cheetoscarnival/officialrules" target="_blank">click here</a>
            </p>

            <div class="cheetos-disclaimer-controls">
                <a href="{{data.rules_link}}" class="cheetos-btn cheetos-btn-orange" target="_blank">
                    {{ 'Official rules' | t }}
                </a>

                <a href="{{data.faq_link}}" class="cheetos-btn cheetos-btn-orange" target="_blank">
                    {{ 'FAQ' | t }}
                </a>
            </div>
        </div>
    </section>
{% endif %}
