<section class="cheetos" id="cheetos-faq">
    <div class="cheetos-banner">
        <div class="cheetos-banner-content">
            <h1>
                {{ 'FAQ' | t }}
            </h1>

            <p>
                {{ 'Have a question about the contest? Take a look through our list of frequently asked questions for answers. Can’t find the answer you’re looking for? Click <a href="https://contact.pepsico.com/tastyrewards" target="_blank">here</a> to contact us directly! We’ll be happy to take care of you.' | t | raw }}
            </p>
        </div>
    </div>

    <div class="cheetos-faq-container">
        <div class="cheetos-faq-body">
            <div class="cheetos-faq-back">
                <a href="{{data.back_button}}">< {{ 'Back' | t }}</a>
            </div>

            <div class="faq-questions-container">
                <div class="faq-box">
                    <div class="faq-text"> 
                        <p class="faq-question">
                            1. {{ 'What is a valid UPC? Where can I find it on the packaging?' | t }}
                        </p>

                        <p class="faq-answer">
                            {{ 'You can find your 12-digit UPC on the back of specially marked bags of Cheetos® snacks.' | t }}
                        </p>
                    </div>
                </div>

                <div class="faq-box">
                    <div class="faq-text"> 
                        <p class="faq-question">
                            2. {{ 'What are the specially marked Cheetos<sup>&reg;</sup> products that are part of this contest?' | t | raw }}
                        </p>

                        <ul class="faq-answer">
                            <li>
                                {{ 'Cheetos<sup>&reg;</sup> Puffs cheese flavoured snacks (260&nbsp;g)' | t | raw }}
                            </li>
                            <li>
                                {{ 'Cheetos<sup>&reg;</sup> Puffs Flamin’ Hot<sup>&reg;</sup> cheese flavoured snacks (230&nbsp;g)' | t | raw }}
                            </li>
                            <li>
                                {{ 'Cheetos<sup>&reg;</sup> Puffs White Cheddar flavour cheese flavoured snacks (240&nbsp;g)' | t | raw }}
                            </li>
                            <li>
                                {{ 'Cheetos Crunchy<sup>&reg;</sup> cheese flavoured snacks (285&nbsp;g)' | t | raw }}
                            </li>
                            <li>
                                {{ 'Cheetos Crunchy<sup>&reg;</sup> Cheddar Jalapeño cheese flavoured snacks (285&nbsp;g)' | t | raw }}
                            </li>
                            <li>
                                {{ 'Cheetos Crunchy<sup>&reg;</sup> Flamin’ Hot<sup>&reg;</sup> cheese flavoured snacks (285&nbsp;g)' | t | raw }}
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="faq-box">
                    <div class="faq-text"> 
                        <p class="faq-question">
                            3. {{ 'Do I have to purchase a product in order to participate in the contest?' | t }}
                        </p>

                        <p class="faq-answer">
                            {{ 'No purchase is necessary to enter this Contest. Please see the <a href="/en-ca/contest/cheetoscarnival/officialrules" target="_blank">Official Rules</a> for details on how to enter without purchase.' | t }}
                        </p>
                    </div>
                </div>
                
                <div class="faq-box">
                    <div class="faq-text"> 
                        <p class="faq-question">
                            4. {{ 'How many times can I enter?' | t }}
                        </p>

                        <p class="faq-answer">
                            {{ 'You can submit a maximum of one UPC per person per email address per day (from either an eligible product purchase or no purchase request). For details on how to participate without making a purchase, see the <a href="" target="_blank">Official Rules</a>' | t }}
                        </p>
                    </div>
                </div>
                
                <div class="faq-box">
                    <div class="faq-text"> 
                        <p class="faq-question">
                            5. {{ 'My UPC wasn’t accepted. What do I do?' | t }}
                        </p>

                        <p class="faq-answer">
                            {{ 'Please double check that you’ve entered each digit correctly. If you’re still having difficulties with your UPC, please <a href="https://contact.pepsico.com/tastyrewards" target="_blank">contact us</a> and describe the issue you are experiencing and provide the UPC that is not working. Please allow 2 business days to receive and respond to inquiries.' | t }}
                        </p>
                    </div>
                </div>
                
                <div class="faq-box">
                    <div class="faq-text"> 
                        <p class="faq-question">
                            6. {{ 'I don’t have a computer and/or internet access. How can I participate?' | t }}
                        </p>

                        <p class="faq-answer">
                            {{ 'Internet access is required to participate in the Cheetos Carnival Contest. You can access the contest website from any public computer with internet access, such as those available for use at the library or an internet café.' | t }}
                        </p>
                    </div>
                </div>
                
                <div class="faq-box">
                    <div class="faq-text"> 
                        <p class="faq-question">
                            7. {{ 'How will you use and/or share my information?' | t }}
                        </p>

                        <p class="faq-answer">
                            {{ 'To view PepsiCo Canada’s Privacy Policy, please visit <a href="http://pepsico.ca/en/Privacy-Policy.html" target="_blank">www.pepsico.ca</a>.' | t }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <img class="cheetos-bottom-border" src="/themes/tastytheme/src/images/contest-cheetos/cheetos-bottom-border.png" />
    </div>

        <div class="cheetos-disclaimer">
            <p>
                {{ '<sup>&dagger;</sup>No purchase necessary. Open to Canadian residents, 19+. Mathematical skill-testing question required. Contest period: June 28 @ 12:00 pm (noon) ET to September 5, 2021 @ 11:59:59 pm ET. Enter UPC for a chance to win (i) Instant Prizes: Cheetos® Free Product Coupon and Cheetos® Mac ’n Cheese Free Product Coupon (4,100 available/ARV $7.98 ea); (ii) Grand Prize: $10,000 cash (awarded in the form of a cheque). Chances of winning: (i) Instant Prize, depend on when entry played; (ii) Grand Prize, depend on entries received. Max 1 UPC per day. Prizes diminish as awarded. Details & Official Rules, <a href="/en-ca/contest/cheetoscarnival/officialrules" target="_blank">click here</a>' | t | raw }}
            </p>

            <div class="cheetos-disclaimer-controls">
                <a href="{{data.rules_link}}" class="cheetos-btn cheetos-btn-orange" target="_blank">
                    {{ 'Official rules' | t }}
                </a>

                <a href="{{data.faq_link}}" class="cheetos-btn cheetos-btn-orange" target="_blank">
                    {{ 'FAQ' | t }}
                </a>
            </div>
        </div>
</section>