
<section id="nintendo-faq">
    <section class="nintendo-contest-faq">
        <div class="nintendo-contest-faq-text-banner">
            <h1>{{ "FAQ" | t}}</h1>
            <p>{{ "Have a question about the contest? Take a look through our list of frequently asked questions for answers. Can’t find the answer you’re looking for? <a target='_blank' href='https://contact.pepsico.com/tastyrewards'>Click here</a> to contact us directly! We’ll be happy to take care of you. " | t}}</p>
        </div>

        <img class="nintendo-fritolay-img en" src="/themes/tastytheme/src/images/contest-nintendo/fritolay-logo-white-v1.png" alt="fritolay variety packs">
        <img class="nintendo-fritolay-img fr" src="/themes/tastytheme/src/images/contest-nintendo/fritolay-logo-white-fr-v1.png" alt="fritolay variety packs">
    </section>

    <div class="container">
        <div class="col-md-12 back-btn">
            <a class="contest-back-btn" href="{{data.back_button}}">
                {{'Back'|t}}
            </a>
        </div>

        <div class="col-sm-12">
            <div class="panel-group faq-border" id="accordion1">
                <div class="panel panel-default">
                    <div class="faq-panel">
                        <h4 class="panel-title faq-title"><a class="collapsed faq-plus-minus" data-target="#collapseOne" data-toggle="collapse" href="#collapseOne">{{ "1. What is a valid code? Where can I find it on the packaging?" | t}}</a></h4>

                        <div class="panel-collapse collapse" id="collapseOne">
                            <div class="panel-body faq-body">
                                <p>
                                    {{ "You can find your 16/19 digit codes printed under the date on the front of specially marked Frito-Lay® Variety Packs." | t}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group faq-border" id="accordion2">
                <div class="panel panel-default">
                    <div class="faq-panel">
                        <h4 class="panel-title faq-title"><a class="collapsed faq-plus-minus" data-target="#collapseTwo" data-toggle="collapse" href="#collapseTwo">{{ "2. What are the specially marked products that are part of this contest?" | t}}</a></h4>

                        <div class="panel-collapse collapse" id="collapseTwo">
                            <div class="panel-body faq-body">
                                <p class="faq-paragraph">
                                    {{ "Frito-Lay® Variety Packs Flavour Mix (484 g)<br>
                                    Frito-Lay® Variety Packs Lay’s® Mix (504 g)<br>
                                    Frito-Lay® Variety Packs Classic Mix (504 g)<br>
                                    Frito-Lay® Variety Packs Cheesy Mix (504 g)<br>
                                    Frito-Lay® Variety Packs Bold Mix (504 g)<br>
                                    " | t}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group faq-border" id="accordion3">
                <div class="panel panel-default">
                    <div class="faq-panel">
                        <h4 class="panel-title faq-title">
                            <a class="collapsed faq-plus-minus" data-target="#collapseThree" data-toggle="collapse" href="#collapseThree">
                                {{ "3. Do I have to purchase a product in order to participate in the contest?" | t}}
                            </a>
                        </h4>

                        <div class="panel-collapse collapse" id="collapseThree">
                            <div class="panel-body faq-body">
                                <p class="faq-paragraph">
                                    {{ "No purchase is necessary to enter this Contest. Please see the <a href='/en-ca/contest/fritolaycontest/officialrules'>Official Rules</a> for details on how to enter without purchase. " | t}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group faq-border" id="accordion4">
                <div class="panel panel-default">
                    <div class="faq-panel">
                        <h4 class="panel-title faq-title">
                            <a class="collapsed faq-plus-minus" data-target="#collapseFour" data-toggle="collapse" href="#collapseFour">
                                {{ "4. How many times can I enter a code?" | t}}
                            </a>
                        </h4>

                        <div class="panel-collapse collapse" id="collapseFour">
                            <div class="panel-body faq-body">
                                <p class="faq-paragraph">
                                    {{ "There is a maximum of 3 codes per person per email per day." | t}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group faq-border" id="accordion5">
                <div class="panel panel-default">
                    <div class="faq-panel">
                        <h4 class="panel-title faq-title">
                            <a class="collapsed faq-plus-minus" data-target="#collapseFive" data-toggle="collapse" href="#collapseFive">
                                {{ "5. My code wasn’t accepted. What do I do?" | t}}
                            </a>
                        </h4>

                        <div class="panel-collapse collapse" id="collapseFive">
                            <p class="faq-paragraph">
                                {{ "Please double check that you’ve entered each character / digit correctly. If you’re still having difficulties with your code, please <a target='_blank' href='https://contact.pepsico.com/tastyrewards'>contact us</a> and describe the issue you are experiencing and provide the code that is not working. Please allow 2 business days to receive and respond to inquiries." | t}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group faq-border" id="accordion6">
                <div class="panel panel-default">
                    <div class="faq-panel">
                        <h4 class="panel-title faq-title">
                            <a class="collapsed faq-plus-minus" data-target="#collapseSix" data-toggle="collapse" href="#collapseSix">
                                {{ "6. I don’t have a computer and/or internet access. How can I participate?" | t}}
                            </a>
                        </h4>

                        <div class="panel-collapse collapse" id="collapseSix">
                            <div class="panel-body faq-body">
                                <p class="faq-paragraph">
                                    {{ "Internet access is required to participate in the Frito-Lay® Variety Packs Contest. You can access the contest website from any public computer with internet access, such as those available for use at the library or an internet café." | t}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group faq-border" id="accordion7">
                <div class="panel panel-default">
                    <div class="faq-panel">
                        <h4 class="panel-title faq-title">
                            <a class="collapsed faq-plus-minus" data-target="#collapseEight" data-toggle="collapse" href="#collapseEight">
                                {{ "7. How will you use and/or share my information?" | t}}
                            </a>
                        </h4>

                        <div class="panel-collapse collapse" id="collapseEight">
                            <div class="panel-body faq-body">
                                <p class="faq-paragraph">
                                    {{ "To view PepsiCo Canada’s Privacy Policy, please visit <a target='_blank' href='https://www.pepsico.ca/'>https://www.pepsico.ca/</a>" | t}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="mk-personalization">&nbsp;</div>

            <div id="mk-personalization_signed">&nbsp;</div>
        </div>
    </div>

</section>  