<section class="cheetos" id="cheetos-contestrules">
        <div class="cheetos-banner">
            <div class="cheetos-banner-content">
                <h1>
                    Règlements officiels
                </h1>
            </div>
        </div>


        <div class="cheetos-contestrules-body">
            <div class="cheetos-contestrules-back">
                <a href="{{data.back_button}}">< Retour</a>
            </div>

            <div class="cheetos-contestrules-text-container">
                <div class="cheetos-contestrules-text"> 
                    <div class="cheetos-contestrules-body-header">
                        <h2>
                            Concours «&nbsp;Carnaval&nbsp;» de CHEETOS<sup>&reg;</sup> (le&nbsp;«&nbsp;concours&nbsp;»)<br>
                            Règlement officiel (le&nbsp;«&nbsp;règlement&nbsp;»)
                        </h2>
                    </div>

                    <p>
                        <strong>
                        LE PRÉSENT CONCOURS EST DESTINÉ À N’ÊTRE TENU QU’AU CANADA ET SERA RÉGI PAR LES LOIS 
			CANADIENNES. NE PARTICIPEZ PAS SI VOUS N’ÊTES PAS ADMISSIBLE ET NE RÉSIDEZ 
			PAS AU CANADA AU MOMENT DE VOTRE INSCRIPTION.
                        </strong>
                    </p>

                    <p>
                        <strong>
                        AUCUN ACHAT NI PAIEMENT DE QUELQUE NATURE QUE CE SOIT N’EST NÉCESSAIRE POUR VOUS INSCRIRE OU POUR GAGNER. UN ACHAT N’AUGMENTERA PAS VOS CHANCES DE GAGNER. LE CONCOURS EST NUL LÀ OÙ LA LOI L’INTERDIT. EN PARTICIPANT AU CONCOURS, LE PARTICIPANT CONVIENT D’ÊTRE LIÉ PAR LE PRÉSENT
			RÈGLEMENT ET PAR LES DÉCISIONS DU COMMANDITAIRE, QUI SERONT DÉFINITIVES ET LIERONT LES PARTIES À TOUS LES ÉGARDS.
                        </strong>
                    </p>

                    <p class="cheetos-contestrules-section">
                        <strong>ADMISSIBILITÉ</strong>: Uniquement les résidents du Canada âgés de dix-neuf (19) ans et plus au moment de leur inscription peuvent participer au concours. Les personnes suivantes ne peuvent participer au concours : les employés, les sous-traitants, les administrateurs et les dirigeants de PepsiCo Canada ULC (le « <strong>commanditaire</strong>»), BAM Strategy (l'« <strong>Administrateur</strong>»), ainsi que de leurs sociétés mères, de leurs filiales et des membres de leur groupe respectifs, des détaillants participants, des distributeurs, des concepteurs Web et des agences de publicité, d’attribution et d’adjudication des prix et de promotion qui participent à l’administration, à l’élaboration, à la gestion et au déroulement du présent concours (collectivement, les <strong> « parties au concours »</strong>), ainsi que les membres de leur famille immédiate (soit le conjoint, le père, la mère, un enfant, un frère ou une sœur, un grand-parent et/ou la belle-famille) et les personnes qui vivent sous le même toit qu’eux (qu’elles leur soient apparentées ou non et qui vivent dans la même résidence).
                    </p>

                    <p class="cheetos-contestrules-section">
                        <strong>PÉRIODE DU CONCOURS</strong>: Le concours commence à 12 h (midi), heure de l’Est (« <strong> HE</strong> »), le 28 juin 2021 et prend fin à 23 h 59 min 59 s HE le 5 septembre 2021 (la « <strong> période du concours</strong> »). L’ordinateur de l’Administrateur du commanditaire assure le minutage officiel du concours.
                    </p>

                    <p class="cheetos-contestrules-section">
                        <strong>COMMENT PARTICIPER</strong>:  Pendant la période du concours, visitez <a href="https://www.CarnavalCheetos.ca" target="_blank">www.CarnavalCheetos.ca</a>  (le « <strong> site Web du concours</strong> ») sur votre ordinateur ou appareil mobile et suivez les instructions pour entrer sur le site. Pour participer au concours, vous aurez besoin du code CUP à 12 caractères qui se trouve sur les produits CHEETOS<sup>&reg;</sup> participants spécialement marqués (les « <strong> produits participants »</strong>), tels qu’ils sont indiqués ci-après, disponibles jusqu’à épuisement des stocks.
                    </p> 

                    <div class="cheetos-contestrules-howtoenter-table">
                        <table>
                            <tr> 
                                <th><strong>Produit participant</strong></th>
                                <th><strong>Format</strong></th>
                            </tr>

                            <tr>
                                <td>Grignotines à saveur de fromage CHEETOS Soufflés</td>
                                <td>260&nbsp;g</td>
                            </tr>

                            <tr>
                                <td>Grignotines à saveur de fromage CHEETOS CROQUANT</td>
                                <td>285&nbsp;g</td>
                            </tr>

                            <tr>
                                <td>Grignotines à saveur de fromage CHEETOS CROQUANT Cheddar Jalapeño</td>
                                <td>285&nbsp;g</td>
                            </tr>

                            <tr>
                                <td>Grignotines à saveur de fromage CHEETOS CROQUANT Enflammé</td>
                                <td>285&nbsp;g</td>
                            </tr>

                            <tr>
                                <td>Grignotines à saveur de fromage CHEETOS Soufflés Cheddar blanc</td>
                                <td>240&nbsp;g</td>
                            </tr>

                            <tr>
                                <td>Grignotines à saveur de fromage CHEETOS Soufflés Enflammé</td>
                                <td>230&nbsp;g</td>
                            </tr>
                        </table>
                    </div>

                    <p>
                      Votre code CUP en main, suivez les instructions suivantes :
                    </p>
 
                    <ul class="custom-roman-lower">
                        <li>
                            <u><strong>CANADA (sauf le Québec) : </strong></u> Sur votre appareil mobile, suivez les instructions sur chaque écran pour fournir les renseignements suivants : le code CUP du produit participant, votre adresse de courriel, votre prénom, votre nom, votre province et votre code postal. Avant de pouvoir jouer au jeu et pour déterminer si vous êtes admissible à gagner un prix instantané, vous devrez confirmer que vous avez lu et compris le présent règlement et que vous êtes admissible à participer au concours et que vous y participerez conformément au présent règlement. Une fois ces étapes terminées, vous serez redirigé vers le jeu où vous pourrez appuyer sur les boutons et viser pour atteindre les cibles avec des grignotines Cheetos sans atteindre Chester le guépard. Votre pointage n’a aucune incidence sur votre admissibilité à gagner un prix. Vous devrez terminer la partie ou y mettre fin pour déterminer si vous êtes admissible à gagner un prix instantané (voir l’article 5). Vous recevrez automatiquement une (1) participation pour le tirage du grand prix (voir l’article 4).
                        </li>

                        <li>
                            <u><strong>QUÉBEC seulement :</strong></u> Sur votre appareil mobile, suivez les instructions sur chaque écran pour fournir les renseignements suivants : le code CUP du produit participant, votre adresse de courriel, votre prénom, votre nom, votre province et votre code postal. Avant de soumettre votre participation et pour déterminer si vous êtes admissible à gagner un prix instantané, vous devrez confirmer que vous avez lu et compris le présent règlement et que vous êtes admissible à participer au concours et que vous y participerez conformément au présent règlement. Une fois ces étapes terminées, cliquez sur « Soumettre » pour passer au prochain écran et déterminer si vous êtes admissible à gagner un prix instantané (voir l’article 5). Vous recevrez automatiquement une (1) participation pour le tirage du grand prix (voir l’article 4).
                        </li>
                    </ul>

                    <p>
                        <u><strong>Sans achat :</strong></u> Il n’est pas nécessaire de faire un achat pour participer au concours, et les achats n’augmentent pas les chances de gagner. Si vous souhaitez participer au concours sans faire d’achat, veuillez utiliser le code de sac suivant : 904174631847. Bien qu’un accès à Internet et un compte de courriel soient requis pour participer au concours, aucun achat n’est requis. Bon nombre de bibliothèques publiques, de cybercafés et d’autres commerces de détail, entre autres, offrent un accès à Internet et un certain nombre de fournisseurs de services Internet et d’autres sociétés offrent des comptes de courriel gratuits.
                    </p>

                    <p> 
                        <strong>Limite d’un (1) code CUP par personne par adresse de courriel par jour.</strong> Un code CUP peut être utilisé plus d’une fois, mais il ne peut être entré qu’une seule fois par jour par la même personne pendant la période du concours. Un « jour » est défini comme une période de vingt-quatre (24) heures entre 0 h HE et 23 h 59 min 59 s le même jour, à l’exception du premier jour du concours qui commence à 12 h (midi) HE et prend fin à 23 h 59 min 59 s HE le même jour. Les participations doivent être reçues en bonne et due forme et enregistrées par l’ordinateur de l’Administrateur pendant la période du concours pour que le participant soit admissible à gagner un prix.
                    </p>

                    <p>
                        Il est interdit de soumettre une participation d’une autre façon que celles mentionnées ci-dessus. <strong>Une personne ne peut utiliser qu’une (1) seule adresse de courriel pour participer au concours.</strong> Plusieurs participants ne peuvent partager la même adresse de courriel. Un gagnant potentiel pourrait être tenu de fournir au commanditaire et/ou à l’Administrateur la preuve qu’il est le titulaire autorisé du compte de l’adresse de courriel associée au compte gagnant et/ou un participant admissible. Les participants ne peuvent s’inscrire ou participer en utilisant plusieurs adresses de courriel pas plus qu’ils ne peuvent utiliser un autre appareil pour s’inscrire ou participer sous plusieurs identités. Le participant qui tente de participer au moyen d’adresses de courriel ou de comptes multiples sous des identités multiples sera exclu et perdra le prix gagné, au gré du commanditaire.
                    </p>

                    <p>
                        Si vous utilisez un appareil mobile pour participer au concours, votre fournisseur de services sans fil pourrait vous imposer des frais de transmission de données standard. Consultez votre fournisseur de services sans fil pour obtenir les détails de ces frais et d’autres frais applicables. Les participants sont responsables des frais liés à la transmission de données. Si vous n’avez pas accès à Internet par un ordinateur personnel, un accès à Internet peut être obtenu dans une bibliothèque ou un cybercafé et divers fournisseurs de services Internet et d’autres sociétés offrent des comptes de courriel gratuits.
                    </p>

                    <p class="cheetos-contestrules-section">
                        <strong>COMMENT GAGNER :</strong> Vous pouvez être sélectionné comme personne admissible à gagner un prix de deux (2) façons :
                    </p>
                </div>

                <div class="cheetos-contestrules-list">
                    <ul class="custom-roman-lower">
                        <li>
                            <p>
                                <strong>Prix instantané </strong> En soumettant une participation de la façon indiquée à l’article 3. L’Administrateur choisira au hasard des dates et des heures pendant la période du concours, et le premier participant qui terminera son inscription conformément au présent règlement (dont la participation sera reçue en bonne et due forme et enregistrée par l’ordinateur de l’Administrateur à l’heure choisie au hasard pendant la période du concours ou immédiatement par la suite) pourra potentiellement gagner un prix instantané (sous réserve de vérification).
                            </p>

                            <p>
                                Si un message de jeu gagnant est affiché sur l’écran de votre appareil, vous êtes le gagnant potentiel du prix instantané indiqué (sous réserve de vérification). Si un tel message n’est pas affiché sur votre écran d’appareil, vous n’êtes pas le gagnant d’un prix instantané. Les gagnants potentiels d’un prix instantané recevront également un courriel à l’adresse de courriel fournie avec leur inscription. Les participations doivent être reçues en bonne et due forme et enregistrées pendant la période du concours pour que le participant soit admissible à gagner un prix. Les chances de gagner un prix instantané dépendent de l’ordre dans lequel les participations sont reçues.
                            </p>

                            <p>
                                Si vous êtes avisé à l’écran que vous êtes admissible à gagner un prix instantané en fonction de votre participation, vous recevrez un courriel à l’adresse de courriel associée à votre compte qui renfermera un lien (l’« <strong>avis</strong> »). Une fois que vous aurez cliqué sur le lien, vous devrez entrer l’adresse de courriel associée à votre compte. Vous serez ensuite invité à répondre correctement, dans le délai indiqué et sans aide d’aucune sorte, mécanique ou autre, à une question d’habileté mathématique qui vous sera posée à l’écran. Si le gagnant potentiel répond correctement à la question d’habileté mathématique, il sera invité à remplir un formulaire de réclamation de prix sur lequel il inscrira/confirmera son nom, sa province et son adresse de courriel, et acceptera la déclaration de conformité et de décharge de responsabilité. Une fois ces étapes terminées, le mandataire désigné du commanditaire confirmera le gagnant potentiel à titre de gagnant et son prix instantané lui sera livré par la poste. Veuillez prévoir jusqu’à deux (2) semaines pour la vérification et la livraison du prix. Les prix ne seront livrés qu’aux gagnants confirmés qui se seront conformés au présent règlement.
                            </p>

                            <p>
                                Si le gagnant potentiel d’un prix ne répond pas à l’avis dans les trois (3) jours ouvrables, s’il est déclaré inadmissible, peu importe la raison, s’il refuse le prix ou ne répond pas correctement à la question réglementaire d’arithmétique, il sera exclu et perdra son prix. Les parties au concours ne seront pas responsables des tentatives infructueuses d’aviser un gagnant potentiel.
                            </p>
                        </li>

                        <li>
                            <p>
                                <strong>Tirage au sort :</strong> Un tirage au sort aura lieu le mercredi 8 septembre 2021, à 14 h HE, au 4810, rue Jean-Talon Ouest, bureau 203, Montréal (Québec) H4P 2N5, parmi toutes les participations admissibles reçues pour le tirage du grand prix pendant la période du concours, pour choisir un participant admissible à gagner le grand prix, tel qu’il est décrit à l’article 5. Les chances de gagner dépendent du nombre total de participations admissibles reçues. Le participant choisi à titre de gagnant admissible du grand prix sera avisé par courriel dans les trois (3) jours ouvrables suivant le tirage (l’« <strong>avis</strong> »). Veuillez vous reporter à l’article 5, « <strong>Autres conditions relatives à la réclamation du prix</strong> », pour les conditions applicables au tirage du grand prix.
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="cheetos-contestrules-text"> 
                    <p class="cheetos-contestrules-section">
                    <strong>PRIX</strong> Voici les prix à gagner dans le cadre du concours : </p>
                </div>

                <div class="cheetos-contestrules-list">
                    <ul class="custom-roman-lower">
                        <li>
                            <strong>Prix instantané :</strong>:<br>

                            <ul class="custom-alpha-lower">
                                <li>
                                <p>
                                    <strong>Coupons pour des produits gratuits :</strong>  Il y a quatre mille cent (4 100) prix consistant en des coupons pour des produits gratuits à gagner au total pendant la période du concours. Chacun de ces prix comprend un (1) coupon pour un produit Cheetos® gratuit et un (1) coupon pour un macaroni au fromage Cheetos® gratuit (collectivement, un « <strong>duo de coupons pour des produits gratuits</strong> »). La valeur approximative au détail de chaque duo de coupons pour des produits gratuits est de 7,98 $ CA. Le nombre de duos de coupons pour des produits gratuits à gagner diminue à mesure que ce prix est réclamé pendant la période du concours. <strong>Limite de deux (2) duos de coupons pour des produits gratuits par personne pendant le concours.</strong></p>
                                </li>
                            </ul>
                            <p>
                                Les prix instantanés doivent être acceptés tels qu’ils sont attribués et ne peuvent être remplacés, transférés ou échangés contre de l’argent, sauf au gré du commanditaire qui peut attribuer un prix de remplacement de valeur égale ou supérieure.
                            </p>
                        </li>

                        <li>
                            <p><strong>Tirage du grand prix</strong>  Il y a un (1) grand prix à gagner, qui consiste en dix mille dollars (10 000 $ CA) (le « <strong>grand prix</strong> ») payable sous forme de chèque au gagnant du grand prix.
                            </p>

                            <p><strong>Autres conditions relatives à la réclamation du prix :</strong> Pour être déclaré gagnant, le participant sélectionné à titre de gagnant admissible du grand prix doit faire ce qui suit :</p>

                                        
                            <ul class="custom-roman-lower">
                                <li>
                                répondre à l’avis du mandataire désigné du commanditaire dans les cinq (5) jours ouvrables et fournir les renseignements demandés;
                                </li>
                                <li>
                                répondre correctement, dans le délai indiqué, sans aide d’aucune sorte, mécanique, électronique ou autre, à une question réglementaire d’arithmétique que le mandataire désigné du commanditaire lui posera à un moment qui convient à tous;
                                </li>
                                <li>
                                signer une déclaration de conformité et décharge de responsabilité confirmant que le participant choisi est un participant admissible et libérant les parties au concours de toute responsabilité découlant du présent concours, de la participation du gagnant à celui-ci et/ou de l’utilisation, appropriée ou non, d’un prix ou de toute partie de celui-ci, et la retourner au mandataire désigné du commanditaire, par télécopieur ou par courriel, dans les cinq (5) jours ouvrables de la réception de la déclaration de conformité et décharge de responsabilité; et
                                </li>
                                <li>
                                se conformer par ailleurs au présent règlement.
                                </li>
                            </ul>  

                            <p>
                                Si un gagnant potentiel ne respecte pas les présentes conditions, il sera exclu et perdra le grand prix. Le commanditaire pourra alors, à son gré, sélectionner par tirage au sort un autre participant admissible que le commanditaire ou ses représentants essaieront de joindre et qui pourra être exclu de la même façon. Le gagnant potentiel peut être tenu de fournir une preuve d’identité, notamment un permis de conduire ou toute autre pièce d’identité avec photo, dans le cadre du processus de vérification. Le commanditaire ne sera pas responsable des tentatives infructueuses d’aviser le gagnant potentiel du grand prix.
                            </p>

                            <p>
                                Le grand prix doit être accepté tel qu’il est qu’attribué et ne peut être remplacé, transféré ou échangé, sauf au gré du commanditaire, qui se réserve le droit d’attribuer un prix de remplacement de valeur égale ou supérieure.  
                            </p>

                            <p>
                                Le gagnant du grand prix reconnaît que les parties au concours n’ont donné aucune garantie, n’ont posé aucune condition et n’ont fait aucune déclaration, expresse ou implicite, dans les faits ou en vertu de la loi, à l’égard d’un prix, notamment en ce qui concerne sa qualité, son état mécanique ou son adaptation à un usage particulier, et qu’elles n’ont aucune responsabilité à cet égard.
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="cheetos-contestrules-text">
                    <p><strong>CONDITIONS DE PARTICIPATION SUPPLÉMENTAIRES</strong></p>
                    
                        <p class="cheetos-contestrules-section">
			Le commanditaire se réserve le droit, à son gré, de reporter le tirage d’un prix. La responsabilité du commanditaire ne sera pas engagée à l’égard des participations ou des demandes sans achat en retard, perdues, endommagées, incorrectement acheminées, tronquées, déformées, illisibles ou incomplètes. Une preuve de transmission (captures d’écran, par exemple) ne constitue pas une preuve de réception. Les parties au concours n'assument aucune responsabilité pour l’incapacité d’un participant éventuel à s’inscrire au concours pour quelque raison que ce soit ou pour les prix qui ne sont pas réclamés ou attribués.
                        </p>
                        <p class="cheetos-contestrules-section">
			Les participants, du fait même de participer au concours, i) acceptent de se conformer au présent règlement, y compris à toutes les conditions d’admissibilité et ii) acceptent d’être liés par le présent règlement et les décisions du commanditaire qui seront prises à son gré et seront définitives et opposables à l’égard de toute question touchant le concours, sans droit d’appel, y compris en matière d’admissibilité, de validité, de contenu et/ou d’inadmissibilité d’une participation. Les participants qui ne respectent pas le présent règlement pourront être exclus du concours.
                        </p>
                        <p class="cheetos-contestrules-section">
			S’il accepte un prix, un gagnant consent à l’utilisation de ses nom, ville/province de résidence, voix et commentaires sur le concours ou sur le commanditaire et à l’utilisation de photographies ou autres représentations de sa personne, sans autre rémunération, avis ou permission, dans le cadre de tout message ou campagne publicitaire du commanditaire ou de toute entité liée à celui-ci dans quelque média que ce soit actuellement connu ou pouvant être conçu ultérieurement, sans limite dans l’espace ni dans le temps, sauf dans tout territoire où la loi l'interdit.
                        </p>
                        <p class="cheetos-contestrules-section">
			Toute tentative de la part d’un participant ou de toute autre personne d’endommager délibérément un site Web ou de nuire au déroulement légitime du concours, notamment par une réclamation frauduleuse, constitue une violation des lois pénales et civiles. Le commanditaire se réserve le droit d’exiger des réparations et de réclamer des dommages-intérêts de quiconque ferait une telle tentative, dans la pleine mesure permise par la loi, et notamment d’intenter des poursuites pénales. Tout participant qui se livre à de tels agissements pourra être déclaré non admissible et perdre le prix gagné.
                        </p>
                        <p class="cheetos-contestrules-section">
			Toutes les participations deviennent la propriété du commanditaire et ne seront pas retournées. Les participations qui sont produites par script ou macro ou par des moyens robotiques, qui sont programmées ou qui sont produites par tout autre moyen automatisé sont interdites et seront exclues. 
                        </p>
                        <p class="cheetos-contestrules-section">
			Si un différend survient concernant l’identité de la personne qui a soumis une participation, la participation sera réputée avoir été soumise par le titulaire autorisé du compte de l’adresse de courriel ou du numéro de téléphone fourni au moment de la participation. Par « titulaire autorisé du compte », on entend la personne physique qui se voit attribuer une adresse de courriel ou un numéro de téléphone par un fournisseur d’accès Internet ou de services en ligne ou par une autre organisation chargée d’attribuer des adresses courriel pour le domaine associé à l’adresse de courriel soumise, ou par un fournisseur de services sans fil.
                        </p>
                        <p class="cheetos-contestrules-section">
			Les participants et/ou les gagnants assument la responsabilité des blessures subies ou alléguées du fait de la participation au concours ou de l’acceptation, de la possession ou de l’utilisation appropriée ou non de tout prix attribué, ce qui comprend notamment les réclamations et les dommages-intérêts pour blessures corporelles ou dommages matériels. En outre, tout participant convient des conditions suivantes à sa participation : a) il ou est tenu de libérer, d’indemniser et de tenir à couvert les parties au concours, ainsi que chacun de leurs dirigeants, administrateurs, employés et mandataires, de toute responsabilité à l’égard de toute obligation ou perte ou de tout dommage découlant de la participation au concours ou à l’égard de l’attribution, de la réception, de la possession et/ou de l’utilisation appropriée ou non de tout prix; b) il ne sera en aucun cas permis au participant d’obtenir des dommages-intérêts, notamment punitifs, accessoires, indirects ou autres, et le participant renonce par les présentes à tout droit de réclamer de tels dommages-intérêts quels qu’ils soient; c) toutes les causes d’action découlant du concours ou s’y rapportant ou résultant de l’attribution de tout prix doivent être résolues de façon distincte, sans recourir à quelque forme de recours collectif que ce soit et d) toutes les réclamations, tous les jugements et toutes les indemnités se limiteront aux frais réellement engagés, à l’exclusion des honoraires d’avocat et des frais judiciaires. La présente exonération ou limitation de responsabilité ne s’appliquera pas si elle est interdite par les lois applicables.
                        </p>            

                    <p class="cheetos-contestrules-section"><strong>CAS POUVANT NUIRE À L’ADMINISTRATION DU CONCOURS :</strong></p>
                </div>

                <div class="cheetos-contestrules-list">
                    <ul class="custom-roman-lower">
                        <li>
                        <u>Annulation, modification ou suspension</u>: Le commanditaire peut, à son gré et sans engager sa responsabilité envers les participants au concours, annuler le concours, en totalité ou en partie, ou encore le modifier ou le suspendre à tout moment, sans préavis, sous réserve de l’approbation de la Régie des alcools, des courses et des jeux, au besoin, au Québec si, de l’avis du commanditaire, un des cas suivants survient : un obstacle ou un empêchement, indépendant de la volonté du commanditaire, nuit à sa capacité d’administrer le concours, comme il le prévoyait ou l’envisageait, y compris un cas de force majeure, un incendie, une inondation, une épidémie ou une crise d’origine naturelle ou humaine, un tremblement de terre, une explosion, un conflit de travail ou une grève, une panne de matériel de communication, des perturbations liées aux services publics, des virus informatiques, des bogues informatiques, des erreurs de programmation informatique, une activité ou une menace 
			terroriste, une guerre (déclarée ou non), des lois, des ordonnances ou des règlements fédéraux, provinciaux, territoriaux ou locaux, une crise de santé publique, une pandémie, une ordonnance d’un tribunal ou d’un territoire ou une autre cause indépendante de la volonté raisonnable du commanditaire. Sans que soit limitée la portée générale de ce qui précède et sous réserve de l’approbation de la Régie des alcools, des courses et des jeux, au besoin, si, pour quelque raison que ce soit, un nombre de participants supérieur au nombre de prix stipulés aux présentes reçoivent un avis d’admissibilité à un prix, le commanditaire se réserve le droit de mettre fin au concours, en totalité ou en partie, ou de le modifier ou le suspendre et d’attribuer seulement le nombre de prix stipulé dans le présent règlement par un tirage au sort parmi les prix non distribués alors que le concours a pris fin ou a été suspendu ou modifié.</li>
                        <li>
                        <u>Procédure en cas de fin anticipée du concours</u>: S’il est mis fin au concours de manière anticipée, un avis sera affiché en ligne et un tirage au sort sera effectué parmi toutes les participations admissibles reçues avant le moment où a pris fin le concours afin d’attribuer le ou les prix. Le nombre de prix attribués ne pourra en aucun cas excéder le nombre de prix disponibles indiqué dans le présent règlement.
			</li>
                    </ul>
                </div>    

                <div class="cheetos-contestrules-text"> 
                        <p class="cheetos-contestrules-section">
                        Les parties au concours n’offrent aucune garantie quant à l’accès au site Web du concours sans interruption ou sans erreur. Les parties au concours ne sont responsables d’aucun problème qui pourrait survenir, y compris a) la perte, l’interruption, l’inaccessibilité ou l’indisponibilité de réseaux, de serveurs, de satellites, de fournisseurs d’accès Internet, de sites Web ou tout autre problème de connexion, de disponibilité ou d’accessibilité découlant du concours ou survenant pendant celui-ci, b) les communications défaillantes, incohérentes, brouillées, retardées ou incorrectement acheminées ou les dysfonctionnements, les pannes ou les difficultés touchant les systèmes informatiques, téléphoniques ou de transmission par câble ou le matériel ou les logiciels, c) la défaillance d’ordinateurs personnels et/ou de configuration logicielle ou matérielle, tous les problèmes de fonctionnement, les pannes ou les difficultés d’ordre technique, les erreurs d’impression, de saisie ou de 
			typographie ou d’autres erreurs dans la manière d’offrir ou d’annoncer tout prix ou dans tout document d’avis relatif à tout prix, d) toute autre erreur de quelque sorte que ce soit touchant le concours ou s’y rapportant, qu’elle soit de nature humaine, mécanique, typographique, électronique ou technique, e) la récupération incorrecte ou inexacte de données ou l’incapacité de récupérer des données en rapport avec le concours ou f) l’endommagement du système de l’utilisateur occasionné par la participation au concours ou le téléchargement de données nécessaires à la participation au concours.
			</p>

                    <p class="cheetos-contestrules-section"><strong>DIFFÉRENDS :</strong></p>
                </div>  

                <div class="cheetos-contestrules-list">
                    <ul class="custom-alpha-lower">
                        <li>
                        <strong>RÉSIDENTS DU QUÉBEC </strong>: Un différend quant à l’organisation ou à la conduite d’un concours publicitaire peut être soumis à la Régie des alcools, des courses et des jeux afin qu’il soit tranché. Un différend quant à l’attribution d’un prix peut être soumis à la Régie uniquement aux fins d’une intervention pour tenter de le régler.
			</li>
                        <li>
                        <strong>RÉSIDENTS DU CANADA, SAUF LE QUÉBEC</strong>: Les problèmes et les questions concernant la validité, l’interprétation et l’applicabilité du présent règlement ou les droits et obligations des participants et du commanditaire dans le cadre du concours sont régis par le droit substantiel de l’Ontario, et interprétés conformément à celui-ci, sans égard aux principes de conflits de lois. Les participants reconnaissent la compétence des tribunaux de l’Ontario.
			</li>
                    </ul>
                </div>


                <div class="cheetos-contestrules-text"> 
                    <p class="cheetos-contestrules-section">
                    <strong>DIVERGENCES : </strong>: En cas de divergences de quelque ordre que ce soit entre la version anglaise du règlement et toute version de celui-ci dans une autre langue, la version anglaise prévaudra. En cas de divergence entre tout renseignement sur le concours qui figure dans le présent règlement et tout renseignement sur le concours qui figure dans les documents de publicité sur le concours (y compris la publicité en ligne, aux points de vente, à la télévision et sous forme imprimée ainsi que sur les emballages promotionnels et autres présentations promotionnelles dans les médias), les renseignements sur le concours énoncés dans le présent règlement prévaudront.</p>

                    <p class="cheetos-contestrules-section">
                    <strong>INVALIDITÉ</strong>: L’invalidité ou l’inopposabilité de toute disposition du présent règlement n’aura pas d’incidence sur la validité ou l’opposabilité de toute autre disposition. S’il est établi qu’une disposition est invalide ou autrement inopposable ou illégale, le présent règlement demeurera par ailleurs en vigueur et sera interprété conformément à ses modalités de la même façon que si la disposition invalide ou illégale n’en faisait pas partie.</p>

                    <p class="cheetos-contestrules-section">
                        <strong>RENSEIGNEMENTS PERSONNELS</strong>: Des renseignements personnels peuvent être recueillis, utilisés ou communiqués dans d’autres territoires que le Canada. Les renseignements personnels conservés dans d’autres territoires que le Canada seront assujettis aux lois d’application générale de ces territoires. Les renseignements personnels recueillis sur les participants au concours pendant la période du concours seront uniquement utilisés par le commanditaire aux fins d’administration du concours et en lien avec toute publicité portant sur le concours. Pour de plus amples renseignements sur la manière dont le commanditaire gère vos renseignements personnels, veuillez consulter la politique de protection de la vie privée du commanditaire à l’adresse suivante : <a href="https://www.pepsico.ca/" target="_blank">www.pepsico.ca</a>.
                    </p>
                </div>
            </div>

            <img class="cheetos-bottom-border" src="/themes/tastytheme/src/images/contest-cheetos/cheetos-bottom-border.png" />
        </div>

        <div class="cheetos-disclaimer">
            <p>
                {{ '<sup>&dagger;</sup>No purchase necessary. Open to Canadian residents, 19+. Mathematical skill-testing question required. Contest period: June 28 @ 12:00 pm (noon) ET to September 5, 2021 @ 11:59:59 pm ET. Enter UPC for a chance to win (i) Instant Prizes: Cheetos® Free Product Coupon and Cheetos® Mac ’n Cheese Free Product Coupon (4,100 available/ARV $7.98 ea); (ii) Grand Prize: $10,000 cash (awarded in the form of a cheque). Chances of winning: (i) Instant Prize, depend on when entry played; (ii) Grand Prize, depend on entries received. Max 1 UPC per day. Prizes diminish as awarded. Details & Official Rules, <a href="/en-ca/contest/cheetoscarnival/officialrules" target="_blank">click here</a>' | t | raw }}
            </p>

            <div class="cheetos-disclaimer-controls">
                <a href="{{data.rules_link}}" class="cheetos-btn cheetos-btn-orange">
                    {{ 'Official rules' | t }}
                </a>

                <a href="{{data.faq_link}}" class="cheetos-btn cheetos-btn-orange">
                    {{ 'FAQ' | t }}
                </a>
            </div>
        </div>
    </section>