
<section id="grabsnack-faq">
  <section class="grabsnack-contest-faq">
    <div class="container faq-banner-spacing">
      <div class = "row">
        <div class = "col-md-6 faq-text">
          <div class = "m-auto">
          <h1 class = "color-lightblue montserrat-black">{{ "FAQ" | t}}</h1>

          <p class = "opensans-semibold">{{ "Have a question about the contest? Take a look through our list of frequently asked questions for answers. Can’t find the answer you’re looking for? Click <a href='https://contact.pepsico.com/tastyrewards' target='_blank'>here</a> to contact us directly! We’ll be happy to take care of you." | t | raw }}</p>
          </div>
        </div>



        <div class = "col-md-6">
          <img class = "mw-100" src="/themes/tastytheme/src/images/grab-snack/Tiles-Prizes-3.png" alt = "prizes"/>

          <p class="faq-banner-disclaimer">
          {{"Prizes not exactly as shown"|t}}
          </p>

        </div>

      </div>
    </div>
  </section>

  <div class="container faq-spacing">
    <div class="col-md-12 back-btn">
    {# {{ how to get language? }}/contest/grabsnackswinswag/landing #}
      <a class="contest-back-btn" href="{{data.back_button}}">
        < {{'Back'|t}}
      </a>
    </div>

    <div class="col-sm-12">
      <div class="panel-group faq-border" id="accordion1">
        <div class="panel panel-default">
          <div class="faq-panel">
            <div class="faq-panel-title-container">
              <h4 class="panel-title faq-title">
                <a class="collapsed faq-plus-minus" data-target="#collapseOne" data-toggle="collapse" href="#collapseOne">
                  {{ "1. What is a valid code? Where can I find it on the packaging?" | t}}
                </a>
              </h4>
            </div>
            <div class="panel-collapse collapse" id="collapseOne">
              <div class="panel-body faq-body">
                <p class="faq-paragraph">
                  {{ "Find your 9-digit code located below the “Guaranteed Fresh” statement on the front of specially marked bags!" | t}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-group faq-border" id="accordion2">
        <div class="panel panel-default">
          <div class="faq-panel">

          
            <div class="faq-panel-title-container">
              <h4 class="panel-title faq-title">
                <a class="collapsed faq-plus-minus" data-target="#collapseTwo" data-toggle="collapse" href="#collapseTwo">
                  {{ "2. What are the specially marked products that are part of this contest?" | t}}
                </a>
              </h4>
            </div>

            <div class="panel-collapse collapse" id="collapseTwo">
              <div class="panel-body faq-body">
              <ul class="faq-paragraph">
                <li>
                  {{ 'LAY’S<sup>&reg;</sup> potato chips - Classic (66&nbsp;g), Ketchup (66&nbsp;g), Salt &amp; Vinegar (66&nbsp;g), Dill Pickle (66&nbsp;g) and Bar-B-Q (66&nbsp;g)' | t | raw }}
                </li>
                <li>
                  {{ 'DORITOS<sup>&reg;</sup> tortilla chips - Nacho Cheese (80&nbsp;g), Sweet Chili Heat! (80&nbsp;g), Zesty Cheese (80&nbsp;g), Cool Ranch (80&nbsp;g), Bold BBQ (80&nbsp;g)' | t | raw }}
                </li>
                <li>
                  {{ 'RUFFLES<sup>&reg;</sup> potato chips - All Dressed (66&nbsp;g), Sour Cream ‘n Onion (66&nbsp;g), Regular (66&nbsp;g), Sour Cream ‘n Bacon (66&nbsp;g)' | t | raw }}
                </li>
                <li>
                  {{ 'MISS VICKIE’S<sup>&reg;</sup> kettle cooked potato chips - Sea Salt &amp; Malt Vinegar (66&nbsp;g), Original Recipe (66&nbsp;g)' | t | raw }}
                </li>
                <li>
                  {{ 'CHEETOS<sup>&reg;</sup> cheese flavoured snacks - Puffs (85&nbsp;g) , Crunchy (90&nbsp;g)' | t | raw }}
                </li>
                <li>
                  {{ 'SMARTFOOD<sup>&reg;</sup> popcorn - White Cheddar (50&nbsp;g)' | t | raw }}
                </li>
              </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-group faq-border" id="accordion3">
        <div class="panel panel-default">
          <div class="faq-panel">

          
            <div class="faq-panel-title-container">
              <h4 class="panel-title faq-title">
                <a class="collapsed faq-plus-minus" data-target="#collapseThree" data-toggle="collapse" href="#collapseThree">
                  {{ "3. Do I have to purchase a product in order to participate in the contest?" | t}}
                </a>
              </h4>
            </div>

            <div class="panel-collapse collapse" id="collapseThree">
              <div class="panel-body faq-body">
                <p class="faq-paragraph">
                  {{ "No purchase is necessary to enter this Contest. Please see the"|t}}
                  <a href='{{"/en-ca/contest/grabsnackswinswag/officialrules"|t}}' target='_blank'>
                    {{"Official Rules"|t}}</a> {{"for details on how to enter without purchase."|t|raw }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-group faq-border" id="accordion4">
        <div class="panel panel-default">
          <div class="faq-panel">

          
            <div class="faq-panel-title-container">
              <h4 class="panel-title faq-title">
                <a class="collapsed faq-plus-minus" data-target="#collapseFour" data-toggle="collapse" href="#collapseFour">
                  {{ "4. How many times can I enter?" | t}}
                </a>
              </h4>
            </div>

            <div class="panel-collapse collapse" id="collapseFour">
              <div class="panel-body faq-body">
                <p class="faq-paragraph">
                  {{ "There is a maximum of 7 codes per person per email per week." | t}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-group faq-border" id="accordion5">
        <div class="panel panel-default">
          <div class="faq-panel">

          
            <div class="faq-panel-title-container">
              <h4 class="panel-title faq-title">
                <a class="collapsed faq-plus-minus" data-target="#collapseFive" data-toggle="collapse" href="#collapseFive">
                  {{ "5. My code wasn’t accepted. What do I do?" | t}}
                </a>
              </h4>
            </div>

            <div class="panel-collapse collapse" id="collapseFive">
              <p class="faq-paragraph">
                {{ "Please double check that you’ve entered each character correctly. If you’re still having difficulties with your code, please <a href='https://contact.pepsico.com/tastyrewards' target='_blank'>contact us</a> and describe the issue you are experiencing and provide the code that is not working. Please allow 2 business days to receive and respond to inquiries." | t}}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-group faq-border" id="accordion6">
        <div class="panel panel-default">
          <div class="faq-panel">

          
            <div class="faq-panel-title-container">
              <h4 class="panel-title faq-title">
                <a class="collapsed faq-plus-minus" data-target="#collapseSix" data-toggle="collapse" href="#collapseSix">
                  {{ "6. I don’t have a computer and/or internet access. How can I participate?" | t}}
                </a>
              </h4>
            </div>

            <div class="panel-collapse collapse" id="collapseSix">
              <div class="panel-body faq-body">
                <p class="faq-paragraph">
                  {{ "Internet access is required to participate in the Grab Snacks Win Swag Contest. You can access the contest website from any public computer with internet access, such as those available for use at the library or an internet café." | t}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-group faq-border" id="accordion7">
        <div class="panel panel-default">
          <div class="faq-panel">
          
            <div class="faq-panel-title-container">
              <h4 class="panel-title faq-title">
                <a class="collapsed faq-plus-minus" data-target="#collapseEight" data-toggle="collapse" href="#collapseEight">
                  {{ "7. How will you use and/or share my information?" | t}}
                </a>
              </h4>
            </div>

            <div class="panel-collapse collapse" id="collapseEight">
              <div class="panel-body faq-body">
                <p class="faq-paragraph">
                  {{ "To view PepsiCo Canada’s Privacy Policy, please visit <a href='http://pepsico.ca/en/Privacy-Policy.html' target='_blank'>www.pepsico.ca</a>" | t}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="mk-personalization">&nbsp;</div>

      <div id="mk-personalization_signed">&nbsp;</div>
    </div>
  </div>

</section>
