<section id="quaker-hockey-contest">
    <div class="quaker-hockey-banner">
        <div class="banner_slide--text {{class_pos}} contest-banner-text coming-soon-text">
            <img class="hockey-hungry en" src="/themes/brandstheme/src/images/quaker/campbell/hockey-hungry.png" alt="hockey hungry logo tag" />
          <img class="hockey-hungry fr" src="/themes/brandstheme/src/images/quaker/hockey-contest/hockey-hungry-fr.png" alt="hockey hungry logo tag">
            <h1>{{ "The puck is about to drop!" | trans}}</h1>
            <h2>{{ "Quaker® Hockey Hungry Contest! " | trans}}</h2>
            <br>
            <span>{{ "COMING SOON: Quaker<sup>®</sup> and Hockey Canada<sup>®</sup> are teaming up to get Canadian households in the hockey spirit.<br>
            All you’ll need to enter is the UPC from a participating Quaker<sup>®</sup> Instant Oatmeal product for a chance to win<sup>†</sup>.
            <br><br>
            Come back on September 27!" | trans}}</span>
        </div>

      <div class = "noMobile-sm">
      <img class="hockey-product-img hockey-banner en" src="/themes/brandstheme/src/images/quaker/hockey-contest/Quaker-Hockey_Top-Banner.png" alt="quaker products">
      <img class="hockey-product-img hockey-banner fr" src="/themes/brandstheme/src/images/quaker/hockey-contest/Quaker-Hockey_Top-Banner-fr.png" alt="quaker products">
      <div class="hockey-logo">
        <img class="hockey-canada-banner-logo-img en" src="/themes/brandstheme/src/images/quaker/hockey-contest/hockey-logo.png" alt="Campbell logo">
        <img class="hockey-canada-banner-logo-img fr" src="/themes/brandstheme/src/images/quaker/hockey-contest/hockey-logo-fr.png" alt="Campbell logo">
      </div>
      </div>

      <div class = "noDesktop-sm">
        <img class = "en" src ="/themes/brandstheme/src/images/quaker/hockey-contest/hockey-product.png" alt = "quaker product"/>
        <img class = "fr" src ="/themes/brandstheme/src/images/quaker/hockey-contest/hockey-product-fr.png" alt = "quaker product"/>
      </div>

    </div>


{#    <div class="quaker-hockey-block-container">#}
{#        <div class="container">#}
{#            <h2>{{ "How it works" | trans}}</h2>#}

{#            <div class="contest-quaker-steps-wrapper">#}
{#                <div class="contest-quaker-steps">#}
{#                    <img src="/themes/brandstheme/src/images/quaker/hockey-contest/buy-step.png" alt="Logo of Tasty Rewards" />#}
{#                    <p>{{ "Step 1: BUY" | trans}}</p>#}
{#                    <span>{{ "Purchase participating boxes of Quaker<sup>®</sup> Instant Oatmeal products." | trans}}</span>#}
{#                </div>#}
{#                <div class="contest-quaker-steps">#}
{#                    <img src="/themes/brandstheme/src/images/quaker/hockey-contest/upload-step.png" alt="Logo of Tasty Rewards" />#}
{#                    <p>{{ "Step 2: ENTER" | trans}}</p>#}
{#                    <span>{{ "Go to www.QuakerHockeyHungry.ca to enter your UPC." | trans}}</span>#}
{#                </div>#}
{#                <div class="contest-quaker-steps">#}
{#                    <img src="/themes/brandstheme/src/images/quaker/hockey-contest/save-step.png" alt="Logo of Tasty Rewards" />#}
{#                    <p>{{ "Step 3: SUBMIT" | trans}}</p>#}
{#                    <span>{{ "Submit your entry for a chance to win prizes from Quaker<sup>®</sup> and Hockey Canada<sup>®</sup>! " | trans}}</span>#}
{#                </div>#}

{#            </div>#}
{#        </div>#}
{#    </div>#}

    {#    <div id="quaker-hockey-video" class="carousel slide" data-ride="carousel" data-interval="false">#}

    {#        <div class="carousel-inner container">#}
    {#            <div class="row item active">#}
    {#                <div class="col-md-12 quaker-video-col">#}
    {#                    <div class="quaker-video-box">#}
    {#                        <div class="quaker-video-preimg">#}
    {#                            <a href="#" data-key="i_jaBBd3Z4w" class="activate-video">#}
    {#                                <img src="https://img.youtube.com/vi/i_jaBBd3Z4w/maxresdefault.jpg" />#}
    {#                            </a>#}

    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}

    {#            <div class="row item ">#}
    {#                <div class="col-md-12 quaker-video-col">#}
    {#                    <div class="quaker-video-box">#}
    {#                        <div class="quaker-video-preimg">#}
    {#                            <a href="#" data-key="i_jaBBd3Z4w" class="activate-video">#}
    {#                                <img src="https://img.youtube.com/vi/i_jaBBd3Z4w/maxresdefault.jpg" />#}
    {#                            </a>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}

    {#        <a class="carousel-control-prev" href="#quaker-hockey-video" role="button" data-slide="prev">#}
    {#            <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
    {#        </a>#}
    {#        <a class="carousel-control-next" href="#quaker-hockey-video" role="button" data-slide="next">#}
    {#            <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
    {#        </a>#}
    {#    </div>#}

{#    <div class="quaker-hockey-video">#}
{#        <div class="carousel-inner container">#}
{#            {% for idx, video in data.videos_landing %}#}
{#                <div class="row item {{ idx==0 ? 'active' :'' }}">#}
{#                    <div class="col-md-12 quaker-video-col quaker-video-col-{{ idx }}">#}
{#                        <div class="quaker-video-box">#}
{#                            <div class="quaker-video-preimg">#}
{#                                <a href="#" data-key="{{video.key}}" class="activate-video">#}
{#                                    <img src="https://img.youtube.com/vi/{{video.key}}/maxresdefault.jpg" />#}
{#                                </a>#}

{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}

{#    <div class="quaker-hockey-block-wrapper">#}
{#        <div class="container quaker-hockey-block">#}
{#            <img class = "hockey-canada-barcode en" src="/themes/brandstheme/src/images/quaker/hockey-contest/quaker-barcode.png" alt="quaker hockey barcode" />#}
{#          <img class = "hockey-canada-barcode fr" src="/themes/brandstheme/src/images/quaker/hockey-contest/quaker-barcode-fr.png" alt="quaker hockey barcode" />#}

{#            <div class="quaker-barcode-text-wrap">#}
{#                <h3 style="text-transform: uppercase">{{'Where to find your UPC'|t}}</h3>#}

{#                <p>{{'Find the UPC on the bottom of participating#}
{#                Quaker® Instant Oatmeal products! See the' |t}}#}
{#                <a href="{{data.rules_link}}">{{ 'Official Rules' |t }}</a> {{ 'for details' |t }}.#}
{#                </p>#}

{#                <button class="quaker-hockey-contest-button js-entercontest" data-link="{{data.signup_link}}">{{'Enter Now' |t }}</button>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <div class="quaker-recipe-coupon padding-top-large">
        <div class="container">

            <h2 class = "font-chuckfive">{{'Check out our recipes & coupons!'|t}}</h2>

            <div class="quaker-recipe-coupon-goalie">

                <div class="quaker-recipe-coupon-col">
                    <h3 class = "padding-bottom padding-top-mbl">{{'RECIPES'|t}}</h3>
                    <img src="/themes/brandstheme/src/images/quaker/hockey-contest/contest-recipe.jpg" alt="Logo of Tasty Rewards" />
                    <a class="quaker-hockey-contest-button" href="{{'/en-ca/brands/quaker/recipes'|t}}">{{'VIEW RECIPES'|t}}</a>
                </div>
                <div class="quaker-recipe-coupon-col">
                    <h3 class = "padding-bottom padding-top-mbl">{{'COUPONS'|t}}</h3>
                    <img class = "en" src="/themes/brandstheme/src/images/quaker/hockey-contest/contest-coupon.png" alt="Logo of Tasty Rewards" />
                    <img class = "fr" src="/themes/brandstheme/src/images/quaker/hockey-contest/contest-coupon-fr.png" alt="Logo of Tasty Rewards" />
                    <a class="quaker-hockey-contest-button" href="{{'/en-ca/coupons'|t}}">{{'VIEW COUPONS'|t}}</a>
                </div>

            </div>
        </div>
    </div>

    <div class="quaker-hockey-official-rules official-rules-comingsoon">
      <div class="container">
        {{'† No purchase necessary. Open to Canadian residents only, age of majority or older. Mathematical skill-testing question required. Contest Period: September 27 at 12:00pm (noon) ET to December 5, 2021 at 11:59:59pm ET. Instant Prizes available: (i) 9,000 Free Product Coupons (ARV $5.99 each); (ii) 1,000 Quaker<sup>®</sup> Oatmeal Travelers (ARV $20 each). Grand Prizes available: (i) 10 Hockey Canada® Prize Packs (1 per week/ARV $1,500 each). Chances of winning: (i) Instant Prize, depend on when entry played; (ii) Grand Prize, depend on entries received. Max 1 UPC per day. Prizes diminish as awarded.'|t}}
{#        <a style = "font-size: 17px" href = "{{data.rules_link}}"> {{ 'click here.'|t }}</a>#}

{#            <div class="quaker-hockey-official-rules-links">#}
{#                <a class="quaker-hockey-contest-rules-button" href="{{data.rules_link}}">{{'OFFICIAL RULES'|t}}</a>#}
{#                <a class="quaker-hockey-contest-rules-button" href="{{data.prize_link}}">{{'PRIZES'|t}}</a>#}
{#                <a class="quaker-hockey-contest-rules-button" href="{{data.faq_link}}">{{'FAQ'|t}}</a>#}
{#            </div>#}
        </div>
    </div>
</section>

