<div class="nintendo-coming-soon-banner">
	<div class="nintendo-coming-soon-wrapper">
		<div class="nintendo-contest-rules-text-banner">
			<h1 class = "text-uppercase">{{'Stay tuned: our Frito-Lay<sup>®</sup> Variety Packs & Quaker<sup>®</sup> contest is about to launch! '|t}}</h1>
      <h1 class = "text-uppercase comeback-text">{{ 'Come back on MARCH 21!' |t }}</h1>
		</div>
    <div class = "reward-container">
		<img class="nintendo-comingsoon-img w-100 noMobile en" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/coming-soon-reward.png" alt="coming soon reward product">
      <img class="nintendo-comingsoon-img w-100 noMobile fr" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/coming-soon-reward-fr.png" alt="coming soon reward product">
      <img class="w-100 noDesktop en" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/coming-soon-reward-mb.png" alt="coming soon reward product">
      <img class="w-100 noDesktop fr" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/comingsoon-img-console-mb-fr.png" alt="coming soon reward product">

      <div class = "prizes-not-as-shown">
      <p class = "text-white prizes-text">{{ 'Prize may not be exactly as shown'|t }}</p>
      </div>
    </div>
	</div>
  <div style = "position: relative" class = "d-flex container mini-rules-container">
	<div class="container nintendo-coming-soon-disclaimer">
		<p>{{'† No purchase necessary. Open to Canadian residents, age of majority or older. Mathematical skill-testing question required.
		Contest Period: 12:00pm (noon) ET on March 21, 2022 to 11:59:59pm ET on May 15, 2022. Total of one hundred and
		sixty-eight (168) Nintendo Switch - OLED Model bundles available; three (3) prizes awarded per day during the
		Contest Period (ARV $529.98 each). Prize includes one (1) Nintendo Switch - OLED Model system with choice of
		one (1) of 4 selected games (digital download; see Official Rules for game titles). Odds of winning depend on
		the number of eligible entries received for each draw during the Contest Period. Prizes diminish as awarded.
		Max 3 entries/day. Limit one (1) prize per person/household.<br><br>

		Nintendo is not a sponsor, co-sponsor or administrator of the contest. Nintendo trademarks and copyrights are properties of Nintendo.'|t}}
		</p>

    <div class = "d-flex justify-center margin-top">
      <img class="nintendo-comingsoon-img comingsoon-logo" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/coming-soon-logo.png" alt="logo">
    </div>

	</div>

    <div class = "esrb-container">
      <p class = "text-uppercase">{{ 'Games Shown:' |t }}</p>
      <img class="nintendo-coming-soon-trademark" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/trademark.png" alt="coming soon reward product">
    </div>
</div>
</section>
