
<section id="nintendo-faq">
    <section class="nintendo-contest-faq">
        <div class="nintendo-contest-faq-text-banner">
            <h1 class = "robo-font">{{ "FAQ" | t}}</h1>
            <p class = "open-font">{{ "Vous avez des questions concernant ce concours? Vérifiez notre foire aux questions pour trouver des réponses. Votre question ne s’y trouve pas?
            <a target='_blank' href='https://contact.pepsico.com/tastyrewards'> Cliquez ici </a>pour communiquer directement avec nous! Nous serons heureux de vous répondre." | t}}</p>
        </div>
    </section>

    <div class="container">
        <div class="col-md-12 back-btn">
            <a class="contest-back-btn" href="{{data.back_button}}">
                {{'RETOUR'|t}}
            </a>
        </div>

        <div class="col-sm-12">
            <div class="panel-group faq-border" id="accordion1">
                <div class="panel panel-default">
                    <div class="faq-panel">
                        <h4 class="panel-title faq-title"><a class="collapsed faq-plus-minus" data-target="#collapseOne" data-toggle="collapse" href="#collapseOne">{{ "1.  Qu’est-ce qu’un CUP valide? Où se trouve-t-il sur l’emballage?" | t}}</a></h4>

                        <div class="panel-collapse collapse" id="collapseOne">
                            <div class="panel-body faq-body">
                                <p>
                                    {{ "Votre CUP de 12 chiffres se trouve sous le code-barres des emballages de produits assortis Frito-Lay<sup>®</sup> et des produits Quaker<sup>®</sup> participants." | t}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group faq-border" id="accordion2">
                <div class="panel panel-default">
                    <div class="faq-panel">
                        <h4 class="panel-title faq-title"><a class="collapsed faq-plus-minus" data-target="#collapseTwo" data-toggle="collapse" href="#collapseTwo">{{ "2. Quels sont les produits participants inclus dans ce concours?" | t}}</a></h4>

                        <div class="panel-collapse collapse" id="collapseTwo">
                            <div class="panel-body faq-body">
                                <p class="faq-paragraph">
                                    {{ "Consultez le <a href = '/fr-ca/contest/fritolayquakercontest/officialrules'> Règlement officiel </a> du concours pour obtenir la liste complète des produits participants.
                                    " | t}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group faq-border" id="accordion3">
                <div class="panel panel-default">
                    <div class="faq-panel">
                        <h4 class="panel-title faq-title">
                            <a class="collapsed faq-plus-minus" data-target="#collapseThree" data-toggle="collapse" href="#collapseThree">
                                {{ "3. Combien de fois puis-je m’inscrire chaque jour?" | t}}
                            </a>
                        </h4>

                        <div class="panel-collapse collapse" id="collapseThree">
                            <div class="panel-body faq-body">
                                <p class="faq-paragraph">
                                    {{ "Un nombre maximal de trois (3) inscriptions par personne, par courriel et par jour tel que stipulé dans le Règlement officiel. <br>
                                        Consultez la liste des produits participants dans le <a href = '/fr-ca/contest/fritolayquakercontest/officialrules'> Règlement officiel </a> pour savoir à combien d’inscriptions équivaut votre CUP. <br>
                                        Remarque : vous pouvez entrer plus d’un CUP par jour, toutefois, il y a un maximum de 3 inscriptions par personne, par courriel et par jour. " | t}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group faq-border" id="accordion4">
                <div class="panel panel-default">
                    <div class="faq-panel">
                        <h4 class="panel-title faq-title">
                            <a class="collapsed faq-plus-minus" data-target="#collapseFour" data-toggle="collapse" href="#collapseFour">
                                {{ "4. Quand puis-je entrer un CUP?" | t}}
                            </a>
                        </h4>

                        <div class="panel-collapse collapse" id="collapseFour">
                            <div class="panel-body faq-body">
                                <p class="faq-paragraph">
                                    {{ "Le concours débute à 12 h (midi) HE le 21 mars 2022 et se termine à 23 h 59 min 59 s HE le 15 mai 2022. Les inscriptions doivent être reçues pendant la période du concours pour être admissibles." | t}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group faq-border" id="accordion5">
                <div class="panel panel-default">
                    <div class="faq-panel">
                        <h4 class="panel-title faq-title">
                            <a class="collapsed faq-plus-minus" data-target="#collapseFive" data-toggle="collapse" href="#collapseFive">
                                {{ "5. Dois-je acheter un produit pour participer au concours?" | t}}
                            </a>
                        </h4>

                        <div class="panel-collapse collapse" id="collapseFive">
                            <p class="faq-paragraph">
                                {{ "Aucun achat n’est requis pour participer à ce concours. Consultez le <a href = '/fr-ca/contest/fritolayquakercontest/officialrules'> Règlement officiel </a> pour savoir comment participer sans effectuer d’achat." | t}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group faq-border" id="accordion6">
                <div class="panel panel-default">
                    <div class="faq-panel">
                        <h4 class="panel-title faq-title">
                            <a class="collapsed faq-plus-minus" data-target="#collapseSix" data-toggle="collapse" href="#collapseSix">
                                {{ "6. Combien de fois puis-je entrer un CUP?" | t}}
                            </a>
                        </h4>

                        <div class="panel-collapse collapse" id="collapseSix">
                            <div class="panel-body faq-body">
                                <p class="faq-paragraph">
                                    {{ "Un nombre maximal de trois inscriptions par personne, par courriel et par jour. Consultez la liste des produits participants dans le  <a href = '/fr-ca/contest/fritolayquakercontest/officialrules'> Règlement officiel </a> pour savoir à combien d’inscriptions équivaut votre CUP." | t}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group faq-border" id="accordion7">
                <div class="panel panel-default">
                    <div class="faq-panel">
                        <h4 class="panel-title faq-title">
                            <a class="collapsed faq-plus-minus" data-target="#collapseSeven" data-toggle="collapse" href="#collapseEight">
                                {{ "7. Mon CUP a été refusé. Que dois-je faire?" | t}}
                            </a>
                        </h4>

                        <div class="panel-collapse collapse" id="collapseSeven">
                            <div class="panel-body faq-body">
                                <p class="faq-paragraph">
                                    {{ "Assurez-vous d’avoir entré correctement chacun des chiffres. Si votre CUP est toujours refusé, <a href = 'https://contact.pepsico.com/tastyrewardsfr'>communiquez avec nous</a> et décrivez le problème en fournissant le CUP qui ne fonctionne pas. Prévoyez deux jours ouvrables avant de recevoir une réponse." | t}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          <div class="panel-group faq-border" id="accordion8">
            <div class="panel panel-default">
              <div class="faq-panel">
                <h4 class="panel-title faq-title">
                  <a class="collapsed faq-plus-minus" data-target="#collapseEight" data-toggle="collapse" href="#collapseEight">
                    {{ "8. Si je suis déclaré gagnant d’un prix, combien de temps faudra-t-il pour le recevoir?" | t}}
                  </a>
                </h4>

                <div class="panel-collapse collapse" id="collapseEight">
                  <div class="panel-body faq-body">
                    <p class="faq-paragraph">
                      {{ "Veuillez prévoir jusqu’à 8 semaines pour la livraison du prix après avoir reçu la confirmation que vous êtes le gagnant officiel d’un prix par notre équipe." | t}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-group faq-border" id="accordion9">
            <div class="panel panel-default">
              <div class="faq-panel">
                <h4 class="panel-title faq-title">
                  <a class="collapsed faq-plus-minus" data-target="#collapseNine" data-toggle="collapse" href="#collapseEight">
                    {{ "9. Je n’ai pas d’ordinateur ou d’accès Internet. Comment puis-je participer?" | t}}
                  </a>
                </h4>

                <div class="panel-collapse collapse" id="collapseNine">
                  <div class="panel-body faq-body">
                    <p class="faq-paragraph">
                      {{ "Vous pouvez vous inscrire au concours en utilisant un ordinateur public avec accès Internet, comme on en trouve dans les bibliothèques et les cafés Internet." | t}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-group faq-border" id="accordion10">
            <div class="panel panel-default">
              <div class="faq-panel">
                <h4 class="panel-title faq-title">
                  <a class="collapsed faq-plus-minus" data-target="#collapseTen" data-toggle="collapse" href="#collapseEight">
                    {{ "10. Qui dois-je contacter pour des problèmes ou des questions liées au site Web?" | t}}
                  </a>
                </h4>

                <div class="panel-collapse collapse" id="collapseTen">
                  <div class="panel-body faq-body">
                    <p class="faq-paragraph">
                      {{ "Veuillez cliquer sur le lien « Pour nous joindre » et suivez les directives pour signaler votre problème." | t}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-group faq-border" id="accordion11">
            <div class="panel panel-default">
              <div class="faq-panel">
                <h4 class="panel-title faq-title">
                  <a class="collapsed faq-plus-minus" data-target="#collapseEleven" data-toggle="collapse" href="#collapseEight">
                    {{ "11. Comment utiliserez-vous/partagerez-vous mes renseignements personnels?" | t}}
                  </a>
                </h4>

                <div class="panel-collapse collapse" id="collapseEleven">
                  <div class="panel-body faq-body">
                    <p class="faq-paragraph">
                      {{ "Pour consulter la politique de protection de la vie privée de PepsiCo Canada, visitez <a href = 'https://www.pepsico.ca/'> www.pepsico.ca </a>." | t}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

            <div id="mk-personalization">&nbsp;</div>

            <div id="mk-personalization_signed">&nbsp;</div>
        </div>
    </div>

</section>

<section class="nintendo-landing-contest-rules">

  <img class = "logo-nintendo two-logos" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/logo.png" alt = "logo">

  <div class="container">
    <div class="margin-bottom margin-top">
      {{data.legal_footer|raw}}
    </div>
    {#		<span class="rules">#}
    {#			<a href="{{data.rules_link}}">{{'Read our complete rules'|t}}</a>#}
    {#		</span>#}
    <div class="nintendo-landing-contest-rules-text-wrap">
      <a class="btn_nintendo rules_btn" href="{{ data.rules_link }}">{{'Official Rules'|t}}</a><br>
      <a class="btn_nintendo" href="{{ data.faq_link }}">{{'FAQ'|t }}</a>
      <br>

    </div>
  </div>
</section>


