<section id="headlines">
	<div class="row mv-signatures-sidebyside-block center-align-md-dsk">

	   <div class="col-md-6">
	     <img src="/sites/default/files/2020-06/P7-P8%20Contest%20landing%20page_EN_0.jpg"typeof="foaf:Image" class="w-100">
	   </div>
	   <div class="col-md-6 mv-signatures-sidebyside-block-copy text-left">
	 	    <h3>{{'Upgrade your summer swag!'|t}}</h3>

			<h4 class="padding-top-half">{{"We’re giving away some exclusive summer swag inspired by your favourite brands — with instant prizes available Every. Single. Week. 

				Just enter the 9-digit code on specially marked bags (look under the printed date on the front) to see if you are eligible to win†! 

				Learn more on our FAQ.
				"|t}}</h4>

			<a class="btn_red js-legal-old" href="{{data.signup_link}}" tabindex="-1">
                {{'Enter Now'|t}}
              </a>

   		</div>
   </div>

   {# {% for prize in data.prizes %} #}
	   <div class="row mv-signatures-sidebyside-block center-align-md-dsk">

		   <div class="col-md-6">
		     <img src="/sites/default/files/2020-06/P7-P8%20Contest%20landing%20page_EN_0.jpg"typeof="foaf:Image" class="w-100">
		   </div>
		   <div class="col-md-6 mv-signatures-sidebyside-block-copy text-left">
		 	    <h3>{{"Hundreds of prizes available each week!"|t}}</h3>

				<h4 class="padding-top-half">{{"Including hats, fanny packs, beach balls, wireless speakers, and other limited-edition gear to spice up your summer style!  

						Learn more on our FAQ.

						Prizes not exactly as shown.
						"|t}}.</h4>
				<a class="btn_red js-legal-old" href="{{data.signup_link}}" tabindex="-1">
	                {{'Enter Now'|t}}
	              </a>

	   		</div>
	   </div>
   {# {% endfor %} #}
</section>
