<section class="nintendo-contest-confirm">
    <div class="nintendo-contest-confirm-text-banner">
        {{ attach_library( 'quaker_contest/landing' ) }}
        {{ attach_library( 'quaker_contest/nintendo' ) }}
        <h1>{{ "Thanks for entering!" |t }}</h1>
        <div class="contest-description">
          <p>
            {{ "If you want to learn more about the Nintendo Switch system, visit <a target='_blank' href='https://www.nintendo.com/en_CA/switch'>https://www.nintendo.com/en_CA/switch</a>"|t}}
          </p>
          <br>
            <p>
                {{ "You’ve been successfully entered into the contest."|t}}
                        <br><br>
                {{"Draws will take place as outlined in the Official Rules.  We’ll be emailing potential winners, so make sure to keep an eye on your email (including that junk folder) so you don’t miss your chance to take home a Nintendo Switch<sup>TM</sup> bundle!"|t|raw }}
                <br>
                <br>
                {% if data.code != '' %}
                    {{"As a bonus for entering, here is your code for 100 My Nintendo<sup>TM</sup> Platinum Points. These points can be redeemed towards My Nintendo rewards like digital wallpapers or physical goods (while supplies last)."|t|raw}}
                {% endif %}
            </p><br>
        {% if data.code != '' %}
            <span class="contest-code">{{data.code }}</span>
            <p>{{' Redeem this code on the My Nintendo website <a target="_blank" href="https://my.nintendo.com/?lang=en-CA?cid=C1031-03-1">(https://my.nintendo.com/?lang=en-CA?cid=C1031-03-1)</a> and receive Platinum Points you can redeem to get some cool rewards. Each point code will give you 100 Platinum Points!
                <br><br>
                Follow these steps to redeem your point code:<br><br>

                1. Log in to my.nintendo.com with your Nintendo Account (or create a new one).<br>
                2. Click on Menu, then select “Redeem a point code”.<br>
                3. Enter the 16-digit point code when prompted and hit submit.<br>
                '|t}}
            </p>
            <br>
            <p style="font-size: 14px;">
                {{ "This My Nintendo Point Code can only be redeemed for Platinum Points once and must be redeemed by 09/12/2021.
                 A Nintendo Account is required to redeem the point code and receive points. By creating a Nintendo Account, the user is automatically enrolled in the My Nintendo rewards program.
                  Platinum Points expire if not used within 6 months of receipt. Point Codes have no cash value. <br><br>"|t}}

            </p>
        {% endif %}
            
            <p style="font-size: 14px;">
                {{"My Nintendo Rewards Programs Terms of Services apply: <a target='_blank' href='https://accounts.nintendo.com/term_point'>https://accounts.nintendo.com/term_point</a><br>
                Nintendo trademarks and copyrights are properties of Nintendo.
                "|t}}
            </p><br>


        </div>
    </div>

    <img class="nintendo-fritolay-img en desktop" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-switch-fritolay-v1.png" alt="nintendo-switch">
    <img class="nintendo-fritolay-img fr desktop" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-switch-fritolay-fr-v1.png" alt="nintendo-switch">

    <img class="nintendo-fritolay-img en mobile" src="/themes/tastytheme/src/images/contest-nintendo/fritolay-logo-white-v1.png" alt="nintendo-switch">
    <img class="nintendo-fritolay-img fr mobile" src="/themes/tastytheme/src/images/contest-nintendo/fritolay-logo-white-fr-v1.png" alt="nintendo-switch">
</section>




{#<section class="block__intro negative_margin menu_buffer">#}
{#        <div class="contest_page_content_block">#}
{#            <div class="intro_img_container">#}
{#                <img src="/themes/tastytheme/src/images/contest/img_description_v3.png" alt="" />#}
{#            </div>#}
{#        </div>#}
{#        <div class="description contest_page_content_block other animated-text-block">#}
{#                {{ attach_library( 'quaker_contest/landing' ) }}#}
{#                <h2>{{ "Thanks for entering!" |t }}</h2>#}
{#                <div class="contest-description">#}
{#                    <p>#}
{#                        {{ "You’ve been successfully entered into the contest. #}
{#                        <br>#}
{#                        Winners will be drawn weekly, so make sure to keep an eye on your email (including that junk folder) so you don’t miss your chance to take home a Nintendo Switch™ bundle!#}
{#                        <br>#}
{#                        As a bonus for entering, here is your code for 100 My Nintendo<sup>TM</sup> Platinum Points. These points can be redeemed towards My Nintendo rewards like digital wallpapers or physical goods (while supplies last). "|t|raw }} #}
{#                    </p>#}
{#                    <span class="contest-code">{{data.code }}</span>#}
{#                    <p>{{' Redeem this code on the My Nintendo website (https://my.nintendo.com/?lang=en-CA?cid=C1031-03-1) and receive Platinum Points you can redeem to get some cool rewards. Each point code will give you 100 Platinum Points! #}
{# #}
{#Follow these steps to redeem your point code: #}

{#Log in to my.nintendo.com with your Nintendo Account (or create a new one). #}
{#Click on Menu, then select “Redeem a point code”. #}
{#Enter the 16-digit point code when prompted and hit submit.#}
{#'|t}}#}
{#                    </p>#}
{#                </div>#}

{#        </div>#}
{#    </section>#}
