{{ attach_library( 'quaker_contest/fritolay' ) }}

<section class="nintendo-contest-banner">
	<a href="{{data.signup_link}}" tabindex="-1">
		<img class="nintendo-landing-desktop en" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-contest-banner-v1.jpg">
		<img class="nintendo-landing-desktop fr" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-contest-banner-fr-v1.jpg">

		<img class="nintendo-landing-mobile en" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-contest-landing-mobile-v1.jpg">
		<img class="nintendo-landing-mobile fr" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-contest-landing-mobile-fr-v1.jpg">
	</a>
</section>

<section class="nintendo-contest-fritolay-coupon-code">
		<div class="nintendo-contest-unlock-wrap nintendo-fritolay">
			<div class="nintendo-contest-unlock-img">
				<img src="/themes/tastytheme/src/images/contest-nintendo/fritolay-product-code.png">
			</div>

			<div class="nintendo-contest-text-wrap">
				<h3>{{'Grab a specially marked Frito-Lay<sup>®</sup> Variety Pack and use the code on the front to enter for your chance to WIN<sup>†</sup>'|t}}</h3>

				<p class="margin-bottom margin-top">
					{{"Ready to play? We’re giving away an epic Nintendo Switch bundle every single day (seriously)! <br> <br>
					Use the 16/19 digit codes under the date on the front of specially marked Frito-Lay<sup>®</sup> Variety Packs to submit your entry on the contest website for your chance to win†. <br> <br> <a href='/en-ca/contest/fritolaycontest/faq'>Learn more on our FAQ</a>."|t}}
				</p>

				<a class="btn_nintendo" href="{{data.signup_link}}" tabindex="-1">
					{{'Enter Now'|t}}
				</a>
			</div>
		</div>
</section>

<section class="nintendo-contest-unlock-switch">
		<div class="nintendo-contest-unlock-wrap nintendo-switch">
			<div class="nintendo-contest-text-wrap">
				<h3>{{'Unlock your chance to win a Nintendo Switch bundle!'|t}}</h3>

				<p class="margin-bottom margin-top">{{"Each day during the Contest, a Nintendo Switch<sup>™</sup> bundle is available to be won! <br><br>
				The prize includes a Nintendo Switch™ system PLUS your choice of 1 of the following games: Mario Golf<sup>™</sup>: Super Rush (launching on June 25th), Animal Crossing<sup>™</sup>: New Horizons, Super Mario<sup>™</sup> 3D World + Bowser’s Fury, Mario Kart<sup>™</sup> 8 Deluxe or The Legend of Zelda<sup>™</sup>: Breath of the Wild!<br><br>

				In addition, for each entry received, you will receive a bonus code for 100 My Nintendo<sup>™</sup> Platinum Points*. These points can be redeemed towards My Nintendo rewards like digital wallpapers or physical goods (while supplies last).<br><br>

				Prize may not be exactly as shown. Game will be awarded as a digital download."|t}}

				</p>

				<span style="font-size: 12px; display: block; width: 100%;">
					{{"*A Nintendo Account is required to receive and redeem My Nintendo points. Terms apply. <br> <a href='https://accounts.nintendo.com/term_point'>https://accounts.nintendo.com/term_point</a>."|t}}
				</span>
				<br><br>
				<a class="btn_nintendo" href="{{data.signup_link}}" tabindex="-1">
					{{'Enter Now'|t}}
				</a>
			</div>
			<div class="nintendo-contest-unlock-img">
				<img src="/themes/tastytheme/src/images/contest-nintendo/nintendo-switch-mario.png">
				<p class="nintendo-mario-text-position">{{"Prize not exactly as shown"|t}}</p>
			</div>
		</div>
</section>

<section class="nintendo-contest-fritolay-coupon-code">
		<div class="nintendo-contest-unlock-wrap nintendo-code">
			<div class="nintendo-contest-unlock-img">
				<img src="/themes/tastytheme/src/images/contest-nintendo/fritolay-coupon-code.png">
			</div>

			<div class="nintendo-contest-text-wrap">
				<h3>{{'Where to find my Code'|t}}</h3>

				<p class="margin-bottom margin-top">{{"The 16/19 digit codes is located under the date on the front of specially marked Frito-Lay<sup>®</sup> Variety Packs! Don't forget to include the colon."|t}}</p>


				<a class="btn_nintendo" href="{{data.signup_link}}" tabindex="-1">
					{{'Enter Now'|t}}
				</a>
			</div>
		</div>
</section>








{#<section id="headlines">#}
{#	<div class="row mv-signatures-sidebyside-block center-align-md-dsk">#}

{#	   <div class="col-md-6">#}
{#	     <img src="/themes/tastytheme/src/images/contest-nintendo/fritolay-product-code.png">#}
{#	   </div>#}
{#	   <div class="col-md-6 mv-signatures-sidebyside-block-copy text-left">#}
{#	 	    <h3>{{'Upgrade your summer swagggggg!'|t}}</h3>#}

{#			<h4 class="padding-top-half">{{"We’re giving away some exclusive summer swag inspired by your favourite brands — with instant prizes available Every. Single. Week. #}

{#				Just enter the 9-digit code on specially marked bags (look under the printed date on the front) to see if you are eligible to win†! #}

{#				Learn more on our FAQ.#}
{#				"|t}}</h4>#}

{#			<a class="btn_red js-legal-old" href="{{data.signup_link}}" tabindex="-1">#}
{#                {{'Enter Now'|t}}#}
{#              </a>#}

{#   		</div>#}
{#   </div>#}

{#   #}{# {% for prize in data.prizes %} #}
{#	   <div class="row mv-signatures-sidebyside-block center-align-md-dsk">#}

{#		   <div class="col-md-6">#}
{#		     <img src="/sites/default/files/2020-06/P7-P8%20Contest%20landing%20page_EN_0.jpg"typeof="foaf:Image" class="w-100">#}
{#		   </div>#}
{#		   <div class="col-md-6 mv-signatures-sidebyside-block-copy text-left">#}
{#		 	    <h3>{{"Hundreds of prizes available each week!"|t}}</h3>#}

{#				<h4 class="padding-top-half">{{"Including hats, fanny packs, beach balls, wireless speakers, and other limited-edition gear to spice up your summer style!  #}

{#						Learn more on our FAQ.#}

{#						Prizes not exactly as shown.#}
{#						"|t}}.</h4>#}
{#				<a class="btn_red js-legal-old" href="{{data.signup_link}}" tabindex="-1">#}
{#	                {{'Enter Now'|t}}#}
{#	              </a>#}

{#	   		</div>#}
{#	   </div>#}
{#   #}{# {% endfor %} #}
{#</section>#}


{#<section id="nintendo-contest-code">#}
{#	<div class="container">#}
{#		<h4> {{'Where to find my UPC'|t}} </h4>#}
{#		<div class="upc-description">#}
{#			<p>#}
{#				{{'Find your 12 digit UPC under the barcode on packages of Lays\'s products '|t}}#}
{#			</p>#}
{#		</div>#}
{#	</div>#}
{#</section>#}

<section id="nintendo-landing-contest-rules">
	<div class="container">
		<div>
			{{data.legal_footer|raw}}
		</div>
{#		<span class="rules">#}
{#			<a href="{{data.rules_link}}">{{'Read our complete rules'|t}}</a>#}
{#		</span>#}
		<div class="nintendo-landing-contest-rules-text-wrap">
{#			<a class="btn_nintendo" href="/en-ca/contest/fritolaycontest/officialrules">{{'Official Rules'|t}}</a><br>#}
			<a class="btn_nintendo" href="{{data.rules_link}}">{{'Official Rules'|t }}</a>
			<br>
			<p>{{'Games shown:'|t}}</p>

		</div>
		<img src="/themes/tastytheme/src/images/contest-nintendo/esrb-logo.png">
	</div>
</section>