{{ attach_library( 'quaker_contest/hockey' ) }}

<section id="quaker-hockey-contest">
    <div class="quaker-hockey-banner">
        <div class="banner_slide--text  contest-banner-text">
          <img class="hockey-hungry en" src="/themes/brandstheme/src/images/quaker/hockey-contest/hockey-hungry.png" alt="hockey hungry logo tag">
          <img class="hockey-hungry fr" src="/themes/brandstheme/src/images/quaker/hockey-contest/hockey-hungry-fr.png" alt="hockey hungry logo tag">
          <h1>{{'Quaker<sup>®</sup> Hockey Hungry Contest.' |t}}</h1>
          <p>{{'Make Quaker<sup>®</sup> Oatmeal your first score of the day for a chance to win<sup>†</sup> from Quaker<sup>®</sup>
              and Hockey Canada<sup>®</sup>!' |t}}</p>
{#          <a class="learn-more" href="#">{{ 'Learn More' |t }}</a>#}
          <br>
          <div class="banner-enter-now">
          <a class = "text-uppercase text-white" href = "/{{data.lang_prefix}}/contest/quakerhockeyhungry/participate">{{ 'Enter Now' |t }}</a>
          </div>
        </div>

      <div class = "noMobile-sm">
        <img class="hockey-product-img hockey-banner en" src="/themes/brandstheme/src/images/quaker/hockey-contest/Quaker-Hockey_Top-Banner.jpeg" alt="quaker products">
        <img class="hockey-product-img hockey-banner fr" src="/themes/brandstheme/src/images/quaker/hockey-contest/Quaker-Hockey_Top-Banner-fr.jpeg" alt="quaker products">
        <div class="hockey-logo">
          <img class="hockey-canada-banner-logo-img en" src="/themes/brandstheme/src/images/quaker/hockey-contest/hockey-logo.png" alt="Campbell logo">
          <img class="hockey-canada-banner-logo-img fr" src="/themes/brandstheme/src/images/quaker/hockey-contest/hockey-logo-fr.png" alt="Campbell logo">
        </div>
      </div>

      <div class = "noDesktop-sm">
        <img class = "en" src ="/themes/brandstheme/src/images/quaker/hockey-contest/hockey-product.png" alt = "quaker product"/>
        <img class = "fr" src ="/themes/brandstheme/src/images/quaker/hockey-contest/hockey-product-fr.png" alt = "quaker product"/>
      </div>

{#        <div class="banner_slide--text {{class_pos}} contest-banner-text">#}
{#            <img class="hockey-hungry" src="/themes/brandstheme/src/images/quaker/campbell/hockey-hungry.png" alt="hockey hungry logo tag" />#}
{#            <h1>{{ "Quaker<sup>®</sup> Hockey Hungry Contest." | trans}}</h1>#}
{#            <br>#}
{#            <span>{{ "Make Quaker<sup>®</sup> Oatmeal your first score of the day for a chance to win top shelf prizes from Quaker<sup>®</sup> and Hockey Canada<sup>®</sup>!" | trans}}</span>#}
{#        </div>#}
{#      <img class="hockey-canada-banner-logo" src="/themes/brandstheme/src/images/quaker/hockey-contest/hockey-canada-banner-logo.png" alt = "banner logo" />#}
{#        <img class="hockey-banner-item" src="/themes/brandstheme/src/images/quaker/hockey-contest/quaker-product.png" alt="quaker products" />#}
{#    </div>#}


      </div>




    <div class="quaker-hockey-block-container">
        <div class="quaker-hockey-block container">
          <img class = "en" src="/themes/brandstheme/src/images/quaker/hockey-contest/grand-prize-en.png" alt="sportchek canada prize" />
          <img class = "fr" src="/themes/brandstheme/src/images/quaker/hockey-contest/grand-prize-fr.png" alt="sportchek canada prize" />

            <div class="quaker-barcode-text-wrap">
                <h3>{{'Enter for a chance to win<sup>†</sup> prizes from Quaker<sup>®</sup> and Hockey Canada<sup>®</sup>!'|t}}</h3>

                <p>{{'You can always count on Quaker<sup>®</sup> instant oatmeal for a warm meal before your family heads to the rink. And this season, your purchase of participating Quaker<sup>®</sup> instant oatmeal products gives you a chance to score some exclusive prizes from our friends at Hockey Canada<sup>®</sup> — including 1 of 10 Hockey Canada<sup>®</sup> Grand Prize Packs – each with an ARV of $1,500!'|t}}</p>
                <button class="quaker-hockey-contest-button js-entercontest" data-link="{{data.signup_link}}">{{'Enter Now' |t }}</button>
            </div>
        </div>

        <div class="quaker-hockey-block container">
            <div class="quaker-barcode-text-wrap" style="text-align: right;">

                <h3>{{'Take your shot for a chance to win<sup>†</sup>!'|t}}</h3>
                <p>{{'Instant win prizes include Quaker<sup>®</sup> Free Product Coupons and Quaker<sup>®</sup> Oatmeal Travelers - plus a chance to win one of 10 Hockey Canada<sup>®</sup> Grand Prize Packs – each including a signed Team Canada<sup>®</sup> replica jersey, one (1) $500 Hockey Canada<sup>®</sup> gift card, and one (1) $500 Sport Chek<sup>®</sup> / Sports Experts<sup>®</sup> gift card!
                    <br> <br> <a href="/en-ca/contest/quakerhockeyhungry/prizes">Learn more about our prizes!</a>'|t}}</p>
                <button class="quaker-hockey-contest-button js-entercontest" data-link="{{data.signup_link}}">{{'Enter Now' |t }}</button>
            </div>

            <img class="food-bank-canada-en en" src="/themes/brandstheme/src/images/quaker/hockey-contest/quacker-hockey-instantprizes.png" alt="quaker campbell barcode" />
          <img class="food-bank-canada-en fr" src="/themes/brandstheme/src/images/quaker/hockey-contest/quaker-hockey-instantprizes-fr.png" alt="quaker campbell barcode" />
        </div>
    </div>

    <div class="quaker-recipe-coupon">
        <div class="container">
        <div class="quaker-recipe-coupon-goalie">

          <div class="quaker-barcode-col">
            <img class = "hockey-canada-barcode en" src="/themes/brandstheme/src/images/quaker/hockey-contest/quaker-barcode.png" alt="quaker hockey barcode" />
            <img class = "hockey-canada-barcode fr" src="/themes/brandstheme/src/images/quaker/hockey-contest/quaker-barcode-fr.png" alt="quaker hockey barcode" />

          </div>

          <div class = "quaker-find-upc text-left">
            <div>
            <h3 class="text-uppercase text-white">{{'WHERE TO FIND YOUR UPC'|t}}</h3>
            <p class = "text-white">{{'Find the UPC on the bottom of participating Quaker<sup>®</sup> Instant Oatmeal products! See the <a class="quaker-hockey-upc-link" href="/en-ca/contest/quakerhockeyhungry/officialrules">Official Rules</a> for details.'|t}}</p>
            <div style = "width:100%; margin-top: 30px;">
            <a class="quaker-hockey-contest-button hockey-upc-btn" href="/en-ca/contest/quakerhockeyhungry/participate">{{'Enter Now'|t}}</a>
            </div>
            </div>
          </div>

{#            <div class="quaker-recipe-coupon-col">#}
{#                <h3>{{'RECIPES'|t}}</h3>#}
{#                <p>{{'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ut labore.'|t}}</p>#}
{#                <img src="/themes/brandstheme/src/images/quaker/hockey-contest/contest-recipe.jpg" alt="Logo of Tasty Rewards" />#}
{#                <a class="quaker-hockey-contest-button" href="">{{'VIEW COUPONS'|t}}</a>#}
{#            </div>#}
{#            <div class="quaker-recipe-coupon-col">#}
{#                <h3>{{'COUPONS'|t}}</h3>#}
{#                <p>{{'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ut labore.'|t}}</p>#}
{#                <img src="/themes/brandstheme/src/images/quaker/hockey-contest/contest-coupon.jpg" alt="Logo of Tasty Rewards" />#}
{#                <a class="quaker-hockey-contest-button" href="">{{'VIEW RECIPES'|t}}</a>#}
{#            </div>#}

        </div>
        </div>
    </div>

    <div class="quaker-hockey-official-rules">
        <div class="container">
            {{'† No purchase necessary. Open to Canadian residents only, age of majority or older. Mathematical skill-testing question required. Contest Period: September 27 at 12:00pm (noon) ET to December 5, 2021 at 11:59:59pm ET. Instant Prizes available: (i) 9,000 Free Product Coupons (ARV $5.99 each); (ii) 1,000 Quaker<sup>®</sup> Oatmeal Travelers (ARV $20 each). Grand Prizes available: (i) 10 Hockey Canada<sup>®</sup> Prize Packs (1 per week/ARV $1,500 each). Chances of winning: (i) Instant Prize, depend on when entry played; (ii) Grand Prize, depend on entries received. Max 1 UPC per day. Prizes diminish as awarded. Details & Official Rules,'|t}}
          <a style = "font-size: 17px" href = "{{data.rules_link}}"> {{ 'click here.'|t }}</a>


            <div class="quaker-hockey-official-rules-links">
                <a class="quaker-hockey-contest-rules-button" href="{{data.rules_link}}">{{'OFFICIAL RULES'|t}}</a>
                <a class="quaker-hockey-contest-rules-button" href="{{data.prize_link}}">{{'PRIZES'|t}}</a>
                <a class="quaker-hockey-contest-rules-button" href="{{data.faq_link}}">{{'FAQ'|t}}</a>
            </div>
        </div>
    </div>
</section>



{#<section class="hockey-contest-banner ">#}
{#  <div class = "container-fluid">#}
{#    <div class = "row p-5 landing-banner">#}


{#        <div class = "col-lg-6 hockey-prizes d-flex" >#}
{#          #}
{#          <h2>{{'#HOCKEYHUNGRY'|t}}</h2>#}
{#          <h3>{{'Quaker Hockey Hungry Contest.'|t}}</h3>#}
{#          <p class = ""> {{ 'Make Quaker Oatmeal your first score of the day for a chance to win top shell prizes from Quaker and Hockey Canada!'|t}} </p>#}
{#          <button class = "button-style text-uppercase  js-entercontest opensans-semibold" data-link="{{data.signup_link}}">{{ 'Enter Now'|t }}</button>#}

{#        </div>#}


{#    </div>#}



{#    <div class = "row  pt-2 pb-5">#}

{#        <div class = "col-lg-6 text-center hockey-packshots">#}
{#          #}{# <img class = "mw-100 w-100" src = "/themes/tastytheme/src/images/grab-snack/upgrade-img.png" alt = "hockey-packshots"/> #}
{#        </div>#}
{#        <div class = "col-lg-6 summer-swag">#}
{#          <div class ="summerswag-text-wrap">#}
{#          <h2 class = "">{{ 'Enter for a chance to win prizes from Quaker and hockey Canada!'|t }}</h2>#}
{#          <p class = "mb-1 opensans-semibold mb-1">{{ 'You can always count on Quaker instant oatmeal for a warm meal before your family heads to the rink. And....'|t }}#}
{#          </p>#}
{#          <p class = "opensans-semibold ">{{ 'Just enter the 9-digit code on specially marked bags (look under the printed date on the front) to see if you are eligible to win<sup>†</sup>!'|t }} <br> <br>#}
{#          </p>#}
{#          <a class = "opensans-semibold  color-link" href = "{{data.faq_link}}">{{'Learn more on our FAQ.' |t }}</a>#}

{#          <div class = "summer-swag-btn">#}

{#          <button class = "button-style text-uppercase opensans-semibold  js-entercontest" data-link="{{data.signup_link}}" style = "width:auto">{{ 'Enter Now'|t }}</button>#}

{#          </div>#}
{#        </div>#}
{#    </div>#}
{#  </div>#}

{#</section>#}


