
<section class="nintendo-contest-banner">
		<img class="nintendo-landing-desktop noMobile en" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/top-banner.png" alt = "anner">
		<img class="nintendo-landing-desktop noMobile fr" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/top-banner-fr.png" alt = "banner">
		<div class = "noDesktop banner-mb en">
      <img src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/win-everyday-mb.png" style = "width:250px" alt = "win everyday">
      <img class = "w-100" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/console.png" alt = "console">
      <p class = "text-uppercase text-white robo-font">{{ '1 des 3 ensembles Nintendo Switch™ - Modèle OLED chaque jour '|t }}</p>
      <img class = "mario-mb" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/mario-header-mb.png">
    </div>
    <div class = "noDesktop banner-mb fr">
      <img src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/win-everyday-mb-fr.png" style = "width:250px" alt = "win everyday">
      <img class = "w-100" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/console.png" alt = "console">
      <p class = "text-uppercase text-white robo-font">{{ '1 des 3 ensembles Nintendo Switch™ - Modèle OLED <br> chaque jour'|t }}</p>
      <img class = "mario-mb" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/mario-header-mb.png" alt = "mario">
    </div>

  <div class = "top-btn">
    <a class="btn_nintendo_red" href="{{data.signup_link}}" tabindex="-1">
      {{'Participer maintenant'|t}}
    </a>
    <p>{{ 'Le prix peut différer de celui illustré.' |t }}</p>
  </div>
</section>

<div class="nintendo-background-main-wrapper">

    <section class="nintendo-contest-fritolay-coupon-code how-to-enter">
      <img class = "coin-bg" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/coin.png" alt = "coin">
            <div class="nintendo-contest-unlock-wrap nintendo-fritolay container row m-auto">
                <div class="nintendo-contest-unlock-img col-lg-6">
                    <img class = "enter-img en" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/fritolay-product-code.png" alt = "product code">
                  <img class = "enter-img fr" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/fritolay-product-code-fr.png" alt = "product code">
                </div>

                <div class="nintendo-contest-text-wrap col-lg-6">
                    <h3 class = "enter-heading">{{'COMMENT PARTICIPER'|t}}</h3><br>
                    <span class="nintendo-contest-text-wrap-sub">{{'ACHETEZ'|t}}</span>

                    <p class="margin-bottom margin-top enter-text">
                        {{"un emballage de produits assortis Frito-Lay<sup>®</sup> ou un produit Quaker<sup>®</sup> participant. <br> Consultez le <a href = '/fr-ca/contest/fritolayquakercontest/officialrules'>Règlement officiel</a> pour obtenir la liste complète."|t}}
                    </p>

                    <span class="nintendo-contest-text-wrap-sub">{{'ENTREZ UN CUP'|t}}</span>

                    <p class="margin-bottom margin-top upc-text">
                        {{"<span style='font-weight: bold;'>Entrez</span> le CUP à 12 chiffres figurant sous le code-barres des emballages de produits assortis Frito-Lay<sup>®</sup> et des produits Quaker<sup>®</sup> participants. <br><br>

                        Voir ci-dessous pour une référence visuelle.<br><br>
                        <span style='font-weight: bold;'>Vous pourriez GAGNER<sup>†</sup></span> 1 des 3 ensembles Nintendo Switch™ – Modèle OLED CHAQUE JOUR!.<br><br>
                        Voir la description des prix ci-dessous.
                        "|t}}
                    </p>

                    <a class="btn_nintendo" href="{{data.signup_link}}" tabindex="-1">
                        {{'Participer maintenant'|t}}
                    </a>
                </div>
            </div>
    </section>

    <section class="nintendo-contest-participating participating-contain">
      <img class = "star-bg" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/star.png" alt = "star">
        <h3>{{'PRODUITS PARTICIPANTS'|t}}</h3>
        <div class="nintendo-content-participating-wrap slick">
            <div class="nintendo-content-participating-div slide text-center">
                <div class="nintendo-content-participating-img">
                    <img src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/3x-entries.png" alt = "3x entries" >
                </div>
                <span class="nintendo-contest-text-wrap-sub">
                    {{'Vaut trois inscriptions'|t}}
                </span>
              <div class="text-center entries-subtext">
              <p class = "text-white">{{ 'Lorsque vous entrez le code CUP de l’un de ces produits.' |t }}</p>
              </div>
              </div>
            <div class="nintendo-content-participating-div slide text-center">
                <div class="nintendo-content-participating-img">
                    <img class = "en" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/2x-entries.png" alt = "2x entries">
                  <img class = "fr" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/2x-entries-fr.png" alt = "2x entries">
                </div>
                <span class="nintendo-contest-text-wrap-sub">
                    {{'Vaut deux inscriptions'|t}}
                </span>
              <div class="text-center entries-subtext">
              <p class = "text-white">{{ 'Lorsque vous entrez le code CUP de l’un de ces produits.'|t }}</p>
              </div>
            </div>
            <div class="nintendo-content-participating-div slide text-center">
                <div class="nintendo-content-participating-img">
                    <img src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/1x-entries.png" alt = "1x entries">
                </div>
                <span class="nintendo-contest-text-wrap-sub">
                    {{'Vaut une inscription'|t}}
                </span>
              <div class="text-center entries-subtext">
              <p class = "text-white">{{ 'Lorsque vous entrez le code CUP de l’un de ces produits' |t }}</p>
              </div>
              </div>
        </div>
      <p class="rules text-white open-font text-center">{{ "Voir le <a href = '/fr-ca/contest/fritolayquakercontest/officialrules'>  règlement officiel </a> pour obtenir les détails."|t }}</p>
    </section>

  <section class="nintendo-contest-fritolay-coupon-code prize-section">

    <img class = "dice-bg" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/dice.png" alt = "dice">

    <div class="nintendo-contest-unlock-wrap nintendo-code row container">
      <div class="nintendo-contest-unlock-img col-md-6 console-image">
        <img class = "noMobile" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/white-switch.png" alt = "white switch">

        <p class = "text-white open-font noMobile">{{ 'La console Nintendo Switch – Modèle OLED est conçue pour convenir à votre style de vie, se transformant de console de salon en console portable en un clin d’œil.'|t }}</p>


      </div>

      <div class="nintendo-contest-text-wrap col-lg-6">
        <div>
        <h3>{{'DESCRIPTION DES PRIX'|t}}</h3>

        <p class="margin-bottom-max margin-top">{{"Il y a trois consoles Nintendo Switch™ – Modèle OLED à gagner chaque jour, avec un code pour télécharger l’un des quatre jeux numériques! Pour en savoir plus, consultez notre <a href='/fr-ca/contest/fritolayquakercontest/faq'>foire aux questions</a>.<br><br>
Le prix peut différer de celui illustré. Le jeu choisi sera offert en version numérique téléchargeable."|t}}</p>
          <a class="btn_nintendo_red" href="{{data.signup_link}}" tabindex="-1">
            {{'Participer maintenant'|t}}
          </a>
        </div>
        <div style = "margin-top:40px">
          <img class = "noDesktop" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/white-switch.png" alt = "white switch">
          <p class = "text-white open-font noDesktop margin-bottom">{{ 'La console Nintendo Switch – Modèle OLED est conçue pour convenir à votre style de vie, se transformant de console de salon en console portable en un clin d’œil.'|t }}</p>
        <h3>{{'EN PRIME!'|t}}</h3>
        <p class="margin-bottom margin-top">{{"Lors de votre première participation, vous recevrez un code vous permettant d’obtenir 100 points platine My Nintendo™* échangeables contre des récompenses My Nintendo, comme des fonds d’écran ou des articles (jusqu’à épuisement des stocks)."|t}}</p>




          <p class="margin-bottom bonus-copy">{{ "<span class = 'legal-copy'>*Un compte Nintendo est requis pour recevoir et échanger des points My Nintendo. Des conditions s’appliquent.
          <a class = 'account' href = 'https://accounts.nintendo.com/term_point'>https://accounts.nintendo.com/term_point.</a></span>" |t }}</p>
        </div>

      </div>
    </div>
  </section>


    <section class="nintendo-contest-participating pick-game">
      <div class = "container">
        <h3 class = "text-uppercase">{{'Plus, un des quatre jeux au choix parmi les suivants!'|t}}</h3>
        <div class="nintendo-content-participating-wrap nintendo-contest-game slick">
            <div class="nintendo-content-participating-div">
                <img src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/mario-party.png" alt = "mario party">
              <div class = "participate-text">
                <span class="nintendo-contest-text-wrap-sub">
                    {{'Mario Party<sup>TM</sup> <br> Superstars'|t}}
                </span>

                <button class="btn_nintendo mario-party-js">{{'EN SAVOIR PLUS'|t}}</button>
              </div>
            </div>
            <div class="nintendo-content-participating-div">
                <img src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/kirby.png" alt = "kirby">
              <div class = "participate-text">
                <span class="nintendo-contest-text-wrap-sub">
                    {{'KIRBY<sup>TM</sup> and the <br> forgotten land'|t}}
                </span>

                <button class="btn_nintendo kirby-btn-js">{{'EN SAVOIR PLUS'|t}}</button>

{#                <a class="btn_nintendo kirby-btn-js" href="" tabindex="-1">#}
{#                    {{'LEARN MORE'|t}}#}
{#                </a>#}
              </div>
            </div>
            <div class="nintendo-content-participating-div">
                <img src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/pokemon-arceus.png" alt = "pokemon">
                <span class="nintendo-contest-text-wrap-sub">
                  <div class = "participate-text">
                    <span class="nintendo-contest-text-wrap-sub">
                    {{'Pokémon<sup>TM</sup> <br> LEGENDS: ARCEUS'|t}}
                </span>

                    <button class="btn_nintendo pokemon-btn-js">{{'EN SAVOIR PLUS'|t}}</button>

{#                <a class="btn_nintendo pokemon-btn-js" href="{{data.signup_link}}" tabindex="-1">#}
{#                    {{'LEARN MORE'|t}}#}
{#                </a>#}
            </div>
            </div>
            <div class="nintendo-content-participating-div">
                <img src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/mario-deluxe.png" alt = "mario deluxe">
              <div class = "participate-text">
                <span class="nintendo-contest-text-wrap-sub">
                    {{'Mario Kart<sup>TM</sup> 8 <br> Deluxe'|t}}
                </span>

                <button class="btn_nintendo mariokart-btn-js"> {{'EN SAVOIR PLUS'|t}}</button>

              </div>
            </div>
        </div>





        <div id="game-description-carousel" class="carousel slide d-none" data-interval="false" data-ride="carousel">

          <div>
            <button class="back-link">
            <i class="fa fa-angle-left text-white" aria-hidden="true"></i>
          <span class = "text-white back-text">{{ 'RETOUR' |t }}</span>
            </button>
          </div>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active mario-game">
              <div class="mario-party-superstar-description item active game-description container row">
                <div class = "col-lg-5 description-img mario">
                  {#          <img class = "mario-img" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/mario-party-description.png" alt = "mario">#}
                </div>
                <div class = "game-description-text col-lg-5">
                  <h2 class = "text-white text-center">{{ 'Mario Party<sup>TM</sup> <br> Superstars' |t }}</h2>
                  <div>
                    <p class = "text-white description-text">{{ 'Amusez-vous et prouvez que vous êtes la vedette des jeux de société dans le jeu Mario Party™ Superstars! <br><br>
Lancez votre dé et faites la course pour obtenir un maximum d’étoiles (et sabotez vos adversaires) dans 5 plateaux. Avec des minijeux, des fantômes voleurs d’étoiles et Bowser le fauteur de troubles, vous pouvez retourner une situation contre vos amis et votre famille* en un instant.<br><br>
*Jeux, consoles et/ou accessoires supplémentaires pourraient être requis pour le mode multijoueur. Jeux, consoles et certains accessoires vendus séparément.' |t }}</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="item kirby-game">
              <div class="kirby-forgotten-land-description game-description container row">
                <div class = "col-lg-5 description-img kirby">
                </div>
                <div class = "game-description-text kirby-description-text col-lg-5">
                  <h2 class = "text-white text-center">{{ 'Kirby<sup>TM</sup> and the Forgotten Land' |t }}</h2>
                  <div>
                    <p class = "text-white description-text">{{ "Prenez le contrôle de la puissante boule rose dans un nouveau jeu de Kirby, offert sur la console Nintendo Switch dès le 25 mars : Kirby and the Forgotten Land. <br><br>
            Découvrez un monde mystérieux rempli de ruines d'une ancienne civilisation. Copiez les pouvoirs des ennemis, tels que les nouveaux pouvoirs Foreuse et Explorateur, et utilisez-les pour attaquer, explorer et sauver les Waddle Dees.<br><br>
             Faites équipe avec un deuxième joueur qui pourra vous aider en contrôlant Bandana Waddle Dee et sauvez ce monde oublié ensemble. Quelles péripéties attendent Kirby?<br><br>
Du 25 mars au 22 mai, échangez ce code cadeau à la messagerie Waddle Dee dans le jeu Kirby and the Forgotten Land pour obtenir des objets utiles dans le jeu : <span>KIRBYSNACKS</span><br><br>
Vous recevrez :
<ul>
<li>250 pièces étoile</li>
<li>1 objet en stock</li>
<li>1 aliment</li>
</ul>" |t }}</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="item pokemon-game">
              <div class="pokemon-description game-description container row">
                <div class = "col-lg-5 description-img pokemon">
                </div>
                <div class = "game-description-text kirby-description-text col-lg-5">
                  <h2 class = "text-white text-center">{{ 'Pokémon<sup>TM</sup> Legends: Arceus' |t }}</h2>
                  <div>
                    <p class = "text-white description-text">{{ 'Préparez-vous pour un nouveau type de grande aventure Pokémon dans le jeu Pokémon™ Legends: Arceus! <br><br>
            Embarquez dans des missions dans l’ancienne région de Hisui. Explorez des étendues naturelles pour capturer des Pokémon sauvages en apprenant leurs habitudes, vous faufilant, et puis en lançant une Poké Ball™ bien visée. Vous pouvez aussi lancer la Poké Ball contenant votre Pokémon allié près d’un Pokémon sauvage pour engager un combat.' |t }}</p>
                  </div>
                </div>
              </div>
            </div>

            <div class = "item mariokart-game">
              <div class="mario-kart-description game-description container row">
                <div class = "col-lg-5 description-img mario-kart">
                </div>
                <div class = "game-description-text kirby-description-text col-lg-5">
                  <h2 class = "text-white text-center">{{ 'Mario Kart<sup>TM</sup> 8 Deluxe' |t }}</h2>
                  <div>
                    <p class = "text-white description-text">{{ 'Prenez la route avec le jeu Mario Kart™ 8 Deluxe et jouez n’importe où, n’importe quand! Coursez contre vos amis ou affrontez-les dans un mode bataille. De plus, les Inklings apparaîtront comme personnages invités et certains personnages favoris tels que Roi Boo, Skelex et Bowser Jr. seront aussi de la partie!<br><br>
            <span class = "text-bold">Doublez vos options de circuit avec la passe de circuits additionnels Mario Kart 8 Deluxe!</span><br>
             NOUVEAU! Un total de 48 circuits rematricés de la série Mario Kart™ fonce dans le jeu Mario Kart 8 Deluxe comme contenu téléchargeable payant. Les circuits incluent ceux basés sur les lieux de la vie réelle comme Promenade à Paris et Traversée de Tokyo du jeu Mario Kart Tour, en plus des favoris nostalgiques comme Montagne Choco de N64 et Supermarché Coco de la Wii! Le contenu sera offert en 6 vagues de 8 circuits du 18 mars 2022 jusqu’à la fin de 2023.' |t }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#game-description-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#game-description-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>


      </div>


</div>
    </section>

    <section class="nintendo-contest-unlock-switch find-code">
        <div class="nintendo-contest-unlock-wrap nintendo-switch row container">
            <div class="nintendo-contest-text-wrap col-md-5">
                <h3>{{'Où puis-je trouver mon code?'|t}}</h3>

                <p class="margin-bottom margin-top">
                    {{"Le CUP de 12 chiffres se trouve sous le code-barres des emballages de produits assortis Frito-Lay<sup>®</sup> et des produits Quaker<sup>®</sup> participants (consultez le <a href = '/fr-ca/contest/fritolayquakercontest/officialrules'> Règlement officiel </a> du concours pour obtenir la liste complète des produits)"|t}}
                </p>

                <a class="btn_nintendo" href="{{ '/fr-ca/contest/fritolayquakercontest/participate' |t }}" tabindex="-1">
                    {{'Participer maintenant'|t}}
                </a>
            </div>
            <div class="nintendo-contest-unlock-img col-md-7">
                <img class = "en" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/find-code.png" alt = "find code">
              <img class = "fr" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/find-code-fr.png" alt = "find code">
            </div>
        </div>
    </section>

      <section class="nintendo-contest-unlock-switch nintendo-switch">
              <div class="nintendo-contest-unlock-wrap find-code-nintendo container row">
                  <div class="nintendo-contest-text-wrap find-code-text col-lg-6">
                      <h3>{{'Vous n’avez pas encore participé?'|t}}</h3>

                      <p class="margin-bottom margin-top fr-days-text">
                          {{"Participez chaque jour pour augmenter vos chances de gagner! N’oubliez pas, vous avez droit à un maximum de 3 inscriptions par jour."|t}}
                      </p>
                  </div>
                  <div class="nintendo-contest-unlock-img days-count col-lg-6">
                    <div class = "days-text">
                      {# <h2 class = "days">{{ '32' |t }}</h2> #}
                      <h2 class = "days">{{ data.days_til_end }}</h2>
                      <h2 class = "text-uppercase days-to">{{ 'jours' |t }}</h2>
                    </div>
                      <img class = "mario-days-count" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/mario-days.png" alt = "days">
                  </div>
              </div>
      </section>
</div>


<section class="nintendo-landing-contest-rules">

  <img class = "logo-nintendo" src="/themes/tastytheme/src/images/contest-nintendo/nintendo-microsite/rules-logo.png" alt = "logo">

	<div class="container">
		<div class="margin-bottom margin-top">
			{{data.legal_footer|raw}}
		</div>
{#		<span class="rules">#}
{#			<a href="{{data.rules_link}}">{{'Read our complete rules'|t}}</a>#}
{#		</span>#}
		<div class="nintendo-landing-contest-rules-text-wrap">
			<a class="btn_nintendo rules_btn" href="{{ '/fr-ca/contest/fritolayquakercontest/officialrules' |t }}">{{'Règlement officiel'|t}}</a><br>
			<a class="btn_nintendo" href="{{ '/fr-ca/contest/fritolayquakercontest/faq' |t }}">{{'FAQ'|t }}</a>
			<br>

		</div>
    <div class = "margin-top">
    <p>{{'Jeux illustrés:'|t}}</p>
		<img src="/themes/tastytheme/src/images/contest-nintendo/esrb-logo.png" alt = "esrb logo">
    </div>
	</div>
</section>

