{#{ kint(data) }#}
{#{ form}#}
<script type="text/javascript"><!--
language = '{{ data.language }}'
//-->
</script>
{{ attach_library( 'pepsibam/pepsiupdatepasswordlibrary' ) }}
<section id="contentBlocks" class="container-fluid">
<form data-toggle="validator" role="form" id='updatepassword-form'>
    
    <div class="col-sm-12 text-center">

       <div class="row updatepassword-fields">
       <h1 class="pink signika">{{ 'Update Password'|t }}</h1>
            <div class="col-sm-6 form-group">
                
                <input type="password" name='password' id='password' placeholder="{{ 'Password'|t }}" class="form-control">
                <span class="help-block err_password"></span>
            </div>	
            <div class="col-sm-6 form-group">
                
                <input type="password" name='confirm_password' id='confirm_password' placeholder="{{ 'Confirm Password'|t }}" class="form-control">
                <span class="help-block err_confirm_password"></span>
            </div>	
                <em class="grey"><small>{{ 'Must have a minimum of 8 & maximum of 16 characters containing only numbers and letters. Must include at least one number, one uppercase letter, one lowercase letter.'|t }}</small></em> 
        </div>
        
        
        <input type="hidden" name='csrfToken' id='csrfToken' value="{{data.csrfToken?:''}}">
        <input type="hidden" name='uritoken' id='uritoken' value="{{data.uritoken?:''}}">
        <button type="button" class="btn btn_red btnregister">{{ 'Submit'|t }} <span class="glyphicon glyphicon-spin"></span></button>
        
        <div class="row">
            <div class="col-sm-12 form-group">
                <div id='form'>
                <span class="help-block err_form"></span>
                </div>
            </div>	
        </div>        
        
    </div>
</form> 
</section>